In [276]:
# -*- coding: utf-8 -*-
import pandas as pd

In [459]:
def table_generation(df,grouping, grouping_text):
    lines = []
    lines.append('<table class="table table-bordered sortable" id="dataTable" width="100%" cellspacing="0">\n')
    lines.append('<thead>\n')
    #lines.append('<col>\n')    
    
    #for group in grouping:
    #    lines.append('<colgroup span="{}"</colgroup>\n'.format(group))    
        
    lines.append('  <tr>\n')
    lines.append('  <th rowspan="2"></th>\n') 
    
    for group, txt in zip(grouping, grouping_text):    
        lines.append('  <th colspan="{}" scope="colgroup">{}</th>\n'.format(group, txt)) 
    
    lines.append('  </tr>\n')    
    
    lines.append('  <tr>\n')
    #lines.append('    <th scope="col"></th>\n')
    for i, col in enumerate(df.columns):
        if i==0:
            lines.append('    <th scope="col" class="sorttable_sorted">{} <span id="sorttable_sortfwdind">&nbsp;â–¾</span> </th>\n'.format(col))
        else:
            lines.append('    <th scope="col">{}</th>\n'.format(col))

    lines.append('  </tr>\n')
    lines.append('</thead>\n')

    lines.append('<tfoot>\n')
    lines.append('  <tr>\n')
    for col in df.columns:
        lines.append('    <th>{}</th>\n'.format(col))
    
    lines.append('  </tr>\n')
    lines.append('</tfoot>\n')

    lines.append('<tbody>\n')

    for i, r in df.iterrows():
        lines.append('  <tr>\n')
        lines.append('  <td class="index"></td>\n')        
        for col in df.columns:    
            lines.append('    <td>{}</td>\n'.format(("%.2f" % r[col]) if isinstance(r[col],float) else r[col]))
        lines.append('  </tr>\n')    
    lines.append('</tbody>\n')
    lines.append('</table>')
    
    return ''.join(lines)

In [474]:
year = '2008~2018'
csvpath = '../static/data/csv/Panel 4 '+year+'.csv'
panel_df = pd.read_csv(csvpath, encoding='utf-8')

In [475]:
panel_df.columns

Index([                             u'Unnamed: 0',
                                      u'Job Code',
                                     u'Job Title',
                              u'Automation Index',
         u'Automation for Information Processing',
                  u'Automation for Clerical Task',
                u'Automation for Managerial Task',
                  u'Automation for Communication',
            u'Automation for Conflict Resolution',
             u'Automation for Strategic Thinking',
                u'Automation for System Analysis',
           u'Automation for Operation Monitoring',
          u'Automation for Equipment Maintenance',
            u'Automation for Equipment Operation',
                  u'Automation for Physical Task',
          u'Automation for Dynamic Physical Task',
                  u'Automation for Outdoor Labor',
       u'Automation for Hazardous and Group Task'],
      dtype='object')

In [476]:
panel_df = panel_df[['Job Code', 'Job Title', 'Automation Index',
                     'Automation for Strategic Thinking', 'Automation for System Analysis',
                      'Automation for Dynamic Physical Task','Automation for Managerial Task',
                     'Automation for Clerical Task','Automation for Information Processing',
                     'Automation for Communication','Automation for Conflict Resolution',
                     'Automation for Equipment Operation', 'Automation for Operation Monitoring',
                     'Automation for Equipment Maintenance','Automation for Physical Task',
                     'Automation for Hazardous and Group Task','Automation for Outdoor Labor']]

grouping = [1, 1, 1, 2, 2, 4, 6]
grouping_text = ["","","","Race ahead of the Machine","Race with the Machine","Race against the Machine","Running a Different Race"]


"""
panel_df = panel_df[['Job Code', 'Job Title', 'Race ahead of the Machine',
       'Race with the Machine', 'Race against the Machine',
       'Running a Different Race']]
"""

"\npanel_df = panel_df[['Job Code', 'Job Title', 'Race ahead of the Machine',\n       'Race with the Machine', 'Race against the Machine',\n       'Running a Different Race']]\n"

In [477]:
#panel_df.to_csv('../static/data/csv/Panel 4 '+year+'.csv')

In [478]:
panel_df.head()

,Job Code,Job Title,Automation Index,Automation for Strategic Thinking,Automation for System Analysis,Automation for Dynamic Physical Task,Automation for Managerial Task,Automation for Clerical Task,Automation for Information Processing,Automation for Communication,Automation for Conflict Resolution,Automation for Equipment Operation,Automation for Operation Monitoring,Automation for Equipment Maintenance,Automation for Physical Task,Automation for Hazardous and Group Task,Automation for Outdoor Labor
0,00-0000,TOTAL AVERAGE,0.959692,1.719992,-2.896315,1.264730,0.281871,-1.126894,2.588958,2.523797,2.612164,-0.081554,3.737310,3.255824,0.117816,0.315406,-0.877414
1,11-1011,Chief Executives,4.376244,6.267383,-10.763542,0.000000,30.497444,7.938471,22.688731,15.677097,-1.524319,-3.162508,-1.594418,-6.030250,0.000000,1.360646,-0.087317
2,11-1021,General and Operations Managers,8.516133,14.470352,-6.347962,0.124203,36.744963,10.266365,14.388136,34.732688,8.104975,-0.462080,3.854068,0.010348,-0.099557,11.980021,-8.540655
3,11-2011,Advertising and Promotions Managers,-6.513699,-0.914593,-10.906304,-4.554774,-23.528520,3.458273,-12.791500,-11.143352,-12.168900,-0.027004,-10.505452,1.064113,-1.741027,-3.649189,-3.783559
4,11-2021,Marketing Managers,5.750056,22.238528,-6.363715,0.000000,8.654270,0.631212,7.504257,23.645394,12.613956,-0.163960,1.193555,3.854713,0.000000,6.568097,0.124480

In [479]:
table = table_generation(panel_df,grouping, grouping_text)

In [480]:
#f = open( '../visualize/templates/visualize/panel4_'+year+'.html', 'w' , encoding='utf8')
#f = open( '../visualize/templates/visualize/panel5_'+year+'.html', 'w' , encoding='utf8')
f = open( '../visualize/templates/visualize/panel4_'+year+'.html', 'w')
f.write(table)
f.close()