In [1]:
# -*- coding: utf-8 -*-
import pandas as pd

In [2]:
def table_generation(df,grouping, grouping_text):
    lines = []
    lines.append('<table class="table table-bordered sortable" id="dataTable" width="100%" cellspacing="0">\n')
    lines.append('<thead>\n')
    #lines.append('<col>\n')    
    
    #for group in grouping:
    #    lines.append('<colgroup span="{}"</colgroup>\n'.format(group))    
        
    lines.append('  <tr>\n')
    #lines.append('  <th rowspan="2"></th>\n') 
    
    for group, txt in zip(grouping, grouping_text):    
        lines.append('  <th colspan="{}" scope="colgroup">{}</th>\n'.format(group, txt)) 
    
    lines.append('  </tr>\n')    
    
    lines.append('  <tr>\n')
    lines.append('    <th scope="col"></th>\n')
    for i, col in enumerate(df.columns):
        if i==0:
            lines.append('    <th scope="col" class="sorttable_sorted">{} <span id="sorttable_sortfwdind">&nbsp;â–¾</span> </th>\n'.format(col))
        else:
            lines.append('    <th scope="col">{}</th>\n'.format(col))

    lines.append('  </tr>\n')
    lines.append('</thead>\n')

    lines.append('<tfoot>\n')
    lines.append('  <tr>\n')
    for col in df.columns:
        lines.append('    <th>{}</th>\n'.format(col))
    
    lines.append('  </tr>\n')
    lines.append('</tfoot>\n')

    lines.append('<tbody>\n')

    for i, r in df.iterrows():
        lines.append('  <tr>\n')
        lines.append('  <td class="index"></td>\n')        
        for col in df.columns:    
            lines.append('    <td>{}</td>\n'.format(("%.2f" % r[col]) if isinstance(r[col],float) else r[col]))
        lines.append('  </tr>\n')    
    lines.append('</tbody>\n')
    lines.append('</table>')
    
    return ''.join(lines)

In [46]:
year = '2008~2018'
csvpath = '../static/data/csv/Panel 7 '+year+'.csv'
panel_df = pd.read_csv(csvpath, encoding='utf-8')

In [47]:
panel_df.columns

Index(['Unnamed: 0', 'State', 'Metropolitan Areas', 'Automation Index',
       'Automation for Strategic Thinking', 'Automation for System Analysis',
       'Automation for Managerial Task',
       'Automation for Dynamic Physical Task',
       'Automation for Hazardous and Group Task',
       'Automation for Information Processing',
       'Automation for Conflict Resolution',
       'Automation for Equipment Operation', 'Automation for Perceptual Task',
       'Automation for Clerical Task', 'Automation for Communication',
       'Automation for Operation Monitoring',
       'Automation for Equipment Maintenance', 'Automation for Physical Task'],
      dtype='object')

In [48]:
panel_df = panel_df[['State', 'Metropolitan Areas', 'Automation Index','Automation for Strategic Thinking', 'Automation for System Analysis',
                      'Automation for Managerial Task','Automation for Dynamic Physical Task',
                     'Automation for Hazardous and Group Task','Automation for Information Processing',
                     'Automation for Conflict Resolution','Automation for Equipment Operation',
                     'Automation for Perceptual Task', 'Automation for Clerical Task',
                     'Automation for Communication',
                      'Automation for Operation Monitoring',
                     'Automation for Equipment Maintenance','Automation for Physical Task']]

In [49]:
grouping = [1, 1, 1, 1, 2, 3, 4, 5]
grouping_text = ["","","","","Race ahead of the Machine","Race with the Machine","Race against the Machine","Running a Different Race"]


"""
panel_df = panel_df[['Job Code', 'Job Title', 'Race ahead of the Machine',
       'Race with the Machine', 'Race against the Machine',
       'Running a Different Race']]
"""

"\npanel_df = panel_df[['Job Code', 'Job Title', 'Race ahead of the Machine',\n       'Race with the Machine', 'Race against the Machine',\n       'Running a Different Race']]\n"

In [50]:
panel_df.to_csv('../static/data/csv/Panel 7 '+year+'.csv')

In [51]:
panel_df.head()

,State,Metropolitan Areas,Automation Index,Automation for Strategic Thinking,Automation for System Analysis,Automation for Managerial Task,Automation for Dynamic Physical Task,Automation for Hazardous and Group Task,Automation for Information Processing,Automation for Conflict Resolution,Automation for Equipment Operation,Automation for Perceptual Task,Automation for Clerical Task,Automation for Communication,Automation for Operation Monitoring,Automation for Equipment Maintenance,Automation for Physical Task
0,AK,Anchorage,0.37,0.14,-0.26,0.61,-0.40,-0.02,-0.31,0.75,-0.28,-0.62,0.53,0.95,-0.42,-0.06,-0.24
1,AK,Fairbanks,0.11,0.26,-0.51,0.83,-0.62,-0.04,-0.71,0.82,-0.27,-0.50,0.52,1.23,-0.65,-0.03,-0.22
2,AL,Anniston-Oxford-Jacksonville,0.52,-0.03,-0.28,0.68,-0.11,0.22,-0.41,0.55,0.04,-0.68,0.40,1.44,-0.47,-0.29,-0.54
3,AL,Auburn-Opelika,0.32,0.01,-0.42,0.54,-0.41,0.32,-0.83,0.55,0.23,0.13,0.15,1.08,-0.70,0.09,-0.42
4,AL,Birmingham-Hoover,0.37,0.07,-0.35,0.56,-0.37,0.07,-0.35,0.51,-0.05,-0.34,0.57,1.06,-0.58,0.07,-0.49

In [52]:
table = table_generation(panel_df,grouping, grouping_text)

In [53]:
#f = open( '../visualize/templates/visualize/panel4_'+year+'.html', 'w' , encoding='utf8')
#f = open( '../visualize/templates/visualize/panel5_'+year+'.html', 'w' , encoding='utf8')
#f = open( '../visualize/templates/visualize/panel4_'+year+'.html', 'w')
#f.write(table)
#f.close()

In [54]:
f = open( '../visualize/templates/visualize/panel7_'+year+'.html', 'w')
f.write(table)
f.close()