In [1]:
# -*- coding: utf-8 -*-
import pandas as pd
import json

In [12]:
year='2008'
panel6_df = pd.read_csv("../static/data/csv/Panel 6 {}.csv".format(year))

In [13]:
panel6_df.head()

,AREA,AREA_NAME,Employment,Automation Index,Race ahead of the Machine,Race with the Machine,Race against the Machine,Running a Different Race,Lat,Long
0,11260,"Anchorage, AK",131540,48.741746,5.904934,10.107714,13.453128,19.275970,62.212784,-149.678222
1,21820,"Fairbanks, AK",24140,48.922053,5.787231,10.585076,13.383320,19.166426,64.676044,-146.548159
2,11500,"Anniston-Oxford-Jacksonville, AL",34870,48.605076,4.946296,10.906007,14.211671,18.541102,33.771706,-85.822513
3,12220,"Auburn-Opelika, AL",34810,48.613007,5.220525,11.184156,13.248870,18.959457,32.604064,-85.353048
4,13820,"Birmingham-Hoover, AL",449200,48.916497,5.974561,9.926551,13.731180,19.284204,33.462372,-86.814338

In [14]:
panel6_df.columns

Index([u'AREA', u'AREA_NAME', u'Employment', u'Automation Index',
       u'Race ahead of the Machine', u'Race with the Machine',
       u'Race against the Machine', u'Running a Different Race', u'Lat',
       u'Long'],
      dtype='object')

In [15]:
task_types = ['Race ahead of the Machine', 'Race with the Machine',
              'Race against the Machine', 'Running a Different Race']

In [16]:
import json

for task_type in task_types:
    map_list = []
    for i, r in panel6_df.iterrows():
        map_dict = {}
        map_dict['Location'] = r['AREA_NAME']
        map_dict['year'] = year
        map_dict['area'] = r['AREA']        
        map_dict['Lat'] = r['Lat']    
        map_dict['Lng'] = r['Long']        
        map_dict['ai'] = r['Automation Index']                
        map_dict['task_type'] = task_type
        map_dict['e'] = r['Automation Index']                
        map_dict['employment'] = r['Employment']        
        map_dict['ai_task_type'] = r[task_type]
        map_list.append(map_dict)
        
    with open('../static/data/map/'+str(year)+'_'+task_type+'.js', 'w') as outfile:    
        outfile.write('tilde.cities = ' + json.dumps(map_list))
        outfile.close()