In [121]:
# -*- coding: utf-8 -*-
import pandas as pd
import json

In [132]:
year='2008~2018'
panel6_df = pd.read_csv("../static/data/csv/Panel 6 {}.csv".format(year))

In [133]:
panel6_df.head()

,AREA,AREA_NAME,Employment,Automation Index,Race ahead of the Machine,Race with the Machine,Race against the Machine,Running a Different Race,Lat,Long
0,11260,"Anchorage, AK",139410,0.372350,-0.118899,0.192476,-0.456596,0.755369,62.212784,-149.678222
1,21820,"Fairbanks, AK",25010,0.108546,-0.255622,0.178492,-0.659977,0.845652,64.676044,-146.548159
2,11500,"Anniston-Oxford-Jacksonville, AL",30560,0.524117,-0.311157,0.793020,-0.498259,0.540513,33.771706,-85.822513
3,12220,"Auburn-Opelika, AL",43360,0.321540,-0.404067,0.449072,0.082904,0.193631,32.604064,-85.353048
4,13820,"Birmingham-Hoover, AL",433010,0.372670,-0.284961,0.261527,-0.237218,0.633322,33.462372,-86.814338

In [134]:
panel6_df.columns

Index([u'AREA', u'AREA_NAME', u'Employment', u'Automation Index',
       u'Race ahead of the Machine', u'Race with the Machine',
       u'Race against the Machine', u'Running a Different Race', u'Lat',
       u'Long'],
      dtype='object')

In [135]:
task_types = ['Race ahead of the Machine', 'Race with the Machine',
              'Race against the Machine', 'Running a Different Race']

In [136]:
import json

for task_type in task_types:
    map_list = []
    for i, r in panel6_df.iterrows():
        map_dict = {}
        map_dict['Location'] = r['AREA_NAME']
        map_dict['year'] = year
        map_dict['area'] = r['AREA']        
        map_dict['Lat'] = r['Lat']    
        map_dict['Lng'] = r['Long']        
        map_dict['ai'] = r['Automation Index']                
        map_dict['task_type'] = task_type
        map_dict['e'] = r[task_type]
        map_dict['employment'] = r['Employment']        
        map_dict['ai_task_type'] = r[task_type]
        map_list.append(map_dict)
        
    with open('../static/data/map/'+str(year)+'_'+task_type+'.js', 'w') as outfile:    
        outfile.write('tilde.cities = ' + json.dumps(map_list))
        outfile.close()