In [1]:
# -*- coding: utf-8 -*-
import pandas as pd

In [2]:
def table_generation(df,grouping, grouping_text):
    lines = []
    lines.append('<table class="table table-bordered sortable" id="dataTable" width="100%" cellspacing="0">\n')
    lines.append('<thead>\n')
    #lines.append('<col>\n')    
    
    #for group in grouping:
    #    lines.append('<colgroup span="{}"</colgroup>\n'.format(group))    
        
    lines.append('  <tr>\n')
    #lines.append('  <th rowspan="2"></th>\n') 
    
    for group, txt in zip(grouping, grouping_text):    
        lines.append('  <th colspan="{}" scope="colgroup">{}</th>\n'.format(group, txt)) 
    
    lines.append('  </tr>\n')    
    
    lines.append('  <tr>\n')
    lines.append('    <th scope="col"></th>\n')
    for i, col in enumerate(df.columns):
        if i==0:
            lines.append('    <th scope="col" class="sorttable_sorted">{} <span id="sorttable_sortfwdind">&nbsp;â–¾</span> </th>\n'.format(col))
        else:
            lines.append('    <th scope="col">{}</th>\n'.format(col))

    lines.append('  </tr>\n')
    lines.append('</thead>\n')

    lines.append('<tfoot>\n')
    lines.append('  <tr>\n')
    for col in df.columns:
        lines.append('    <th>{}</th>\n'.format(col))
    
    lines.append('  </tr>\n')
    lines.append('</tfoot>\n')

    lines.append('<tbody>\n')

    for i, r in df.iterrows():
        lines.append('  <tr>\n')
        lines.append('  <td class="index"></td>\n')        
        for col in df.columns:    
            lines.append('    <td>{}</td>\n'.format(("%.2f" % r[col]) if isinstance(r[col],float) else r[col]))
        lines.append('  </tr>\n')    
    lines.append('</tbody>\n')
    lines.append('</table>')
    
    return ''.join(lines)

In [18]:
year = '2008'
csvpath = '../static/data/csv/Panel 4 '+year+'.csv'
panel_df = pd.read_csv(csvpath, encoding='utf-8', index_col=0)

In [19]:
panel_df.columns

Index([u'Job Code', u'Job Title', u'Automation Index',
       u'Automation for Information Processing',
       u'Automation for Clerical Task', u'Automation for Managerial Task',
       u'Automation for Communication', u'Automation for Conflict Resolution',
       u'Automation for Strategic Thinking',
       u'Automation for Systems Thinking',
       u'Automation for Operation Monitoring',
       u'Automation for Equipment Maintenance',
       u'Automation for Equipment Operation', u'Automation for Physical Task',
       u'Automation for Dynamic Physical Task',
       u'Automation for Perceptual Task',
       u'Automation for Hazardous and Group Task'],
      dtype='object')

In [20]:
panel_df = panel_df[['Job Code', 'Job Title', 'Automation Index',
                     'Automation for Strategic Thinking', 'Automation for Systems Thinking',
                      'Automation for Managerial Task','Automation for Dynamic Physical Task',
                     'Automation for Hazardous and Group Task','Automation for Information Processing',
                     'Automation for Conflict Resolution','Automation for Equipment Operation',
                     'Automation for Perceptual Task', 'Automation for Clerical Task',
                     'Automation for Communication',
                      'Automation for Operation Monitoring',
                     'Automation for Equipment Maintenance','Automation for Physical Task',
                     ]]

grouping = [1, 1, 1, 1, 2, 3, 4, 5]
grouping_text = ["","","","","Race ahead of the Machine","Race with the Machine","Race against the Machine","Running a Different Race"]


"""
panel_df = panel_df[['Job Code', 'Job Title', 'Race ahead of the Machine',
       'Race with the Machine', 'Race against the Machine',
       'Running a Different Race']]
"""

"\npanel_df = panel_df[['Job Code', 'Job Title', 'Race ahead of the Machine',\n       'Race with the Machine', 'Race against the Machine',\n       'Running a Different Race']]\n"

In [21]:
#panel_df.to_csv('../static/data/csv/Panel 4 '+year+'.csv')

In [22]:
panel_df.head()

,Job Code,Job Title,Automation Index,Automation for Strategic Thinking,Automation for Systems Thinking,Automation for Managerial Task,Automation for Dynamic Physical Task,Automation for Hazardous and Group Task,Automation for Information Processing,Automation for Conflict Resolution,Automation for Equipment Operation,Automation for Perceptual Task,Automation for Clerical Task,Automation for Communication,Automation for Operation Monitoring,Automation for Equipment Maintenance,Automation for Physical Task
0,00-0000,TOTAL AVERAGE,48.651489,3.426164,3.592349,2.922397,2.677970,3.590645,4.225528,2.228859,3.770364,3.439182,5.074581,3.725551,3.611598,3.240100,3.126200
1,11-1011,Chief Executives,47.996252,7.018607,5.108789,7.231670,0.000000,2.429305,3.626066,3.170441,0.652570,0.402715,5.347944,6.910673,4.873206,1.224265,0.000000
2,11-1021,General and Operations Managers,47.646928,4.416452,3.904857,8.625400,0.369318,3.538924,2.819145,3.241916,0.687467,2.512331,6.772882,5.981021,3.346399,1.414987,0.015829
3,11-2011,Advertising and Promotions Managers,47.779080,4.628036,5.652826,6.233415,0.548906,2.538961,4.215756,1.970084,0.013245,0.916458,7.421979,8.626850,4.039414,0.763335,0.209815
4,11-2021,Marketing Managers,47.888079,5.742205,6.617859,8.956961,0.000000,2.026415,3.356403,1.078008,0.037358,0.000000,9.184071,6.629234,3.176661,1.082906,0.000000

In [23]:
table = table_generation(panel_df,grouping, grouping_text)

In [24]:
#f = open( '../visualize/templates/visualize/panel4_'+year+'.html', 'w' , encoding='utf8')
#f = open( '../visualize/templates/visualize/panel5_'+year+'.html', 'w' , encoding='utf8')
f = open( '../visualize/templates/visualize/panel4_'+year+'.html', 'w')
f.write(table)
f.close()