In [2]:
# -*- coding: utf-8 -*-
import pandas as pd

In [3]:
def table_generation(df):
    lines = []
    lines.append('<table class="table table-bordered sortable" id="dataTable" width="100%" cellspacing="0">\n')
    lines.append('<thead>')
    lines.append('  <tr>\n')
    lines.append('    <th></th>\n')
    for i, col in enumerate(df.columns):
        if i==0:
            lines.append('    <th class="sorttable_sorted">{} <span id="sorttable_sortfwdind">&nbsp;â–¾</span> </th>\n'.format(col))
        else:
            lines.append('    <th>{}</th>\n'.format(col))

    lines.append('  </tr>\n')
    lines.append('</thead>\n')

    lines.append('<tfoot>\n')
    lines.append('  <tr>\n')
    for col in df.columns:
        lines.append('    <th>{}</th>\n'.format(col))
    
    lines.append('  </tr>\n')
    lines.append('</tfoot>\n')

    lines.append('<tbody>\n')

    for i, r in df.iterrows():
        lines.append('  <tr>\n')
        lines.append('  <td class="index"></td>\n')        
        for col in df.columns:    
            lines.append('    <td>{}</td>\n'.format(("%.2f" % r[col]) if isinstance(r[col],float) else r[col]))
        lines.append('  </tr>\n')    
    lines.append('</tbody>\n')
    lines.append('</table>')
    
    return ''.join(lines)

In [22]:
year = '2018'
csvpath = '../static/data/csv/Panel 5 '+year+'.csv'
panel_df = pd.read_csv(csvpath, encoding='utf-8')

In [23]:
panel_df.columns

Index([u'Job Code', u'Job Title', u'Job Family', u'Race ahead of the Machine',
       u'Race with the Machine', u'Race against the Machine',
       u'Running a Different Race'],
      dtype='object')

In [24]:
"""
panel_df = panel_df[['Job Code', 'Job Title', 'Automation Index','Automation for Information Processing','Automation for Clerical Task',
   'Automation for Managerial Task','Automation for Communication',
   'Automation for Conflict Resolution','Automation for Strategic Thinking','Automation for System Analysis',
   'Automation for Operation Monitoring','Automation for Equipment Maintenance','Automation for Equipment Operation', 
   'Automation for Physical Task', 'Automation for Dynamic Physical Task', 'Automation for Outdoor Labor', 'Automation for Hazardous and Group Task']]
"""

panel_df = panel_df[['Job Code', 'Job Title', 'Race ahead of the Machine',
       'Race with the Machine', 'Race against the Machine',
       'Running a Different Race']]

In [25]:
#panel_df.to_csv('../static/data/csv/Panel 4 '+year+'.csv')

In [26]:
panel_df.head()

,Job Code,Job Title,Race ahead of the Machine,Race with the Machine,Race against the Machine,Running a Different Race
0,00-0000,TOTAL AVERAGE,6.77,9.39,13.94,18.94
1,11-1011,Chief Executives,10.66,11.24,8.66,17.91
2,11-1021,General and Operations Managers,7.03,15.02,7.67,18.92
3,11-2011,Advertising and Promotions Managers,12.11,6.67,4.51,25.04
4,11-2021,Marketing Managers,11.95,10.51,5.80,19.58

In [27]:
table = table_generation(panel_df)

In [28]:
#f = open( '../visualize/templates/visualize/panel4_'+year+'.html', 'w' , encoding='utf8')
#f = open( '../visualize/templates/visualize/panel5_'+year+'.html', 'w' , encoding='utf8')
f = open( '../visualize/templates/visualize/panel5_'+year+'.html', 'w', -1)
f.write(table)
f.close()