In [1]:
# -*- coding: utf-8 -*-
import pandas as pd

## Job Information

In [3]:
xl = pd.ExcelFile("../static/data/xlsx/Job Information_2021v2.xlsx")
print(xl.sheet_names)  # see all sheet names

XLRDError: Excel xlsx file; not supported

### jobs

In [3]:
job_information_df_2008_2020 = pd.read_excel("../static/data/xlsx/Job Information_2021v2.xlsx", sheetname='2008-2020')

In [4]:
job_information_df_2008_2020[['SOC Code','Job Title', 'Job Family', 'Description']].head()

,SOC Code,Job Title,Job Family,Description
0,00-0000,TOTAL AVERAGE,TOTAL AVERAGE,Average of all occupations
1,11-1011,Chief Executives,Management Occupations,Determine and formulate policies and provide o...
2,11-1021,General and Operations Managers,Management Occupations,"Plan, direct, or coordinate the operations of ..."
3,11-2011,Advertising and Promotions Managers,Management Occupations,"Plan, direct, or coordinate advertising polici..."
4,11-2021,Marketing Managers,Management Occupations,"Plan, direct, or coordinate marketing policies..."

In [5]:
family_code = [soc_code.split('-')[0] for soc_code in job_information_df_2008_2020['SOC Code']]
job_information_df_2008_2020['Family Code'] = family_code
job_information_df_2008_2020 = job_information_df_2008_2020[['Family Code', 'SOC Code','Job Title', 'Job Family', 'Description']]
job_information_df_2008_2020.columns = ['Family Code', 'Job Code','Job Title', 'Job Family', 'Description']

In [6]:
job_information_df_2008_2020.head()

,Family Code,Job Code,Job Title,Job Family,Description
0,00,00-0000,TOTAL AVERAGE,TOTAL AVERAGE,Average of all occupations
1,11,11-1011,Chief Executives,Management Occupations,Determine and formulate policies and provide o...
2,11,11-1021,General and Operations Managers,Management Occupations,"Plan, direct, or coordinate the operations of ..."
3,11,11-2011,Advertising and Promotions Managers,Management Occupations,"Plan, direct, or coordinate advertising polici..."
4,11,11-2021,Marketing Managers,Management Occupations,"Plan, direct, or coordinate marketing policies..."

In [7]:
job_information_df_2008_2020.to_csv("../static/data/csv/jobs.csv", index=False, encoding='utf-8')

### Panel 1

In [8]:
job_information_df_2008 = pd.read_excel("../static/data/xlsx/Job Information_2021v2.xlsx", sheetname='2008')
job_information_df_2020 = pd.read_excel("../static/data/xlsx/Job Information_2021v2.xlsx", sheetname='2020')
job_information_df_2008_2020 = pd.read_excel("../static/data/xlsx/Job Information_2021v2.xlsx", sheetname='2008-2020')

rank_label = pd.read_excel("../static/data/xlsx/Rank Label.xlsx")

In [9]:
job_information_df_2008['Year'] = '2008'
job_information_df_2020['Year'] = '2020'
job_information_df_2008_2020['Year'] = '2008~2020'

In [10]:
job_information_df_2008['Job Automation Index Rank'] = [None] + job_information_df_2008['Job Automation Index'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2008['Job Automation Index Percentile'] = ['Top 50%'] + pd.merge(job_information_df_2008[['Job Automation Index Rank']], rank_label.rename(columns={"Rank": "Job Automation Index Rank"}), on='Job Automation Index Rank', how='left')['Label'].iloc[1:].tolist()

job_information_df_2008['Race with the Machine Rank'] = [None] + job_information_df_2008['Race with the Machine'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2008['Race with the Machine Percentile'] = ['Top 50%'] + pd.merge(job_information_df_2008[['Race with the Machine Rank']], rank_label.rename(columns={"Rank": "Race with the Machine Rank"}), on='Race with the Machine Rank', how='left')['Label'].iloc[1:].tolist()

job_information_df_2008['Race ahead of the Machine Rank'] = [None] + job_information_df_2008['Race ahead of the Machine'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2008['Race ahead of the Machine Percentile'] = ['Top 50%'] + pd.merge(job_information_df_2008[['Race ahead of the Machine Rank']], rank_label.rename(columns={"Rank": "Race ahead of the Machine Rank"}), on='Race ahead of the Machine Rank', how='left')['Label'].iloc[1:].tolist()

job_information_df_2008['Changing the Course of the Race Rank'] = [None] + job_information_df_2008['Changing the Course of the Race'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2008['Changing the Course of the Race Percentile'] = ['Top 50%'] + pd.merge(job_information_df_2008[['Changing the Course of the Race Rank']], rank_label.rename(columns={"Rank": "Changing the Course of the Race Rank"}), on='Changing the Course of the Race Rank', how='left')['Label'].iloc[1:].tolist()

job_information_df_2008['Race against the Machine Rank'] = [None] + job_information_df_2008['Race against the Machine'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2008['Race against the Machine Percentile'] = ['Top 50%'] + pd.merge(job_information_df_2008[['Race against the Machine Rank']], rank_label.rename(columns={"Rank": "Race against the Machine Rank"}), on='Race against the Machine Rank', how='left')['Label'].iloc[1:].tolist()

job_information_df_2008['Running a Different Race Rank'] = [None] + job_information_df_2008['Running a Different Race'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2008['Running a Different Race Percentile'] = ['Top 50%'] + pd.merge(job_information_df_2008[['Running a Different Race Rank']], rank_label.rename(columns={"Rank": "Running a Different Race Rank"}), on='Running a Different Race Rank', how='left')['Label'].iloc[1:].tolist()

job_information_df_2008['Employment Rank'] = [None] + job_information_df_2008['Employment'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2008['Employment Percentile'] = [None] + pd.merge(job_information_df_2008[['Employment Rank']], rank_label.rename(columns={"Rank": "Employment Rank"}), on='Employment Rank', how='left')['Label'].iloc[1:].tolist()

job_information_df_2008['Annual Wage Rank'] = [None] + job_information_df_2008['Annual Wage'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2008['Annual Wage Percentile'] = ['Top 50%'] + pd.merge(job_information_df_2008[['Annual Wage Rank']], rank_label.rename(columns={"Rank": "Annual Wage Rank"}), on='Annual Wage Rank', how='left')['Label'].iloc[1:].tolist()

In [11]:
job_information_df_2020['Job Automation Index Rank'] = [None] + job_information_df_2020['Job Automation Index'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2020['Job Automation Index Percentile'] = ['Top 50%'] + pd.merge(job_information_df_2020[['Job Automation Index Rank']], rank_label.rename(columns={"Rank": "Job Automation Index Rank"}), on='Job Automation Index Rank', how='left')['Label'].iloc[1:].tolist()

job_information_df_2020['Race with the Machine Rank'] = [None] + job_information_df_2020['Race with the Machine'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2020['Race with the Machine Percentile'] = ['Top 50%'] + pd.merge(job_information_df_2020[['Race with the Machine Rank']], rank_label.rename(columns={"Rank": "Race with the Machine Rank"}), on='Race with the Machine Rank', how='left')['Label'].iloc[1:].tolist()

job_information_df_2020['Changing the Course of the Race Rank'] = [None] + job_information_df_2020['Changing the Course of the Race'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2020['Changing the Course of the Race Percentile'] = ['Top 50%'] + pd.merge(job_information_df_2020[['Changing the Course of the Race Rank']], rank_label.rename(columns={"Rank": "Changing the Course of the Race Rank"}), on='Changing the Course of the Race Rank', how='left')['Label'].iloc[1:].tolist()

job_information_df_2020['Race ahead of the Machine Rank'] = [None] + job_information_df_2020['Race ahead of the Machine'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2020['Race ahead of the Machine Percentile'] = ['Top 50%'] + pd.merge(job_information_df_2020[['Race ahead of the Machine Rank']], rank_label.rename(columns={"Rank": "Race ahead of the Machine Rank"}), on='Race ahead of the Machine Rank', how='left')['Label'].iloc[1:].tolist()

job_information_df_2020['Race against the Machine Rank'] = [None] + job_information_df_2020['Race against the Machine'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2020['Race against the Machine Percentile'] = ['Top 50%'] + pd.merge(job_information_df_2020[['Race against the Machine Rank']], rank_label.rename(columns={"Rank": "Race against the Machine Rank"}), on='Race against the Machine Rank', how='left')['Label'].iloc[1:].tolist()

job_information_df_2020['Running a Different Race Rank'] = [None] + job_information_df_2020['Running a Different Race'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2020['Running a Different Race Percentile'] = ['Top 50%'] + pd.merge(job_information_df_2020[['Running a Different Race Rank']], rank_label.rename(columns={"Rank": "Running a Different Race Rank"}), on='Running a Different Race Rank', how='left')['Label'].iloc[1:].tolist()

job_information_df_2020['Employment Rank'] = [None] + job_information_df_2020['Employment'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2020['Employment Percentile'] = [None] + pd.merge(job_information_df_2020[['Employment Rank']], rank_label.rename(columns={"Rank": "Employment Rank"}), on='Employment Rank', how='left')['Label'].iloc[1:].tolist()

job_information_df_2020['Annual Wage Rank'] = [None] + job_information_df_2020['Annual Wage'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2020['Annual Wage Percentile'] = ['Top 50%'] + pd.merge(job_information_df_2020[['Annual Wage Rank']], rank_label.rename(columns={"Rank": "Annual Wage Rank"}), on='Annual Wage Rank', how='left')['Label'].iloc[1:].tolist()

In [12]:
job_information_df_2008_2020['Job Automation Index Change'] = job_information_df_2008_2020['Job Automation Index']
job_information_df_2008_2020['Race with the Machine Change'] = job_information_df_2008_2020['Race with the Machine']
job_information_df_2008_2020['Changing the Course of the Race Change'] = job_information_df_2008_2020['Changing the Course of the Race']
job_information_df_2008_2020['Race ahead of the Machine Change'] = job_information_df_2008_2020['Race ahead of the Machine']
job_information_df_2008_2020['Race against the Machine Change'] = job_information_df_2008_2020['Race against the Machine']
job_information_df_2008_2020['Running a Different Race Change'] = job_information_df_2008_2020['Running a Different Race']

job_information_df_2008_2020['Job Automation Index'] = None

job_information_df_2008_2020['Job Automation Index Change Rank'] = [None] + job_information_df_2008_2020['Job Automation Index Change'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2008_2020['Job Automation Index Change Percentile'] = ['Top 50%'] + pd.merge(job_information_df_2008_2020[['Job Automation Index Change Rank']], rank_label.rename(columns={"Rank": "Job Automation Index Change Rank"}), on='Job Automation Index Change Rank', how='left')['Label'].iloc[1:].tolist()

job_information_df_2008_2020['Race with the Machine Change Rank'] = [None] + job_information_df_2008_2020['Race with the Machine Change'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2008_2020['Race with the Machine Change Percentile'] = ['Top 50%'] + pd.merge(job_information_df_2008_2020[['Race with the Machine Change Rank']], rank_label.rename(columns={"Rank": "Race with the Machine Change Rank"}), on='Race with the Machine Change Rank', how='left')['Label'].iloc[1:].tolist()

job_information_df_2008_2020['Changing the Course of the Race Change Rank'] = [None] + job_information_df_2008_2020['Changing the Course of the Race Change'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2008_2020['Changing the Course of the Race Change Percentile'] = ['Top 50%'] + pd.merge(job_information_df_2008_2020[['Changing the Course of the Race Change Rank']], rank_label.rename(columns={"Rank": "Changing the Course of the Race Change Rank"}), on='Changing the Course of the Race Change Rank', how='left')['Label'].iloc[1:].tolist()

job_information_df_2008_2020['Race ahead of the Machine Change Rank'] = [None] + job_information_df_2008_2020['Race ahead of the Machine Change'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2008_2020['Race ahead of the Machine Change Percentile'] = ['Top 50%'] + pd.merge(job_information_df_2008_2020[['Race ahead of the Machine Change Rank']], rank_label.rename(columns={"Rank": "Race ahead of the Machine Change Rank"}), on='Race ahead of the Machine Change Rank', how='left')['Label'].iloc[1:].tolist()

job_information_df_2008_2020['Race against the Machine Change Rank'] = [None] + job_information_df_2008_2020['Race against the Machine Change'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2008_2020['Race against the Machine Change Percentile'] = ['Top 50%'] + pd.merge(job_information_df_2008_2020[['Race against the Machine Change Rank']], rank_label.rename(columns={"Rank": "Race against the Machine Change Rank"}), on='Race against the Machine Change Rank', how='left')['Label'].iloc[1:].tolist()

job_information_df_2008_2020['Running a Different Race Change Rank'] = [None] + job_information_df_2008_2020['Running a Different Race Change'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2008_2020['Running a Different Race Change Percentile'] = ['Top 50%'] + pd.merge(job_information_df_2008_2020[['Running a Different Race Change Rank']], rank_label.rename(columns={"Rank": "Running a Different Race Change Rank"}), on='Running a Different Race Change Rank', how='left')['Label'].iloc[1:].tolist()

job_information_df_2008_2020['Wage Share Change Rank'] = [None] + job_information_df_2008_2020['Wage Share Change'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2008_2020['Wage Share Change Percentile']= [None] + pd.merge(job_information_df_2008_2020[['Wage Share Change Rank']], rank_label.rename(columns={"Rank": "Wage Share Change Rank"}), on='Wage Share Change Rank', how='left')['Label'].iloc[1:].tolist()

job_information_df_2008_2020['Employment Share Change Rank'] = [None] + job_information_df_2008_2020['Employment Share Change'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2008_2020['Employment Share Change Percentile']= [None] + pd.merge(job_information_df_2008_2020[['Employment Share Change Rank']], rank_label.rename(columns={"Rank": "Employment Share Change Rank"}), on='Employment Share Change Rank', how='left')['Label'].iloc[1:].tolist()

In [13]:
job_information_df_2008_2020.head()

,SOC Code,Job Title,Job Family,Description,Job Automation Index,Wage Share Change,Race with the Machine,Race ahead of the Machine,Changing the Course of the Race,Race against the Machine,...,Changing the Course of the Race Change Rank,Changing the Course of the Race Change Percentile,Race ahead of the Machine Change Rank,Race ahead of the Machine Change Percentile,Race against the Machine Change Rank,Race against the Machine Change Percentile,Running a Different Race Change Rank,Running a Different Race Change Percentile,Wage Share Change Rank,Wage Share Change Percentile
0,00-0000,TOTAL AVERAGE,TOTAL AVERAGE,Average of all occupations,None,NaN,-0.000357,-0.002175,-0.001871,0.004132,...,NaN,Top 50%,NaN,Top 50%,NaN,Top 50%,NaN,Top 50%,NaN,None
1,11-1011,Chief Executives,Management Occupations,Determine and formulate policies and provide o...,None,-0.003419,0.014879,-0.005458,-0.005549,0.000000,...,372.0,Bottom 45%,358.0,Bottom 50%,323.0,Top 50%,441.0,Bottom 35%,642.0,Bottom 5%
2,11-1021,General and Operations Managers,Management Occupations,"Plan, direct, or coordinate the operations of ...",None,0.005515,0.035985,-0.017034,0.014062,-0.001175,...,160.0,Top 25%,480.0,Bottom 30%,419.0,Bottom 40%,588.0,Bottom 10%,4.0,Top 1%
3,11-2011,Advertising and Promotions Managers,Management Occupations,"Plan, direct, or coordinate advertising polici...",None,-0.000178,-0.014625,0.049604,-0.026049,-0.007108,...,559.0,Bottom 15%,22.0,Top 5%,501.0,Bottom 25%,387.0,Bottom 45%,519.0,Bottom 25%
4,11-2021,Marketing Managers,Management Occupations,"Plan, direct, or coordinate marketing policies...",None,0.001878,0.019000,-0.010773,-0.019265,0.000000,...,510.0,Bottom 25%,424.0,Bottom 35%,324.0,Top 50%,296.0,Top 50%,15.0,Top 5%

In [14]:
panel1_df = pd.DataFrame()
panel1_df = panel1_df.append(job_information_df_2008)
panel1_df = panel1_df.append(job_information_df_2020)
panel1_df = panel1_df.append(job_information_df_2008_2020)

In [15]:
panel1_df = panel1_df[['Year','SOC Code','Job Title','Description','Job Automation Index', 'Job Automation Index Rank','Job Automation Index Percentile',
                                              
                       'Race with the Machine', 'Race with the Machine Rank', 'Race with the Machine Percentile',
                       'Race ahead of the Machine', 'Race ahead of the Machine Rank', 'Race ahead of the Machine Percentile',
                       'Changing the Course of the Race', 'Changing the Course of the Race Rank', 'Changing the Course of the Race Percentile',
                       'Race against the Machine', 'Race against the Machine Rank', 'Race against the Machine Percentile',
                       'Running a Different Race', 'Running a Different Race Rank', 'Running a Different Race Percentile',
                       
                       'Employment', 'Employment Rank','Employment Percentile', 
                       'Annual Wage', 'Annual Wage Rank', 'Annual Wage Percentile', 
                       'Job Automation Index Change', 'Job Automation Index Change Rank','Job Automation Index Change Percentile',

                       'Race with the Machine Change', 'Race with the Machine Change Rank', 'Race with the Machine Change Percentile',
                       'Race ahead of the Machine Change', 'Race ahead of the Machine Change Rank', 'Race ahead of the Machine Change Percentile',
                       'Changing the Course of the Race Change', 'Changing the Course of the Race Change Rank', 'Changing the Course of the Race Change Percentile',
                       'Race against the Machine Change', 'Race against the Machine Change Rank', 'Race against the Machine Change Percentile',
                       'Running a Different Race Change', 'Running a Different Race Change Rank', 'Running a Different Race Change Percentile',
                       
                       'Wage Share Change', 'Wage Share Change Rank', 'Wage Share Change Percentile',
                       'Employment Share Change', 'Employment Share Change Rank', 'Employment Share Change Percentile',]]

In [ ]:
panel1_df.columns

In [16]:
panel1_df.head()

,Year,SOC Code,Job Title,Description,Job Automation Index,Job Automation Index Rank,Job Automation Index Percentile,Race with the Machine,Race with the Machine Rank,Race with the Machine Percentile,...,Changing the Course of the Race Change Percentile,Race against the Machine Change,Race against the Machine Change Rank,Race against the Machine Change Percentile,Running a Different Race Change,Running a Different Race Change Rank,Running a Different Race Change Percentile,Wage Share Change,Wage Share Change Rank,Wage Share Change Percentile
0,2008,00-0000,TOTAL AVERAGE,Average of all occupations,0.486743,NaN,Top 50%,0.097327,NaN,Top 50%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2008,11-1011,Chief Executives,Determine and formulate policies and provide o...,0.476327,424.0,Bottom 35%,0.189485,65.0,Top 10%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2008,11-1021,General and Operations Managers,"Plan, direct, or coordinate the operations of ...",0.474384,449.0,Bottom 35%,0.209030,40.0,Top 10%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2008,11-2011,Advertising and Promotions Managers,"Plan, direct, or coordinate advertising polici...",0.473579,459.0,Bottom 30%,0.189458,66.0,Top 15%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2008,11-2021,Marketing Managers,"Plan, direct, or coordinate marketing policies...",0.474989,444.0,Bottom 35%,0.179035,85.0,Top 15%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
panel1_df = panel1_df.rename({'SOC Code': 'Job Code'})

In [18]:
panel1_df.to_csv("../static/data/csv/Panel 1.csv", index=False, encoding='utf-8')

## Job Automation Index

### Panel 2

In [19]:
task_automation_df_2008 = pd.read_excel("../static/data/xlsx/Task-Level Job Automation_2021v2.xlsx", sheetname='2008')
task_automation_df_2020 = pd.read_excel("../static/data/xlsx/Task-Level Job Automation_2021v2.xlsx", sheetname='2020')
task_automation_df_2008_2020 = pd.read_excel("../static/data/xlsx/Task-Level Job Automation_2021v2.xlsx", sheetname='2008-2020')

In [20]:
task_automation_df_2008['Year'] = '2008'
task_automation_df_2020['Year'] = '2020'
task_automation_df_2008_2020['Year'] = '2008~2020'

In [21]:
panel2_df = pd.DataFrame()
panel2_df = panel2_df.append(task_automation_df_2008[['Year','SOC Code','Job Title','Race with the Machine', 'Race ahead of the Machine', 'Changing the Course of the Race',
                                                      'Race against the Machine', 'Running a Different Race']])

panel2_df = panel2_df.append(task_automation_df_2020[['Year','SOC Code','Job Title','Race with the Machine', 'Race ahead of the Machine', 'Changing the Course of the Race',
                                                      'Race against the Machine', 'Running a Different Race']])

panel2_df = panel2_df.append(task_automation_df_2008_2020[['Year','SOC Code','Job Title','Race with the Machine', 'Race ahead of the Machine', 'Changing the Course of the Race',
                                                      'Race against the Machine', 'Running a Different Race']])

In [22]:
job_information_df_2008_2020.head()

,SOC Code,Job Title,Job Family,Description,Job Automation Index,Wage Share Change,Race with the Machine,Race ahead of the Machine,Changing the Course of the Race,Race against the Machine,...,Changing the Course of the Race Change Rank,Changing the Course of the Race Change Percentile,Race ahead of the Machine Change Rank,Race ahead of the Machine Change Percentile,Race against the Machine Change Rank,Race against the Machine Change Percentile,Running a Different Race Change Rank,Running a Different Race Change Percentile,Wage Share Change Rank,Wage Share Change Percentile
0,00-0000,TOTAL AVERAGE,TOTAL AVERAGE,Average of all occupations,None,NaN,-0.000357,-0.002175,-0.001871,0.004132,...,NaN,Top 50%,NaN,Top 50%,NaN,Top 50%,NaN,Top 50%,NaN,None
1,11-1011,Chief Executives,Management Occupations,Determine and formulate policies and provide o...,None,-0.003419,0.014879,-0.005458,-0.005549,0.000000,...,372.0,Bottom 45%,358.0,Bottom 50%,323.0,Top 50%,441.0,Bottom 35%,642.0,Bottom 5%
2,11-1021,General and Operations Managers,Management Occupations,"Plan, direct, or coordinate the operations of ...",None,0.005515,0.035985,-0.017034,0.014062,-0.001175,...,160.0,Top 25%,480.0,Bottom 30%,419.0,Bottom 40%,588.0,Bottom 10%,4.0,Top 1%
3,11-2011,Advertising and Promotions Managers,Management Occupations,"Plan, direct, or coordinate advertising polici...",None,-0.000178,-0.014625,0.049604,-0.026049,-0.007108,...,559.0,Bottom 15%,22.0,Top 5%,501.0,Bottom 25%,387.0,Bottom 45%,519.0,Bottom 25%
4,11-2021,Marketing Managers,Management Occupations,"Plan, direct, or coordinate marketing policies...",None,0.001878,0.019000,-0.010773,-0.019265,0.000000,...,510.0,Bottom 25%,424.0,Bottom 35%,324.0,Top 50%,296.0,Top 50%,15.0,Top 5%

In [23]:
panel2_df = panel2_df.merge(job_information_df_2008_2020[['SOC Code','Job Family']], on='SOC Code', how='left')

In [24]:
panel2_df.head()

,Year,SOC Code,Job Title,Race with the Machine,Race ahead of the Machine,Changing the Course of the Race,Race against the Machine,Running a Different Race,Job Family
0,2008,00-0000,TOTAL AVERAGE,0.097327,0.107354,0.092686,0.061355,0.128020,TOTAL AVERAGE
1,2008,11-1011,Chief Executives,0.189485,0.168223,0.096332,0.000000,0.022287,Management Occupations
2,2008,11-1021,General and Operations Managers,0.209030,0.156415,0.046832,0.003183,0.058923,Management Occupations
3,2008,11-2011,Advertising and Promotions Managers,0.189458,0.162664,0.096472,0.007108,0.017875,Management Occupations
4,2008,11-2021,Marketing Managers,0.179035,0.205466,0.079481,0.000000,0.011007,Management Occupations

In [25]:
panel2_df = panel2_df[['Year','SOC Code','Job Title','Job Family', 'Race with the Machine', 'Race ahead of the Machine', 'Changing the Course of the Race',
                                                      'Race against the Machine', 'Running a Different Race']]

In [26]:
panel2_df = panel2_df.rename(columns={'SOC Code': 'Job Code'})

In [27]:
panel2_df.head()

,Year,Job Code,Job Title,Job Family,Race with the Machine,Race ahead of the Machine,Changing the Course of the Race,Race against the Machine,Running a Different Race
0,2008,00-0000,TOTAL AVERAGE,TOTAL AVERAGE,0.097327,0.107354,0.092686,0.061355,0.128020
1,2008,11-1011,Chief Executives,Management Occupations,0.189485,0.168223,0.096332,0.000000,0.022287
2,2008,11-1021,General and Operations Managers,Management Occupations,0.209030,0.156415,0.046832,0.003183,0.058923
3,2008,11-2011,Advertising and Promotions Managers,Management Occupations,0.189458,0.162664,0.096472,0.007108,0.017875
4,2008,11-2021,Marketing Managers,Management Occupations,0.179035,0.205466,0.079481,0.000000,0.011007

In [28]:
panel2_df.to_csv("../static/data/csv/Panel 2.csv", index=False, encoding='utf-8')

### Panel 4

In [29]:
task_automation_df_2008 = pd.read_excel("../static/data/xlsx/Task-Level Job Automation_2021v2.xlsx", sheetname='2008')
task_automation_df_2020 = pd.read_excel("../static/data/xlsx/Task-Level Job Automation_2021v2.xlsx", sheetname='2020')
task_automation_df_2008_2020 = pd.read_excel("../static/data/xlsx/Task-Level Job Automation_2021v2.xlsx", sheetname='2008-2020')

In [30]:
task_automation_df_2008 = task_automation_df_2008.rename(columns={"SOC Code":"Job Code"})
task_automation_df_2020 = task_automation_df_2020.rename(columns={"SOC Code":"Job Code"})
task_automation_df_2008_2020 = task_automation_df_2008_2020.rename(columns={"SOC Code":"Job Code"})

In [31]:
task_automation_df_2008.to_csv("../static/data/csv/Panel 4 2008.csv", encoding='utf-8')
task_automation_df_2020.to_csv("../static/data/csv/Panel 4 2020.csv", encoding='utf-8')
task_automation_df_2008_2020.to_csv("../static/data/csv/Panel 4 2008~2020.csv", encoding='utf-8')

### Panel 5

In [32]:
task_automation_df_2008 = pd.read_excel("../static/data/xlsx/Task-Level Job Automation_2021v2.xlsx", sheetname='2008')
task_automation_df_2020 = pd.read_excel("../static/data/xlsx/Task-Level Job Automation_2021v2.xlsx", sheetname='2020')
task_automation_df_2008_2020 = pd.read_excel("../static/data/xlsx/Task-Level Job Automation_2021v2.xlsx", sheetname='2008-2020')

In [33]:
task_automation_df_2008 = task_automation_df_2008[['SOC Code','Job Title','Race with the Machine', 'Race ahead of the Machine', 'Changing the Course of the Race',
                                                      'Race against the Machine', 'Running a Different Race']]
task_automation_df_2020 = task_automation_df_2020[['SOC Code','Job Title','Race with the Machine', 'Race ahead of the Machine', 'Changing the Course of the Race',
                                                      'Race against the Machine', 'Running a Different Race']]
task_automation_df_2008_2020 = task_automation_df_2008_2020[['SOC Code','Job Title','Race with the Machine', 'Race ahead of the Machine', 'Changing the Course of the Race',
                                                      'Race against the Machine', 'Running a Different Race']]

In [34]:
task_automation_df_2008 = task_automation_df_2008.rename(columns={"SOC Code":"Job Code"})
task_automation_df_2020 = task_automation_df_2020.rename(columns={"SOC Code":"Job Code"})
task_automation_df_2008_2020 = task_automation_df_2008_2020.rename(columns={"SOC Code":"Job Code"})

In [35]:
task_automation_df_2008.to_csv("../static/data/csv/Panel 5 2008.csv", encoding='utf-8')
task_automation_df_2020.to_csv("../static/data/csv/Panel 5 2020.csv", encoding='utf-8')
task_automation_df_2008_2020.to_csv("../static/data/csv/Panel 5 2008~2020.csv", encoding='utf-8')

## Skill DNA

In [36]:
skill_dna_df_2008 = pd.read_excel("../static/data/xlsx/Skill DNA.xlsx", sheetname='2008', skiprows=[0])
skill_dna_df_2020 = pd.read_excel("../static/data/xlsx/Skill DNA.xlsx", sheetname='2020', skiprows=[0])
skill_dna_df_automation_level = pd.read_excel("../static/data/xlsx/Skill DNA.xlsx", sheetname='Automation Level')

In [37]:
skill_dna_df_automation_level.head()

,ElementID,node,Task,2020_automation,2008_automation,Change from 2008 to 2020
0,2.A.2.b,Active Learning,Creative and Critical Thinking,0.410292,0.426175,-0.015883
1,1.A.2.c.2,Wrist-Finger Speed,Machine Control,0.546390,0.548566,-0.002176
2,1.A.1.c.2,Number Facility,Information Processing,0.586415,0.576460,0.009955
3,4.C.1.a.2.h,Electronic Mail,Communication,0.487914,0.521616,-0.033703
4,4.C.2.a.1.e,In an Open Vehicle or Equipment,Vehicle and Equipment Operation,0.490551,0.483999,0.006552

In [38]:
skill_dna_df_automation_level.columns = ['Skill Id', 'Skill Name', 'Task', '2020 Automation Level', '2008 Automation Level', 'Change from 2008 to 2020']

In [39]:
skill_dna_df_automation_level.to_csv("../static/data/csv/Panel 3.csv", index=False)

In [40]:
skill_dna_df_2008 = skill_dna_df_2008.rename(columns={"SOC Code":"Job Code"})
skill_dna_df_2020 = skill_dna_df_2020.rename(columns={"SOC Code":"Job Code"})

In [41]:
skill_dna_df_2008.to_csv("../static/data/csv/Panel 3 Skill Importance 2008.csv", index=False, encoding='utf-8')
skill_dna_df_2020.to_csv("../static/data/csv/Panel 3 Skill Importance 2020.csv", index=False, encoding='utf-8')

## City Automation Index

### Panel 6

In [42]:
city_level_df_2008 = pd.read_excel("../static/data/xlsx/Task-Level City Automation_2021v2.xlsx", sheetname='2008')
city_level_df_2020 = pd.read_excel("../static/data/xlsx/Task-Level City Automation_2021v2.xlsx", sheetname='2020')
city_level_df_2008_2020 = pd.read_excel("../static/data/xlsx/Task-Level City Automation_2021v2.xlsx", sheetname='2008-2020')

In [43]:
city_level_df_2008.head()

,MSA Code,AREA_NAME,Lat,Long,Employment,Automation Index,Race with the Machine,Interpersonal Task,Group Task,Conflict Resolution,...,Routine Problem Solving,Information Processing,Race against the Machine,General Physical Task,Dynamic Physical Task,Running a Different Race,Equipment Maintenance,Vehicle and Equipment Operation,Machine Control,Hazardous Task
0,11260,"Anchorage, AK",62.212784,-149.678222,138080,0.449184,0.107123,0.043238,0.010557,0.033550,...,0.047212,0.036178,0.081381,0.037985,0.043395,0.090154,0.015052,0.035740,0.018163,0.021198
1,21820,"Fairbanks, AK",64.676044,-146.548159,24480,0.451177,0.100028,0.042074,0.010308,0.029501,...,0.048103,0.036245,0.089490,0.041143,0.048347,0.094001,0.015554,0.036896,0.018365,0.023186
2,11500,"Anniston-Oxford-Jacksonville, AL",33.771706,-85.822513,37650,0.459892,0.098706,0.038945,0.009694,0.032038,...,0.045596,0.029460,0.097379,0.049021,0.048358,0.120076,0.021222,0.041869,0.024473,0.032512
3,12220,"Auburn-Opelika, AL",32.604064,-85.353048,37110,0.478209,0.109486,0.044675,0.010976,0.034200,...,0.049040,0.032971,0.105091,0.049863,0.055227,0.104766,0.018107,0.034797,0.022364,0.029498
4,13820,"Birmingham-Hoover, AL",33.462372,-86.814338,474730,0.459801,0.105196,0.042356,0.010076,0.032851,...,0.050438,0.036221,0.081579,0.039764,0.041815,0.099675,0.016760,0.037450,0.020413,0.025052

In [44]:
city_level_df_2008 = city_level_df_2008[['MSA Code', 'AREA_NAME', 'Employment','Automation Index', 'Race with the Machine', 'Race ahead of the Machine', 'Changing the Course of the Race',
                                                      'Race against the Machine', 'Running a Different Race','Lat','Long']]
city_level_df_2020 = city_level_df_2020[['MSA Code', 'AREA_NAME', 'Employment','Automation Index', 'Race with the Machine', 'Race ahead of the Machine', 'Changing the Course of the Race',
                                                      'Race against the Machine', 'Running a Different Race','Lat','Long']]
city_level_df_2008_2020 = city_level_df_2008_2020[['MSA Code', 'AREA_NAME', 'Employment','Automation Index', 'Race with the Machine', 'Race ahead of the Machine', 'Changing the Course of the Race',
                                                      'Race against the Machine', 'Running a Different Race','Lat','Long']]

In [45]:
city_level_df_2008 = city_level_df_2008.rename(columns={'MSA Code':'AREA'})
city_level_df_2020 = city_level_df_2020.rename(columns={'MSA Code':'AREA'})
city_level_df_2008_2020 = city_level_df_2008_2020.rename(columns={'MSA Code':'AREA'})

In [46]:
city_level_df_2008.to_csv("../static/data/csv/Panel 6 2008.csv", index=False)
city_level_df_2020.to_csv("../static/data/csv/Panel 6 2020.csv", index=False)
city_level_df_2008_2020.to_csv("../static/data/csv/Panel 6 2008~2020.csv", index=False)

### Panel 7

In [47]:
city_level_df_2008 = pd.read_excel("../static/data/xlsx/Task-Level City Automation_2021v2.xlsx", sheetname='2008')
city_level_df_2020 = pd.read_excel("../static/data/xlsx/Task-Level City Automation_2021v2.xlsx", sheetname='2020')
city_level_df_2008_2020 = pd.read_excel("../static/data/xlsx/Task-Level City Automation_2021v2.xlsx", sheetname='2008-2020')

In [48]:
city_level_df_2008.head()

,MSA Code,AREA_NAME,Lat,Long,Employment,Automation Index,Race with the Machine,Interpersonal Task,Group Task,Conflict Resolution,...,Routine Problem Solving,Information Processing,Race against the Machine,General Physical Task,Dynamic Physical Task,Running a Different Race,Equipment Maintenance,Vehicle and Equipment Operation,Machine Control,Hazardous Task
0,11260,"Anchorage, AK",62.212784,-149.678222,138080,0.449184,0.107123,0.043238,0.010557,0.033550,...,0.047212,0.036178,0.081381,0.037985,0.043395,0.090154,0.015052,0.035740,0.018163,0.021198
1,21820,"Fairbanks, AK",64.676044,-146.548159,24480,0.451177,0.100028,0.042074,0.010308,0.029501,...,0.048103,0.036245,0.089490,0.041143,0.048347,0.094001,0.015554,0.036896,0.018365,0.023186
2,11500,"Anniston-Oxford-Jacksonville, AL",33.771706,-85.822513,37650,0.459892,0.098706,0.038945,0.009694,0.032038,...,0.045596,0.029460,0.097379,0.049021,0.048358,0.120076,0.021222,0.041869,0.024473,0.032512
3,12220,"Auburn-Opelika, AL",32.604064,-85.353048,37110,0.478209,0.109486,0.044675,0.010976,0.034200,...,0.049040,0.032971,0.105091,0.049863,0.055227,0.104766,0.018107,0.034797,0.022364,0.029498
4,13820,"Birmingham-Hoover, AL",33.462372,-86.814338,474730,0.459801,0.105196,0.042356,0.010076,0.032851,...,0.050438,0.036221,0.081579,0.039764,0.041815,0.099675,0.016760,0.037450,0.020413,0.025052

In [49]:
len(city_level_df_2008.columns)

26

In [50]:
city_level_df_2008['State'] = [area_name.split(', ')[1] for area_name in city_level_df_2008['AREA_NAME'].tolist()]
city_level_df_2020['State'] = [area_name.split(', ')[1] for area_name in city_level_df_2020['AREA_NAME'].tolist()]
city_level_df_2008_2020['State'] = [area_name.split(', ')[1] for area_name in city_level_df_2008_2020['AREA_NAME'].tolist()]

In [51]:
city_level_df_2008['Metropolitan Areas'] = [area_name.split(', ')[0] for area_name in city_level_df_2008['AREA_NAME'].tolist()]
city_level_df_2020['Metropolitan Areas'] = [area_name.split(', ')[0] for area_name in city_level_df_2020['AREA_NAME'].tolist()]
city_level_df_2008_2020['Metropolitan Areas'] = [area_name.split(', ')[0] for area_name in city_level_df_2008_2020['AREA_NAME'].tolist()]

In [52]:
city_level_df_2008.columns

Index([                       u'MSA Code',                       u'AREA_NAME',
                                   u'Lat',                            u'Long',
                            u'Employment',                u'Automation Index',
                 u'Race with the Machine',              u'Interpersonal Task',
                            u'Group Task',             u'Conflict Resolution',
            u'Management and Supervision',       u'Race ahead of the Machine',
                         u'Communication',                u'Systems Analysis',
        u'Creative and Critical Thinking', u'Changing the Course of the Race',
               u'Routine Problem Solving',          u'Information Processing',
              u'Race against the Machine',           u'General Physical Task',
                 u'Dynamic Physical Task',        u'Running a Different Race',
                 u'Equipment Maintenance', u'Vehicle and Equipment Operation',
                       u'Machine Control',                  u'Hazardous Task',
                                 u'State',              u'Metropolitan Areas'],
      dtype='object')

In [53]:
selected_cols = ['State','Metropolitan Areas',
               #'Automation Index', 
                 
                'Race with the Machine', 'Interpersonal Task', 'Group Task', 'Conflict Resolution', 'Management and Supervision',

                'Race ahead of the Machine', 'Communication', 'Systems Analysis', 'Creative and Critical Thinking',

                'Changing the Course of the Race', 'Routine Problem Solving', 'Information Processing',

                'Race against the Machine', 'General Physical Task', 'Dynamic Physical Task',

                'Running a Different Race', 'Equipment Maintenance',  'Vehicle and Equipment Operation', 'Machine Control', 'Hazardous Task'                 
                ]

city_level_df_2008 = city_level_df_2008[selected_cols]
city_level_df_2020 = city_level_df_2020[selected_cols]
city_level_df_2008_2020 = city_level_df_2008_2020[selected_cols]

In [54]:
city_level_df_2008.to_csv("../static/data/csv/Panel 7 2008.csv")
city_level_df_2020.to_csv("../static/data/csv/Panel 7 2020.csv")
city_level_df_2008_2020.to_csv("../static/data/csv/Panel 7 2008~2020.csv")