In [67]:
# -*- coding: utf-8 -*-
import pandas as pd

## Job Information

In [12]:
xl = pd.ExcelFile("../static/data/xlsx/Job Information_2021v1.xlsx")
print(xl.sheet_names)  # see all sheet names

[u'2008', u'2020', u'2008-2020']

### jobs

In [13]:
job_information_df_2008_2020 = pd.read_excel("../static/data/xlsx/Job Information_2021v1.xlsx", sheetname='2008-2020')

In [14]:
job_information_df_2008_2020[['SOC Code','Job Title', 'Job Family', 'Description']].head()

,SOC Code,Job Title,Job Family,Description
0,00-0000,TOTAL AVERAGE,TOTAL AVERAGE,Average of all occupations
1,11-1011,Chief Executives,Management Occupations,Determine and formulate policies and provide o...
2,11-1021,General and Operations Managers,Management Occupations,"Plan, direct, or coordinate the operations of ..."
3,11-2011,Advertising and Promotions Managers,Management Occupations,"Plan, direct, or coordinate advertising polici..."
4,11-2021,Marketing Managers,Management Occupations,"Plan, direct, or coordinate marketing policies..."

In [15]:
family_code = [soc_code.split('-')[0] for soc_code in job_information_df_2008_2020['SOC Code']]
job_information_df_2008_2020['Family Code'] = family_code
job_information_df_2008_2020 = job_information_df_2008_2020[['Family Code', 'SOC Code','Job Title', 'Job Family', 'Description']]
job_information_df_2008_2020.columns = ['Family Code', 'Job Code','Job Title', 'Job Family', 'Description']

In [16]:
job_information_df_2008_2020.head()

,Family Code,Job Code,Job Title,Job Family,Description
0,00,00-0000,TOTAL AVERAGE,TOTAL AVERAGE,Average of all occupations
1,11,11-1011,Chief Executives,Management Occupations,Determine and formulate policies and provide o...
2,11,11-1021,General and Operations Managers,Management Occupations,"Plan, direct, or coordinate the operations of ..."
3,11,11-2011,Advertising and Promotions Managers,Management Occupations,"Plan, direct, or coordinate advertising polici..."
4,11,11-2021,Marketing Managers,Management Occupations,"Plan, direct, or coordinate marketing policies..."

In [17]:
job_information_df_2008_2020.to_csv("../static/data/csv/jobs.csv", index=False, encoding='utf-8')

### Panel 1

In [18]:
job_information_df_2008 = pd.read_excel("../static/data/xlsx/Job Information_2021v1.xlsx", sheetname='2008')
job_information_df_2020 = pd.read_excel("../static/data/xlsx/Job Information_2021v1.xlsx", sheetname='2020')
job_information_df_2008_2020 = pd.read_excel("../static/data/xlsx/Job Information_2021v1.xlsx", sheetname='2008-2020')

rank_label = pd.read_excel("../static/data/xlsx/Rank Label.xlsx")

In [19]:
job_information_df_2008['Year'] = '2008'
job_information_df_2020['Year'] = '2020'
job_information_df_2008_2020['Year'] = '2008~2020'

In [20]:
job_information_df_2008['Job Automation Index Rank'] = [None] + job_information_df_2008['Job Automation Index'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2008['Job Automation Index Percentile'] = ['Top 50%'] + pd.merge(job_information_df_2008[['Job Automation Index Rank']], rank_label.rename(columns={"Rank": "Job Automation Index Rank"}), on='Job Automation Index Rank', how='left')['Label'].iloc[1:].tolist()

job_information_df_2008['Race with the Machine Rank'] = [None] + job_information_df_2008['Race with the Machine'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2008['Race with the Machine Percentile'] = ['Top 50%'] + pd.merge(job_information_df_2008[['Race with the Machine Rank']], rank_label.rename(columns={"Rank": "Race with the Machine Rank"}), on='Race with the Machine Rank', how='left')['Label'].iloc[1:].tolist()

job_information_df_2008['Race against the Machine Rank'] = [None] + job_information_df_2008['Race against the Machine'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2008['Race against the Machine Percentile'] = ['Top 50%'] + pd.merge(job_information_df_2008[['Race against the Machine Rank']], rank_label.rename(columns={"Rank": "Race against the Machine Rank"}), on='Race against the Machine Rank', how='left')['Label'].iloc[1:].tolist()

job_information_df_2008['Race ahead of the Machine Rank'] = [None] + job_information_df_2008['Race ahead of the Machine'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2008['Race ahead of the Machine Percentile'] = ['Top 50%'] + pd.merge(job_information_df_2008[['Race ahead of the Machine Rank']], rank_label.rename(columns={"Rank": "Race ahead of the Machine Rank"}), on='Race ahead of the Machine Rank', how='left')['Label'].iloc[1:].tolist()

job_information_df_2008['Running a Different Race Rank'] = [None] + job_information_df_2008['Running a Different Race'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2008['Running a Different Race Percentile'] = ['Top 50%'] + pd.merge(job_information_df_2008[['Running a Different Race Rank']], rank_label.rename(columns={"Rank": "Running a Different Race Rank"}), on='Running a Different Race Rank', how='left')['Label'].iloc[1:].tolist()

job_information_df_2008['Employment Rank'] = [None] + job_information_df_2008['Employment'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2008['Employment Percentile'] = [None] + pd.merge(job_information_df_2008[['Employment Rank']], rank_label.rename(columns={"Rank": "Employment Rank"}), on='Employment Rank', how='left')['Label'].iloc[1:].tolist()

job_information_df_2008['Annual Wage Rank'] = [None] + job_information_df_2008['Annual Wage'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2008['Annual Wage Percentile'] = ['Top 50%'] + pd.merge(job_information_df_2008[['Annual Wage Rank']], rank_label.rename(columns={"Rank": "Annual Wage Rank"}), on='Annual Wage Rank', how='left')['Label'].iloc[1:].tolist()

In [21]:
job_information_df_2020['Job Automation Index Rank'] = [None] + job_information_df_2020['Job Automation Index'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2020['Job Automation Index Percentile'] = ['Top 50%'] + pd.merge(job_information_df_2020[['Job Automation Index Rank']], rank_label.rename(columns={"Rank": "Job Automation Index Rank"}), on='Job Automation Index Rank', how='left')['Label'].iloc[1:].tolist()

job_information_df_2020['Race with the Machine Rank'] = [None] + job_information_df_2020['Race with the Machine'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2020['Race with the Machine Percentile'] = ['Top 50%'] + pd.merge(job_information_df_2020[['Race with the Machine Rank']], rank_label.rename(columns={"Rank": "Race with the Machine Rank"}), on='Race with the Machine Rank', how='left')['Label'].iloc[1:].tolist()

job_information_df_2020['Race against the Machine Rank'] = [None] + job_information_df_2020['Race against the Machine'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2020['Race against the Machine Percentile'] = ['Top 50%'] + pd.merge(job_information_df_2020[['Race against the Machine Rank']], rank_label.rename(columns={"Rank": "Race against the Machine Rank"}), on='Race against the Machine Rank', how='left')['Label'].iloc[1:].tolist()

job_information_df_2020['Race ahead of the Machine Rank'] = [None] + job_information_df_2020['Race ahead of the Machine'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2020['Race ahead of the Machine Percentile'] = ['Top 50%'] + pd.merge(job_information_df_2020[['Race ahead of the Machine Rank']], rank_label.rename(columns={"Rank": "Race ahead of the Machine Rank"}), on='Race ahead of the Machine Rank', how='left')['Label'].iloc[1:].tolist()

job_information_df_2020['Running a Different Race Rank'] = [None] + job_information_df_2020['Running a Different Race'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2020['Running a Different Race Percentile'] = ['Top 50%'] + pd.merge(job_information_df_2020[['Running a Different Race Rank']], rank_label.rename(columns={"Rank": "Running a Different Race Rank"}), on='Running a Different Race Rank', how='left')['Label'].iloc[1:].tolist()

job_information_df_2020['Employment Rank'] = [None] + job_information_df_2020['Employment'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2020['Employment Percentile'] = [None] + pd.merge(job_information_df_2020[['Employment Rank']], rank_label.rename(columns={"Rank": "Employment Rank"}), on='Employment Rank', how='left')['Label'].iloc[1:].tolist()

job_information_df_2020['Annual Wage Rank'] = [None] + job_information_df_2020['Annual Wage'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2020['Annual Wage Percentile'] = ['Top 50%'] + pd.merge(job_information_df_2020[['Annual Wage Rank']], rank_label.rename(columns={"Rank": "Annual Wage Rank"}), on='Annual Wage Rank', how='left')['Label'].iloc[1:].tolist()

In [22]:
job_information_df_2008_2020['Job Automation Index Change'] = job_information_df_2008_2020['Job Automation Index']
job_information_df_2008_2020['Race with the Machine Change'] = job_information_df_2008_2020['Race with the Machine']
job_information_df_2008_2020['Race against the Machine Change'] = job_information_df_2008_2020['Race against the Machine']
job_information_df_2008_2020['Race ahead of the Machine Change'] = job_information_df_2008_2020['Race ahead of the Machine']
job_information_df_2008_2020['Running a Different Race Change'] = job_information_df_2008_2020['Running a Different Race']

job_information_df_2008_2020['Job Automation Index'] = None

job_information_df_2008_2020['Job Automation Index Change Rank'] = [None] + job_information_df_2008_2020['Job Automation Index Change'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2008_2020['Job Automation Index Change Percentile'] = ['Top 50%'] + pd.merge(job_information_df_2008_2020[['Job Automation Index Change Rank']], rank_label.rename(columns={"Rank": "Job Automation Index Change Rank"}), on='Job Automation Index Change Rank', how='left')['Label'].iloc[1:].tolist()

job_information_df_2008_2020['Race with the Machine Change Rank'] = [None] + job_information_df_2008_2020['Race with the Machine Change'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2008_2020['Race with the Machine Change Percentile'] = ['Top 50%'] + pd.merge(job_information_df_2008_2020[['Race with the Machine Change Rank']], rank_label.rename(columns={"Rank": "Race with the Machine Change Rank"}), on='Race with the Machine Change Rank', how='left')['Label'].iloc[1:].tolist()

job_information_df_2008_2020['Race against the Machine Change Rank'] = [None] + job_information_df_2008_2020['Race against the Machine Change'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2008_2020['Race against the Machine Change Percentile'] = ['Top 50%'] + pd.merge(job_information_df_2008_2020[['Race against the Machine Change Rank']], rank_label.rename(columns={"Rank": "Race against the Machine Change Rank"}), on='Race against the Machine Change Rank', how='left')['Label'].iloc[1:].tolist()

job_information_df_2008_2020['Race ahead of the Machine Change Rank'] = [None] + job_information_df_2008_2020['Race ahead of the Machine Change'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2008_2020['Race ahead of the Machine Change Percentile'] = ['Top 50%'] + pd.merge(job_information_df_2008_2020[['Race ahead of the Machine Change Rank']], rank_label.rename(columns={"Rank": "Race ahead of the Machine Change Rank"}), on='Race ahead of the Machine Change Rank', how='left')['Label'].iloc[1:].tolist()

job_information_df_2008_2020['Running a Different Race Change Rank'] = [None] + job_information_df_2008_2020['Running a Different Race Change'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2008_2020['Running a Different Race Change Percentile'] = ['Top 50%'] + pd.merge(job_information_df_2008_2020[['Running a Different Race Change Rank']], rank_label.rename(columns={"Rank": "Running a Different Race Change Rank"}), on='Running a Different Race Change Rank', how='left')['Label'].iloc[1:].tolist()

job_information_df_2008_2020['Wage Share Change Rank'] = [None] + job_information_df_2008_2020['Wage Share Change'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2008_2020['Wage Share Change Percentile']= [None] + pd.merge(job_information_df_2008_2020[['Wage Share Change Rank']], rank_label.rename(columns={"Rank": "Wage Share Change Rank"}), on='Wage Share Change Rank', how='left')['Label'].iloc[1:].tolist()

In [23]:
job_information_df_2008_2020.head()

,SOC Code,Job Title,Job Family,Description,Job Automation Index,Wage Share Change,Race with the Machine,Race against the Machine,Race ahead of the Machine,Running a Different Race,...,Race with the Machine Change Rank,Race with the Machine Change Percentile,Race against the Machine Change Rank,Race against the Machine Change Percentile,Race ahead of the Machine Change Rank,Race ahead of the Machine Change Percentile,Running a Different Race Change Rank,Running a Different Race Change Percentile,Wage Share Change Rank,Wage Share Change Percentile
0,00-0000,TOTAL AVERAGE,TOTAL AVERAGE,Average of all occupations,None,NaN,-0.000111,0.002285,-0.001564,0.003225,...,NaN,Top 50%,NaN,Top 50%,NaN,Top 50%,NaN,Top 50%,NaN,None
1,11-1011,Chief Executives,Management Occupations,Determine and formulate policies and provide o...,None,-0.003419,0.015694,-0.005126,-0.004398,-0.007273,...,163.0,Top 30%,402.0,Bottom 40%,351.0,Bottom 50%,441.0,Bottom 35%,642.0,Bottom 5%
2,11-1021,General and Operations Managers,Management Occupations,"Plan, direct, or coordinate the operations of ...",None,0.005515,0.036897,0.012997,-0.016163,-0.030692,...,61.0,Top 10%,235.0,Top 40%,479.0,Bottom 30%,588.0,Bottom 10%,4.0,Top 1%
3,11-2011,Advertising and Promotions Managers,Management Occupations,"Plan, direct, or coordinate advertising polici...",None,-0.000178,-0.013935,-0.032790,0.050651,-0.002937,...,469.0,Bottom 30%,560.0,Bottom 15%,22.0,Top 5%,386.0,Bottom 45%,519.0,Bottom 25%
4,11-2021,Marketing Managers,Management Occupations,"Plan, direct, or coordinate marketing policies...",None,0.001878,0.019946,-0.018705,-0.009300,0.001980,...,137.0,Top 25%,486.0,Bottom 30%,408.0,Bottom 40%,297.0,Top 50%,15.0,Top 5%

In [24]:
panel1_df = pd.DataFrame()
panel1_df = panel1_df.append(job_information_df_2008)
panel1_df = panel1_df.append(job_information_df_2020)
panel1_df = panel1_df.append(job_information_df_2008_2020)

In [25]:
panel1_df = panel1_df[['Year','SOC Code','Job Title','Description','Job Automation Index', 'Job Automation Index Rank','Job Automation Index Percentile',
                       
                       'Race with the Machine', 'Race with the Machine Rank', 'Race with the Machine Percentile',
                       'Race against the Machine', 'Race against the Machine Rank', 'Race against the Machine Percentile',
                       'Race ahead of the Machine', 'Race ahead of the Machine Rank','Race ahead of the Machine Percentile',
                       'Running a Different Race', 'Running a Different Race Rank','Running a Different Race Percentile',
                       
                       'Employment', 'Employment Rank','Employment Percentile', 
                       'Annual Wage', 'Annual Wage Rank', 'Annual Wage Percentile', 
                       'Job Automation Index Change', 'Job Automation Index Change Rank','Job Automation Index Change Percentile',
                       
                       'Race with the Machine Change', 'Race with the Machine Change Rank','Race with the Machine Change Percentile',
                       'Race against the Machine Change', 'Race against the Machine Change Rank','Race against the Machine Change Percentile',
                       
                       'Race ahead of the Machine Change', 'Race ahead of the Machine Change Rank','Race ahead of the Machine Change Percentile',
                       'Running a Different Race Change', 'Running a Different Race Change Rank','Running a Different Race Change Percentile',
                       
                       'Wage Share Change', 'Wage Share Change Rank', 'Wage Share Change Percentile',]]

In [26]:
panel1_df.head()

,Year,SOC Code,Job Title,Description,Job Automation Index,Job Automation Index Rank,Job Automation Index Percentile,Race with the Machine,Race with the Machine Rank,Race with the Machine Percentile,...,Race against the Machine Change Percentile,Race ahead of the Machine Change,Race ahead of the Machine Change Rank,Race ahead of the Machine Change Percentile,Running a Different Race Change,Running a Different Race Change Rank,Running a Different Race Change Percentile,Wage Share Change,Wage Share Change Rank,Wage Share Change Percentile
0,2008,00-0000,TOTAL AVERAGE,Average of all occupations,0.485689,NaN,Top 50%,0.097080,NaN,Top 50%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2008,11-1011,Chief Executives,Determine and formulate policies and provide o...,0.473873,447.0,Bottom 35%,0.188670,67.0,Top 15%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2008,11-1021,General and Operations Managers,"Plan, direct, or coordinate the operations of ...",0.47246,465.0,Bottom 30%,0.208119,41.0,Top 10%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2008,11-2011,Advertising and Promotions Managers,"Plan, direct, or coordinate advertising polici...",0.471311,476.0,Bottom 30%,0.188768,66.0,Top 15%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2008,11-2021,Marketing Managers,"Plan, direct, or coordinate marketing policies...",0.471814,468.0,Bottom 30%,0.178089,87.0,Top 15%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
panel1_df = panel1_df.rename({'SOC Code': 'Job Code'})

In [28]:
panel1_df.to_csv("../static/data/csv/Panel 1.csv", index=False, encoding='utf-8')

## Job Automation Index

### Panel 2

In [29]:
task_automation_df_2008 = pd.read_excel("../static/data/xlsx/Task-Level Automation_2021v1.xlsx", sheetname='2008')
task_automation_df_2020 = pd.read_excel("../static/data/xlsx/Task-Level Automation_2021v1.xlsx", sheetname='2020')
task_automation_df_2008_2020 = pd.read_excel("../static/data/xlsx/Task-Level Automation_2021v1.xlsx", sheetname='2008-2020')

In [30]:
task_automation_df_2008['Year'] = '2008'
task_automation_df_2020['Year'] = '2020'
task_automation_df_2008_2020['Year'] = '2008~2020'

In [31]:
panel2_df = pd.DataFrame()
panel2_df = panel2_df.append(task_automation_df_2008[['Year','SOC Code','Job Title','Race with the Machine','Race against the Machine','Race ahead of the Machine','Running a Different Race']])
panel2_df = panel2_df.append(task_automation_df_2020[['Year','SOC Code','Job Title','Race with the Machine','Race against the Machine','Race ahead of the Machine','Running a Different Race']])
panel2_df = panel2_df.append(task_automation_df_2008_2020[['Year','SOC Code','Job Title','Race with the Machine','Race against the Machine','Race ahead of the Machine','Running a Different Race']])

In [32]:
job_information_df_2008_2020.head()

,SOC Code,Job Title,Job Family,Description,Job Automation Index,Wage Share Change,Race with the Machine,Race against the Machine,Race ahead of the Machine,Running a Different Race,...,Race with the Machine Change Rank,Race with the Machine Change Percentile,Race against the Machine Change Rank,Race against the Machine Change Percentile,Race ahead of the Machine Change Rank,Race ahead of the Machine Change Percentile,Running a Different Race Change Rank,Running a Different Race Change Percentile,Wage Share Change Rank,Wage Share Change Percentile
0,00-0000,TOTAL AVERAGE,TOTAL AVERAGE,Average of all occupations,None,NaN,-0.000111,0.002285,-0.001564,0.003225,...,NaN,Top 50%,NaN,Top 50%,NaN,Top 50%,NaN,Top 50%,NaN,None
1,11-1011,Chief Executives,Management Occupations,Determine and formulate policies and provide o...,None,-0.003419,0.015694,-0.005126,-0.004398,-0.007273,...,163.0,Top 30%,402.0,Bottom 40%,351.0,Bottom 50%,441.0,Bottom 35%,642.0,Bottom 5%
2,11-1021,General and Operations Managers,Management Occupations,"Plan, direct, or coordinate the operations of ...",None,0.005515,0.036897,0.012997,-0.016163,-0.030692,...,61.0,Top 10%,235.0,Top 40%,479.0,Bottom 30%,588.0,Bottom 10%,4.0,Top 1%
3,11-2011,Advertising and Promotions Managers,Management Occupations,"Plan, direct, or coordinate advertising polici...",None,-0.000178,-0.013935,-0.032790,0.050651,-0.002937,...,469.0,Bottom 30%,560.0,Bottom 15%,22.0,Top 5%,386.0,Bottom 45%,519.0,Bottom 25%
4,11-2021,Marketing Managers,Management Occupations,"Plan, direct, or coordinate marketing policies...",None,0.001878,0.019946,-0.018705,-0.009300,0.001980,...,137.0,Top 25%,486.0,Bottom 30%,408.0,Bottom 40%,297.0,Top 50%,15.0,Top 5%

In [33]:
panel2_df = panel2_df.merge(job_information_df_2008_2020[['SOC Code','Job Family']], on='SOC Code', how='left')

In [34]:
panel2_df.head()

,Year,SOC Code,Job Title,Race with the Machine,Race against the Machine,Race ahead of the Machine,Running a Different Race,Job Family
0,2008,00-0000,TOTAL AVERAGE,0.097080,0.154017,0.106743,0.127848,TOTAL AVERAGE
1,2008,11-1011,Chief Executives,0.188670,0.095908,0.167163,0.022132,Management Occupations
2,2008,11-1021,General and Operations Managers,0.208119,0.049904,0.155544,0.058893,Management Occupations
3,2008,11-2011,Advertising and Promotions Managers,0.188768,0.103212,0.161617,0.017714,Management Occupations
4,2008,11-2021,Marketing Managers,0.178089,0.078920,0.203993,0.010812,Management Occupations

In [35]:
panel2_df = panel2_df[['Year','SOC Code','Job Title','Job Family', 'Race with the Machine', 'Race against the Machine', 'Race ahead of the Machine', 'Running a Different Race']]

In [36]:
panel2_df = panel2_df.rename(columns={'SOC Code': 'Job Code'})

In [37]:
panel2_df.head()

,Year,Job Code,Job Title,Job Family,Race with the Machine,Race against the Machine,Race ahead of the Machine,Running a Different Race
0,2008,00-0000,TOTAL AVERAGE,TOTAL AVERAGE,0.097080,0.154017,0.106743,0.127848
1,2008,11-1011,Chief Executives,Management Occupations,0.188670,0.095908,0.167163,0.022132
2,2008,11-1021,General and Operations Managers,Management Occupations,0.208119,0.049904,0.155544,0.058893
3,2008,11-2011,Advertising and Promotions Managers,Management Occupations,0.188768,0.103212,0.161617,0.017714
4,2008,11-2021,Marketing Managers,Management Occupations,0.178089,0.078920,0.203993,0.010812

In [38]:
panel2_df.to_csv("../static/data/csv/Panel 2.csv", index=False, encoding='utf-8')

### Panel 4

In [39]:
task_automation_df_2008 = pd.read_excel("../static/data/xlsx/Task-Level Automation_2021v1.xlsx", sheetname='2008')
task_automation_df_2020 = pd.read_excel("../static/data/xlsx/Task-Level Automation_2021v1.xlsx", sheetname='2020')
task_automation_df_2008_2020 = pd.read_excel("../static/data/xlsx/Task-Level Automation_2021v1.xlsx", sheetname='2008-2020')

In [40]:
task_automation_df_2008 = task_automation_df_2008.rename(columns={"SOC Code":"Job Code"})
task_automation_df_2020 = task_automation_df_2020.rename(columns={"SOC Code":"Job Code"})
task_automation_df_2008_2020 = task_automation_df_2008_2020.rename(columns={"SOC Code":"Job Code"})

In [41]:
task_automation_df_2008.to_csv("../static/data/csv/Panel 4 2008.csv", encoding='utf-8')
task_automation_df_2020.to_csv("../static/data/csv/Panel 4 2020.csv", encoding='utf-8')
task_automation_df_2008_2020.to_csv("../static/data/csv/Panel 4 2008~2020.csv", encoding='utf-8')

### Panel 5

In [42]:
task_automation_df_2008 = pd.read_excel("../static/data/xlsx/Task-Level Automation_2021v1.xlsx", sheetname='2008')
task_automation_df_2020 = pd.read_excel("../static/data/xlsx/Task-Level Automation_2021v1.xlsx", sheetname='2020')
task_automation_df_2008_2020 = pd.read_excel("../static/data/xlsx/Task-Level Automation_2021v1.xlsx", sheetname='2008-2020')

In [43]:
task_automation_df_2008 = task_automation_df_2008[['SOC Code','Job Title','Race with the Machine','Race against the Machine','Race ahead of the Machine','Running a Different Race']]
task_automation_df_2020 = task_automation_df_2020[['SOC Code','Job Title','Race with the Machine','Race against the Machine','Race ahead of the Machine','Running a Different Race']]
task_automation_df_2008_2020 = task_automation_df_2008_2020[['SOC Code','Job Title','Race with the Machine','Race against the Machine','Race ahead of the Machine','Running a Different Race']]

In [44]:
task_automation_df_2008 = task_automation_df_2008.rename(columns={"SOC Code":"Job Code"})
task_automation_df_2020 = task_automation_df_2020.rename(columns={"SOC Code":"Job Code"})
task_automation_df_2008_2020 = task_automation_df_2008_2020.rename(columns={"SOC Code":"Job Code"})

In [45]:
task_automation_df_2008.to_csv("../static/data/csv/Panel 5 2008.csv", encoding='utf-8')
task_automation_df_2020.to_csv("../static/data/csv/Panel 5 2020.csv", encoding='utf-8')
task_automation_df_2008_2020.to_csv("../static/data/csv/Panel 5 2008~2020.csv", encoding='utf-8')

## Skill DNA

In [48]:
skill_dna_df_2008 = pd.read_excel("../static/data/xlsx/Skill DNA.xlsx", sheetname='2008', skiprows=[0])
skill_dna_df_2020 = pd.read_excel("../static/data/xlsx/Skill DNA.xlsx", sheetname='2020', skiprows=[0])
skill_dna_df_automation_level = pd.read_excel("../static/data/xlsx/Skill DNA.xlsx", sheetname='Automation Level')

In [49]:
skill_dna_df_automation_level.head()

,ElementID,node,Task,2019_automation,2007_automation,Change between 2007-2019
0,2.A.2.b,Active Learning,Creative and Critical Thinking,0.410292,0.426175,-0.015883
1,1.A.2.c.2,Wrist-Finger Speed,Machine Control,0.546390,0.548566,-0.002176
2,1.A.1.c.2,Number Facility,Information Processing,0.586415,0.576460,0.009955
3,4.C.1.a.2.h,Electronic Mail,Communication,0.487914,0.521616,-0.033703
4,4.C.2.a.1.e,In an Open Vehicle or Equipment,Vehicle and Equipment Operation,0.490551,0.483999,0.006552

In [50]:
skill_dna_df_automation_level.columns = ['Skill Id', 'Skill Name', 'Task', '2020 Automation Level', '2008 Automation Level', 'Change from 2008 to 2020']

In [51]:
skill_dna_df_automation_level.to_csv("../static/data/csv/Panel 3.csv", index=False)

In [52]:
skill_dna_df_2008 = skill_dna_df_2008.rename(columns={"SOC Code":"Job Code"})
skill_dna_df_2020 = skill_dna_df_2020.rename(columns={"SOC Code":"Job Code"})

In [53]:
skill_dna_df_2008.to_csv("../static/data/csv/Panel 3 Skill Importance 2008.csv", index=False, encoding='utf-8')
skill_dna_df_2020.to_csv("../static/data/csv/Panel 3 Skill Importance 2020.csv", index=False, encoding='utf-8')

## City Automation Index

### Panel 6

In [54]:
city_level_df_2008 = pd.read_excel("../static/data/xlsx/City-Level Automation_2021v1.xlsx", sheetname='2008')
city_level_df_2020 = pd.read_excel("../static/data/xlsx/City-Level Automation_2021v1.xlsx", sheetname='2020')
city_level_df_2008_2020 = pd.read_excel("../static/data/xlsx/City-Level Automation_2021v1.xlsx", sheetname='2008-2020')

In [55]:
city_level_df_2008.head()

,MSA Code,AREA_NAME,Lat,Long,Employment,Automation Index,Race with the Machine,Interpersonal Task,Group Task,Conflict Resolution,...,Dynamic Physical Task,Race ahead of the Machine,Communication,Systems Analysis,Creative and Critical Thinking,Running a Different Race,Equipment Maintenance,Vehicle and Equipment Operation,Machine Control,Hazardous Task
0,11260,"Anchorage, AK",62.212784,-149.678222,138080,0.485976,0.115780,0.046693,0.011449,0.036327,...,0.047415,0.093882,0.060419,0.015971,0.017492,0.097580,0.016198,0.038707,0.019647,0.023029
1,21820,"Fairbanks, AK",64.676044,-146.548159,24480,0.487687,0.107968,0.045377,0.011167,0.031897,...,0.052770,0.089667,0.059610,0.014045,0.016011,0.101644,0.016731,0.039912,0.019843,0.025157
2,11500,"Anniston-Oxford-Jacksonville, AL",33.771706,-85.822513,37650,0.486739,0.104308,0.041122,0.010278,0.033915,...,0.051649,0.072338,0.045065,0.012149,0.015124,0.127085,0.022336,0.044337,0.025881,0.034531
3,12220,"Auburn-Opelika, AL",32.604064,-85.353048,37110,0.486051,0.111112,0.045306,0.011175,0.034767,...,0.056654,0.077742,0.048682,0.011782,0.017278,0.106498,0.018305,0.035385,0.022719,0.030090
4,13820,"Birmingham-Hoover, AL",33.462372,-86.814338,474730,0.488029,0.111540,0.044882,0.010721,0.034887,...,0.044818,0.091632,0.058235,0.015734,0.017663,0.105852,0.017697,0.039791,0.021664,0.026701

In [56]:
city_level_df_2008 = city_level_df_2008[['MSA Code', 'AREA_NAME', 'Employment','Automation Index', 'Race with the Machine','Race against the Machine','Race ahead of the Machine','Running a Different Race','Lat','Long']]
city_level_df_2020 = city_level_df_2020[['MSA Code', 'AREA_NAME', 'Employment','Automation Index', 'Race with the Machine','Race against the Machine','Race ahead of the Machine','Running a Different Race','Lat','Long']]
city_level_df_2008_2020 = city_level_df_2008_2020[['MSA Code', 'AREA_NAME', 'Employment','Automation Index', 'Race with the Machine','Race against the Machine','Race ahead of the Machine','Running a Different Race','Lat','Long']]

In [57]:
city_level_df_2008 = city_level_df_2008.rename(columns={'MSA Code':'AREA'})
city_level_df_2020 = city_level_df_2020.rename(columns={'MSA Code':'AREA'})
city_level_df_2008_2020 = city_level_df_2008_2020.rename(columns={'MSA Code':'AREA'})

In [58]:
city_level_df_2008.to_csv("../static/data/csv/Panel 6 2008.csv", index=False)
city_level_df_2020.to_csv("../static/data/csv/Panel 6 2020.csv", index=False)
city_level_df_2008_2020.to_csv("../static/data/csv/Panel 6 2008~2020.csv", index=False)

### Panel 7

In [68]:
city_level_df_2008 = pd.read_excel("../static/data/xlsx/City-Level Automation_2021v1.xlsx", sheetname='2008')
city_level_df_2020 = pd.read_excel("../static/data/xlsx/City-Level Automation_2021v1.xlsx", sheetname='2020')
city_level_df_2008_2020 = pd.read_excel("../static/data/xlsx/City-Level Automation_2021v1.xlsx", sheetname='2008-2020')

In [69]:
city_level_df_2008.head()

,MSA Code,AREA_NAME,Lat,Long,Employment,Automation Index,Race with the Machine,Interpersonal Task,Group Task,Conflict Resolution,...,Dynamic Physical Task,Race ahead of the Machine,Communication,Systems Analysis,Creative and Critical Thinking,Running a Different Race,Equipment Maintenance,Vehicle and Equipment Operation,Machine Control,Hazardous Task
0,11260,"Anchorage, AK",62.212784,-149.678222,138080,0.485976,0.115780,0.046693,0.011449,0.036327,...,0.047415,0.093882,0.060419,0.015971,0.017492,0.097580,0.016198,0.038707,0.019647,0.023029
1,21820,"Fairbanks, AK",64.676044,-146.548159,24480,0.487687,0.107968,0.045377,0.011167,0.031897,...,0.052770,0.089667,0.059610,0.014045,0.016011,0.101644,0.016731,0.039912,0.019843,0.025157
2,11500,"Anniston-Oxford-Jacksonville, AL",33.771706,-85.822513,37650,0.486739,0.104308,0.041122,0.010278,0.033915,...,0.051649,0.072338,0.045065,0.012149,0.015124,0.127085,0.022336,0.044337,0.025881,0.034531
3,12220,"Auburn-Opelika, AL",32.604064,-85.353048,37110,0.486051,0.111112,0.045306,0.011175,0.034767,...,0.056654,0.077742,0.048682,0.011782,0.017278,0.106498,0.018305,0.035385,0.022719,0.030090
4,13820,"Birmingham-Hoover, AL",33.462372,-86.814338,474730,0.488029,0.111540,0.044882,0.010721,0.034887,...,0.044818,0.091632,0.058235,0.015734,0.017663,0.105852,0.017697,0.039791,0.021664,0.026701

In [70]:
len(city_level_df_2008.columns)

25

In [71]:
city_level_df_2008['State'] = [area_name.split(', ')[1] for area_name in city_level_df_2008['AREA_NAME'].tolist()]
city_level_df_2020['State'] = [area_name.split(', ')[1] for area_name in city_level_df_2020['AREA_NAME'].tolist()]
city_level_df_2008_2020['State'] = [area_name.split(', ')[1] for area_name in city_level_df_2008_2020['AREA_NAME'].tolist()]

In [72]:
city_level_df_2008['Metropolitan Areas'] = [area_name.split(', ')[0] for area_name in city_level_df_2008['AREA_NAME'].tolist()]
city_level_df_2020['Metropolitan Areas'] = [area_name.split(', ')[0] for area_name in city_level_df_2020['AREA_NAME'].tolist()]
city_level_df_2008_2020['Metropolitan Areas'] = [area_name.split(', ')[0] for area_name in city_level_df_2008_2020['AREA_NAME'].tolist()]

In [73]:
city_level_df_2008.columns

Index([                       u'MSA Code',                       u'AREA_NAME',
                                   u'Lat',                            u'Long',
                            u'Employment',                u'Automation Index',
                 u'Race with the Machine',              u'Interpersonal Task',
                            u'Group Task',             u'Conflict Resolution',
            u'Management and Supervision',        u'Race against the Machine',
               u'Routine Problem Solving',          u'Information Processing',
                 u'General Physical Task',           u'Dynamic Physical Task',
             u'Race ahead of the Machine',                   u'Communication',
                      u'Systems Analysis',  u'Creative and Critical Thinking',
              u'Running a Different Race',           u'Equipment Maintenance',
       u'Vehicle and Equipment Operation',                 u'Machine Control',
                        u'Hazardous Task',                           u'State',
                    u'Metropolitan Areas'],
      dtype='object')

In [74]:
selected_cols = ['State','Metropolitan Areas',
               #'Automation Index', 
                 
               'Race with the Machine','Interpersonal Task','Group Task','Conflict Resolution','Management and Supervision',
               
               'Race against the Machine','Routine Problem Solving','Information Processing','General Physical Task','Dynamic Physical Task',
                 
               'Race ahead of the Machine','Communication','Systems Analysis','Creative and Critical Thinking',
                 
               'Running a Different Race','Equipment Maintenance','Vehicle and Equipment Operation','Machine Control','Hazardous Task']

city_level_df_2008 = city_level_df_2008[selected_cols]
city_level_df_2020 = city_level_df_2020[selected_cols]
city_level_df_2008_2020 = city_level_df_2008_2020[selected_cols]

In [75]:
city_level_df_2008.to_csv("../static/data/csv/Panel 7 2008.csv")
city_level_df_2020.to_csv("../static/data/csv/Panel 7 2020.csv")
city_level_df_2008_2020.to_csv("../static/data/csv/Panel 7 2008~2020.csv")