In [1]:
# -*- coding: utf-8 -*-
import pandas as pd

## Job Information

In [2]:
xl = pd.ExcelFile("../static/data/xlsx/Job Information.xlsx")
print(xl.sheet_names)  # see all sheet names

[u'2008', u'2019', u'2008-2019']

### jobs

In [3]:
job_information_df_2008_2019 = pd.read_excel("../static/data/xlsx/Job Information.xlsx", sheetname='2008-2019')

In [4]:
job_information_df_2008_2019[['SOC Code','Job Title', 'Job Family', 'Description']].head()

,SOC Code,Job Title,Job Family,Description
0,00-0000,TOTAL AVERAGE,TOTAL AVERAGE,Average of all occupations
1,11-1011,Chief Executives,Management Occupations,Determine and formulate policies and provide o...
2,11-1021,General and Operations Managers,Management Occupations,"Plan, direct, or coordinate the operations of ..."
3,11-2011,Advertising and Promotions Managers,Management Occupations,"Plan, direct, or coordinate advertising polici..."
4,11-2021,Marketing Managers,Management Occupations,"Plan, direct, or coordinate marketing policies..."

In [5]:
family_code = [soc_code.split('-')[0] for soc_code in job_information_df_2008_2019['SOC Code']]
job_information_df_2008_2019['Family Code'] = family_code
job_information_df_2008_2019 = job_information_df_2008_2019[['Family Code', 'SOC Code','Job Title', 'Job Family', 'Description']]
job_information_df_2008_2019.columns = ['Family Code', 'Job Code','Job Title', 'Job Family', 'Description']

In [6]:
job_information_df_2008_2019.head()

,Family Code,Job Code,Job Title,Job Family,Description
0,00,00-0000,TOTAL AVERAGE,TOTAL AVERAGE,Average of all occupations
1,11,11-1011,Chief Executives,Management Occupations,Determine and formulate policies and provide o...
2,11,11-1021,General and Operations Managers,Management Occupations,"Plan, direct, or coordinate the operations of ..."
3,11,11-2011,Advertising and Promotions Managers,Management Occupations,"Plan, direct, or coordinate advertising polici..."
4,11,11-2021,Marketing Managers,Management Occupations,"Plan, direct, or coordinate marketing policies..."

In [7]:
job_information_df_2008_2019.to_csv("../static/data/csv/jobs.csv", index=False, encoding='utf-8')

### Panel 1

In [8]:
job_information_df_2008 = pd.read_excel("../static/data/xlsx/Job Information.xlsx", sheetname='2008')
job_information_df_2019 = pd.read_excel("../static/data/xlsx/Job Information.xlsx", sheetname='2019')
job_information_df_2008_2019 = pd.read_excel("../static/data/xlsx/Job Information.xlsx", sheetname='2008-2019')

rank_label = pd.read_excel("../static/data/xlsx/Rank Label.xlsx")

In [9]:
job_information_df_2008['Year'] = '2008'
job_information_df_2019['Year'] = '2019'
job_information_df_2008_2019['Year'] = '2008~2019'

In [10]:
job_information_df_2008['Job Automation Index Rank'] = [None] + job_information_df_2008['Job Automation Index'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2008['Job Automation Index Percentile'] = ['Top 50%'] + pd.merge(job_information_df_2008[['Job Automation Index Rank']], rank_label.rename(columns={"Rank": "Job Automation Index Rank"}), on='Job Automation Index Rank', how='left')['Label'].iloc[1:].tolist()

job_information_df_2008['Employment Rank'] = [None] + job_information_df_2008['Employment'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2008['Employment Percentile'] = [None] + pd.merge(job_information_df_2008[['Employment Rank']], rank_label.rename(columns={"Rank": "Employment Rank"}), on='Employment Rank', how='left')['Label'].iloc[1:].tolist()

job_information_df_2008['Annual Wage Rank'] = [None] + job_information_df_2008['Annual Wage'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2008['Annual Wage Percentile'] = ['Top 50%'] + pd.merge(job_information_df_2008[['Annual Wage Rank']], rank_label.rename(columns={"Rank": "Annual Wage Rank"}), on='Annual Wage Rank', how='left')['Label'].iloc[1:].tolist()

In [11]:
job_information_df_2019['Job Automation Index Rank'] = [None] + job_information_df_2019['Job Automation Index'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2019['Job Automation Index Percentile'] = ['Top 50%'] + pd.merge(job_information_df_2019[['Job Automation Index Rank']], rank_label.rename(columns={"Rank": "Job Automation Index Rank"}), on='Job Automation Index Rank', how='left')['Label'].iloc[1:].tolist()

job_information_df_2019['Employment Rank'] = [None] + job_information_df_2019['Employment'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2019['Employment Percentile'] = [None] + pd.merge(job_information_df_2019[['Employment Rank']], rank_label.rename(columns={"Rank": "Employment Rank"}), on='Employment Rank', how='left')['Label'].iloc[1:].tolist()

job_information_df_2019['Annual Wage Rank'] = [None] + job_information_df_2019['Annual Wage'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2019['Annual Wage Percentile'] = ['Top 50%'] + pd.merge(job_information_df_2019[['Annual Wage Rank']], rank_label.rename(columns={"Rank": "Annual Wage Rank"}), on='Annual Wage Rank', how='left')['Label'].iloc[1:].tolist()

In [12]:
job_information_df_2008_2019['Job Automation Index Change'] = job_information_df_2008_2019['Job Automation Index']

job_information_df_2008_2019['Job Automation Index'] = None

job_information_df_2008_2019['Job Automation Index Change Rank'] = [None] + job_information_df_2008_2019['Job Automation Index Change'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2008_2019['Job Automation Index Change Percentile'] = ['Top 50%'] + pd.merge(job_information_df_2008_2019[['Job Automation Index Change Rank']], rank_label.rename(columns={"Rank": "Job Automation Index Change Rank"}), on='Job Automation Index Change Rank', how='left')['Label'].iloc[1:].tolist()

job_information_df_2008_2019['Wage Share Change Rank'] = [None] + job_information_df_2008_2019['Wage Share Change'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2008_2019['Wage Share Change Percentile']= [None] + pd.merge(job_information_df_2008_2019[['Wage Share Change Rank']], rank_label.rename(columns={"Rank": "Wage Share Change Rank"}), on='Wage Share Change Rank', how='left')['Label'].iloc[1:].tolist()

In [13]:
job_information_df_2008_2019.head()

,SOC Code,Job Title,Job Family,Description,Job Automation Index,Wage Share Change,Year,Job Automation Index Change,Job Automation Index Change Rank,Job Automation Index Change Percentile,Wage Share Change Rank,Wage Share Change Percentile
0,00-0000,TOTAL AVERAGE,TOTAL AVERAGE,Average of all occupations,None,NaN,2008~2019,0.006322,NaN,Top 50%,NaN,None
1,11-1011,Chief Executives,Management Occupations,Determine and formulate policies and provide o...,None,-0.003623,2008~2019,0.007055,322.0,Bottom 50%,639.0,Bottom 5%
2,11-1021,General and Operations Managers,Management Occupations,"Plan, direct, or coordinate the operations of ...",None,0.006734,2008~2019,0.011908,192.0,Top 30%,1.0,Top 1%
3,11-2011,Advertising and Promotions Managers,Management Occupations,"Plan, direct, or coordinate advertising polici...",None,-0.000165,2008~2019,0.006692,335.0,Bottom 50%,525.0,Bottom 20%
4,11-2021,Marketing Managers,Management Occupations,"Plan, direct, or coordinate marketing policies...",None,0.001463,2008~2019,0.001415,466.0,Bottom 30%,13.0,Top 5%

In [14]:
panel1_df = pd.DataFrame()
panel1_df = panel1_df.append(job_information_df_2008)
panel1_df = panel1_df.append(job_information_df_2019)
panel1_df = panel1_df.append(job_information_df_2008_2019)

In [15]:
panel1_df = panel1_df[['Year','SOC Code','Job Title','Description','Job Automation Index', 'Job Automation Index Rank','Job Automation Index Percentile',
                       'Employment', 'Employment Rank','Employment Percentile', 
                       'Annual Wage', 'Annual Wage Rank', 'Annual Wage Percentile', 
                       'Job Automation Index Change', 'Job Automation Index Change Rank','Job Automation Index Change Percentile',
                       'Wage Share Change', 'Wage Share Change Rank', 'Wage Share Change Percentile',]]

In [16]:
panel1_df.head()

,Year,SOC Code,Job Title,Description,Job Automation Index,Job Automation Index Rank,Job Automation Index Percentile,Employment,Employment Rank,Employment Percentile,Annual Wage,Annual Wage Rank,Annual Wage Percentile,Job Automation Index Change,Job Automation Index Change Rank,Job Automation Index Change Percentile,Wage Share Change,Wage Share Change Rank,Wage Share Change Percentile
0,2008,00-0000,TOTAL AVERAGE,Average of all occupations,0.486269,NaN,Top 50%,NaN,NaN,None,42270.0,NaN,Top 50%,NaN,NaN,NaN,NaN,NaN,NaN
1,2008,11-1011,Chief Executives,Determine and formulate policies and provide o...,0.476988,397.0,Bottom 40%,301930.0,90.0,Top 15%,160440.0,9.0,Top 5%,NaN,NaN,NaN,NaN,NaN,NaN
2,2008,11-1021,General and Operations Managers,"Plan, direct, or coordinate the operations of ...",0.47494,433.0,Bottom 35%,1697690.0,13.0,Top 5%,107970.0,24.0,Top 5%,NaN,NaN,NaN,NaN,NaN,NaN
3,2008,11-2011,Advertising and Promotions Managers,"Plan, direct, or coordinate advertising polici...",0.475223,425.0,Bottom 35%,36100.0,392.0,Bottom 40%,94720.0,38.0,Top 10%,NaN,NaN,NaN,NaN,NaN,NaN
4,2008,11-2021,Marketing Managers,"Plan, direct, or coordinate marketing policies...",0.475687,419.0,Bottom 35%,166790.0,157.0,Top 25%,118160.0,20.0,Top 5%,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
panel1_df = panel1_df.rename({'SOC Code': 'Job Code'})

In [18]:
panel1_df.to_csv("../static/data/csv/Panel 1.csv", index=False, encoding='utf-8')

## Task-Level Automation

### Panel 2

In [19]:
task_automation_df_2008 = pd.read_excel("../static/data/xlsx/Task-Level Automation.xlsx", sheetname='2008')
task_automation_df_2019 = pd.read_excel("../static/data/xlsx/Task-Level Automation.xlsx", sheetname='2019')
task_automation_df_2008_2019 = pd.read_excel("../static/data/xlsx/Task-Level Automation.xlsx", sheetname='2008-2019')

In [20]:
task_automation_df_2008['Year'] = '2008'
task_automation_df_2019['Year'] = '2019'
task_automation_df_2008_2019['Year'] = '2008~2019'

In [21]:
panel2_df = pd.DataFrame()
panel2_df = panel2_df.append(task_automation_df_2008[['Year','SOC Code','Job Title','Race with the Machine','Race against the Machine','Race ahead of the Machine','Running a Different Race']])
panel2_df = panel2_df.append(task_automation_df_2019[['Year','SOC Code','Job Title','Race with the Machine','Race against the Machine','Race ahead of the Machine','Running a Different Race']])
panel2_df = panel2_df.append(task_automation_df_2008_2019[['Year','SOC Code','Job Title','Race with the Machine','Race against the Machine','Race ahead of the Machine','Running a Different Race']])

In [22]:
job_information_df_2008_2019.head()

,SOC Code,Job Title,Job Family,Description,Job Automation Index,Wage Share Change,Year,Job Automation Index Change,Job Automation Index Change Rank,Job Automation Index Change Percentile,Wage Share Change Rank,Wage Share Change Percentile
0,00-0000,TOTAL AVERAGE,TOTAL AVERAGE,Average of all occupations,None,NaN,2008~2019,0.006322,NaN,Top 50%,NaN,None
1,11-1011,Chief Executives,Management Occupations,Determine and formulate policies and provide o...,None,-0.003623,2008~2019,0.007055,322.0,Bottom 50%,639.0,Bottom 5%
2,11-1021,General and Operations Managers,Management Occupations,"Plan, direct, or coordinate the operations of ...",None,0.006734,2008~2019,0.011908,192.0,Top 30%,1.0,Top 1%
3,11-2011,Advertising and Promotions Managers,Management Occupations,"Plan, direct, or coordinate advertising polici...",None,-0.000165,2008~2019,0.006692,335.0,Bottom 50%,525.0,Bottom 20%
4,11-2021,Marketing Managers,Management Occupations,"Plan, direct, or coordinate marketing policies...",None,0.001463,2008~2019,0.001415,466.0,Bottom 30%,13.0,Top 5%

In [23]:
panel2_df = panel2_df.merge(job_information_df_2008_2019[['SOC Code','Job Family']], on='SOC Code', how='left')

In [24]:
panel2_df.head()

,Year,SOC Code,Job Title,Race with the Machine,Race against the Machine,Race ahead of the Machine,Running a Different Race,Job Family
0,2008,00-0000,TOTAL AVERAGE,0.092712,0.236456,0.052123,0.104977,TOTAL AVERAGE
1,2008,11-1011,Chief Executives,0.133970,0.128483,0.105247,0.109288,Management Occupations
2,2008,11-1021,General and Operations Managers,0.132244,0.116155,0.080950,0.145591,Management Occupations
3,2008,11-2011,Advertising and Promotions Managers,0.169479,0.130309,0.080936,0.094499,Management Occupations
4,2008,11-2021,Marketing Managers,0.182354,0.091652,0.112406,0.089276,Management Occupations

In [25]:
panel2_df = panel2_df[['Year','SOC Code','Job Title','Job Family', 'Race with the Machine', 'Race against the Machine', 'Race ahead of the Machine', 'Running a Different Race']]

In [26]:
panel2_df = panel2_df.rename(columns={'SOC Code': 'Job Code'})

In [27]:
panel2_df.head()

,Year,Job Code,Job Title,Job Family,Race with the Machine,Race against the Machine,Race ahead of the Machine,Running a Different Race
0,2008,00-0000,TOTAL AVERAGE,TOTAL AVERAGE,0.092712,0.236456,0.052123,0.104977
1,2008,11-1011,Chief Executives,Management Occupations,0.133970,0.128483,0.105247,0.109288
2,2008,11-1021,General and Operations Managers,Management Occupations,0.132244,0.116155,0.080950,0.145591
3,2008,11-2011,Advertising and Promotions Managers,Management Occupations,0.169479,0.130309,0.080936,0.094499
4,2008,11-2021,Marketing Managers,Management Occupations,0.182354,0.091652,0.112406,0.089276

In [28]:
panel2_df.to_csv("../static/data/csv/Panel 2.csv", index=False, encoding='utf-8')

### Panel 4

In [29]:
task_automation_df_2008 = pd.read_excel("../static/data/xlsx/Task-Level Automation.xlsx", sheetname='2008')
task_automation_df_2019 = pd.read_excel("../static/data/xlsx/Task-Level Automation.xlsx", sheetname='2019')
task_automation_df_2008_2019 = pd.read_excel("../static/data/xlsx/Task-Level Automation.xlsx", sheetname='2008-2019')

In [30]:
task_automation_df_2008 = task_automation_df_2008.rename(columns={"SOC Code":"Job Code"})
task_automation_df_2019 = task_automation_df_2019.rename(columns={"SOC Code":"Job Code"})
task_automation_df_2008_2019 = task_automation_df_2008_2019.rename(columns={"SOC Code":"Job Code"})

In [31]:
task_automation_df_2008.to_csv("../static/data/csv/Panel 4 2008.csv")
task_automation_df_2019.to_csv("../static/data/csv/Panel 4 2019.csv")
task_automation_df_2008_2019.to_csv("../static/data/csv/Panel 4 2008~2019.csv")

### Panel 5

In [32]:
task_automation_df_2008 = pd.read_excel("../static/data/xlsx/Task-Level Automation.xlsx", sheetname='2008')
task_automation_df_2019 = pd.read_excel("../static/data/xlsx/Task-Level Automation.xlsx", sheetname='2019')
task_automation_df_2008_2019 = pd.read_excel("../static/data/xlsx/Task-Level Automation.xlsx", sheetname='2008-2019')

In [33]:
task_automation_df_2008 = task_automation_df_2008[['SOC Code','Job Title','Automation Index','Race with the Machine','Race against the Machine','Race ahead of the Machine','Running a Different Race']]
task_automation_df_2019 = task_automation_df_2019[['SOC Code','Job Title','Automation Index','Race with the Machine','Race against the Machine','Race ahead of the Machine','Running a Different Race']]
task_automation_df_2008_2019 = task_automation_df_2008_2019[['SOC Code','Job Title','Automation Index','Race with the Machine','Race against the Machine','Race ahead of the Machine','Running a Different Race']]

In [34]:
task_automation_df_2008 = task_automation_df_2008.rename(columns={"SOC Code":"Job Code"})
task_automation_df_2019 = task_automation_df_2019.rename(columns={"SOC Code":"Job Code"})
task_automation_df_2008_2019 = task_automation_df_2008_2019.rename(columns={"SOC Code":"Job Code"})

In [35]:
task_automation_df_2008.to_csv("../static/data/csv/Panel 5 2008.csv")
task_automation_df_2019.to_csv("../static/data/csv/Panel 5 2019.csv")
task_automation_df_2008_2019.to_csv("../static/data/csv/Panel 5 2008~2019.csv")

## Skill DNA

In [36]:
skill_dna_df_2008 = pd.read_excel("../static/data/xlsx/Skill DNA.xlsx", sheetname='2008 - Importance', skiprows=[0])
skill_dna_df_2019 = pd.read_excel("../static/data/xlsx/Skill DNA.xlsx", sheetname='2019 - Importance', skiprows=[0])
skill_dna_df_automation_level = pd.read_excel("../static/data/xlsx/Skill DNA.xlsx", sheetname='Automation Level')

In [37]:
skill_dna_df_automation_level.head()

,ElementID,node,Task,2019_automation_value,2008_automation_value,Change between 2008-2019
0,4.A.3.b.1,Interacting With Computers,Administrative Task and Communication,0.608170,0.632423,-0.024253
1,2.B.3.e,Programming,Administrative Task and Communication,0.588503,0.560941,0.027562
2,4.C.2.d.1.a,Spend Time Sitting,Administrative Task and Communication,0.572816,0.588516,-0.015700
3,4.A.4.c.1,Performing Administrative Activities,Administrative Task and Communication,0.550240,0.536965,0.013276
4,4.C.1.a.2.j,Letters and Memos,Administrative Task and Communication,0.531585,0.505103,0.026482

In [38]:
skill_dna_df_automation_level.columns = ['Skill Id', 'Skill Name', 'Task', '2019 Automation Level', '2008 Automation Level', 'Change during 2008-2019']

In [39]:
skill_dna_df_automation_level.to_csv("../static/data/csv/Panel 3.csv", index=False)

In [40]:
skill_dna_df_2008 = skill_dna_df_2008.rename(columns={"SOC Code":"Job Code"})
skill_dna_df_2019 = skill_dna_df_2019.rename(columns={"SOC Code":"Job Code"})

In [41]:
skill_dna_df_2008.to_csv("../static/data/csv/Panel 3 Skill Importance 2008.csv", index=False)
skill_dna_df_2019.to_csv("../static/data/csv/Panel 3 Skill Importance 2019.csv", index=False)

## City-Level Automation

### Panel 6

In [42]:
city_level_df_2008 = pd.read_excel("../static/data/xlsx/City-Level Automation.xlsx", sheetname='2008')
city_level_df_2019 = pd.read_excel("../static/data/xlsx/City-Level Automation.xlsx", sheetname='2019')
city_level_df_2008_2019 = pd.read_excel("../static/data/xlsx/City-Level Automation.xlsx", sheetname='2008-2019')

In [43]:
city_level_df_2008.head()

,MSA Code,AREA_NAME,Lat,Long,Employment,Automation Index,Race with the Machine,Interpersonal Task,Administrative Task and Communication,Race against the Machine,...,Equipment Maintenance,General Physical Task,Race ahead of the Machine,Systems Thinking,Creative and Critical Thinking,Running a Different Race,Dynamic Physical Task,Hazardous and Group Task,Conflict Resolution,Management and Supervision
0,11260,"Anchorage, AK",62.212784,-149.678222,164800,0.487366,0.109197,0.051644,0.057554,0.221012,...,0.027960,0.042789,0.034331,0.015668,0.018663,0.122827,0.041437,0.033282,0.031075,0.017033
1,21820,"Fairbanks, AK",64.676044,-146.548159,36520,0.489328,0.105983,0.049184,0.056799,0.229349,...,0.028636,0.046805,0.030144,0.013835,0.016308,0.123852,0.046115,0.034728,0.027242,0.015768
2,11500,"Anniston-Oxford-Jacksonville, AL",33.771706,-85.822513,47810,0.486843,0.090820,0.046273,0.044548,0.238145,...,0.033675,0.051532,0.028548,0.012171,0.016377,0.129330,0.045598,0.038011,0.030717,0.015005
3,12220,"Auburn-Opelika, AL",32.604064,-85.353048,48830,0.486675,0.099365,0.050632,0.048733,0.224152,...,0.029286,0.050827,0.030654,0.011878,0.018777,0.132504,0.049616,0.034887,0.032069,0.015932
4,13820,"Birmingham-Hoover, AL",33.462372,-86.814338,517940,0.489126,0.106253,0.050072,0.056181,0.228729,...,0.030404,0.043181,0.034422,0.015616,0.018806,0.119722,0.039487,0.033741,0.030062,0.016432

In [44]:
city_level_df_2008 = city_level_df_2008[['MSA Code', 'AREA_NAME', 'Employment','Automation Index', 'Race with the Machine','Race against the Machine','Race ahead of the Machine','Running a Different Race','Lat','Long']]
city_level_df_2019 = city_level_df_2019[['MSA Code', 'AREA_NAME', 'Employment','Automation Index', 'Race with the Machine','Race against the Machine','Race ahead of the Machine','Running a Different Race','Lat','Long']]
city_level_df_2008_2019 = city_level_df_2008_2019[['MSA Code', 'AREA_NAME', 'Employment','Automation Index', 'Race with the Machine','Race against the Machine','Race ahead of the Machine','Running a Different Race','Lat','Long']]

In [45]:
city_level_df_2008 = city_level_df_2008.rename(columns={'MSA Code':'AREA'})
city_level_df_2019 = city_level_df_2019.rename(columns={'MSA Code':'AREA'})
city_level_df_2008_2019 = city_level_df_2008_2019.rename(columns={'MSA Code':'AREA'})

In [46]:
city_level_df_2008.to_csv("../static/data/csv/Panel 6 2008.csv", index=False)
city_level_df_2019.to_csv("../static/data/csv/Panel 6 2019.csv", index=False)
city_level_df_2008_2019.to_csv("../static/data/csv/Panel 6 2008~2019.csv", index=False)

### Panel 7

In [47]:
city_level_df_2008 = pd.read_excel("../static/data/xlsx/City-Level Automation.xlsx", sheetname='2008')
city_level_df_2019 = pd.read_excel("../static/data/xlsx/City-Level Automation.xlsx", sheetname='2019')
city_level_df_2008_2019 = pd.read_excel("../static/data/xlsx/City-Level Automation.xlsx", sheetname='2008-2019')

In [48]:
city_level_df_2008.head()

,MSA Code,AREA_NAME,Lat,Long,Employment,Automation Index,Race with the Machine,Interpersonal Task,Administrative Task and Communication,Race against the Machine,...,Equipment Maintenance,General Physical Task,Race ahead of the Machine,Systems Thinking,Creative and Critical Thinking,Running a Different Race,Dynamic Physical Task,Hazardous and Group Task,Conflict Resolution,Management and Supervision
0,11260,"Anchorage, AK",62.212784,-149.678222,164800,0.487366,0.109197,0.051644,0.057554,0.221012,...,0.027960,0.042789,0.034331,0.015668,0.018663,0.122827,0.041437,0.033282,0.031075,0.017033
1,21820,"Fairbanks, AK",64.676044,-146.548159,36520,0.489328,0.105983,0.049184,0.056799,0.229349,...,0.028636,0.046805,0.030144,0.013835,0.016308,0.123852,0.046115,0.034728,0.027242,0.015768
2,11500,"Anniston-Oxford-Jacksonville, AL",33.771706,-85.822513,47810,0.486843,0.090820,0.046273,0.044548,0.238145,...,0.033675,0.051532,0.028548,0.012171,0.016377,0.129330,0.045598,0.038011,0.030717,0.015005
3,12220,"Auburn-Opelika, AL",32.604064,-85.353048,48830,0.486675,0.099365,0.050632,0.048733,0.224152,...,0.029286,0.050827,0.030654,0.011878,0.018777,0.132504,0.049616,0.034887,0.032069,0.015932
4,13820,"Birmingham-Hoover, AL",33.462372,-86.814338,517940,0.489126,0.106253,0.050072,0.056181,0.228729,...,0.030404,0.043181,0.034422,0.015616,0.018806,0.119722,0.039487,0.033741,0.030062,0.016432

In [49]:
len(city_level_df_2008.columns)

24

In [50]:
city_level_df_2008['State'] = [area_name.split(', ')[1] for area_name in city_level_df_2008['AREA_NAME'].tolist()]
city_level_df_2019['State'] = [area_name.split(', ')[1] for area_name in city_level_df_2019['AREA_NAME'].tolist()]
city_level_df_2008_2019['State'] = [area_name.split(', ')[1] for area_name in city_level_df_2008_2019['AREA_NAME'].tolist()]

In [51]:
city_level_df_2008['Metropolitan Areas'] = [area_name.split(', ')[0] for area_name in city_level_df_2008['AREA_NAME'].tolist()]
city_level_df_2019['Metropolitan Areas'] = [area_name.split(', ')[0] for area_name in city_level_df_2019['AREA_NAME'].tolist()]
city_level_df_2008_2019['Metropolitan Areas'] = [area_name.split(', ')[0] for area_name in city_level_df_2008_2019['AREA_NAME'].tolist()]

In [52]:
city_level_df_2008.columns

Index([                             u'MSA Code',
                                   u'AREA_NAME',
                                         u'Lat',
                                        u'Long',
                                  u'Employment',
                            u'Automation Index',
                       u'Race with the Machine',
                          u'Interpersonal Task',
       u'Administrative Task and Communication',
                    u'Race against the Machine',
                      u'Information Processing',
                     u'Routine Problem Solving',
             u'Vehicle and Equipment Operation',
                             u'Machine Control',
                       u'Equipment Maintenance',
                       u'General Physical Task',
                   u'Race ahead of the Machine',
                            u'Systems Thinking',
              u'Creative and Critical Thinking',
                    u'Running a Different Race',
                       u'Dynamic Physical Task',
                    u'Hazardous and Group Task',
                         u'Conflict Resolution',
                  u'Management and Supervision',
                                       u'State',
                          u'Metropolitan Areas'],
      dtype='object')

In [53]:
selected_cols = ['State','Metropolitan Areas',
               'Automation Index', 'Race with the Machine', 'Interpersonal Task',
               'Administrative Task and Communication', 'Race against the Machine',
               'Information Processing', 'Routine Problem Solving',
               'Vehicle and Equipment Operation', 'Machine Control',
               'Equipment Maintenance', 'General Physical Task',
               'Race ahead of the Machine', 'Systems Thinking',
               'Creative and Critical Thinking', 'Running a Different Race',
               'Dynamic Physical Task', 'Hazardous and Group Task',
               'Conflict Resolution', 'Management and Supervision']

city_level_df_2008 = city_level_df_2008[selected_cols]
city_level_df_2019 = city_level_df_2019[selected_cols]
city_level_df_2008_2019 = city_level_df_2008_2019[selected_cols]

In [54]:
city_level_df_2008.to_csv("../static/data/csv/Panel 7 2008.csv")
city_level_df_2019.to_csv("../static/data/csv/Panel 7 2019.csv")
city_level_df_2008_2019.to_csv("../static/data/csv/Panel 7 2008~2019.csv")