In [1]:
# -*- coding: utf-8 -*-
import pandas as pd

## Job Information

In [2]:
xl = pd.ExcelFile("../static/data/xlsx/Job Information.xlsx")
print(xl.sheet_names)  # see all sheet names

[u'2007', u'2019', u'2007-2019']

### jobs

In [3]:
job_information_df_2007_2019 = pd.read_excel("../static/data/xlsx/Job Information.xlsx", sheetname='2007-2019')

In [4]:
job_information_df_2007_2019[['SOC Code','Job Title', 'Job Family', 'Description']].head()

,SOC Code,Job Title,Job Family,Description
0,00-0000,TOTAL AVERAGE,TOTAL AVERAGE,Average of all occupations
1,11-1011,Chief Executives,Management Occupations,Determine and formulate policies and provide o...
2,11-1021,General and Operations Managers,Management Occupations,"Plan, direct, or coordinate the operations of ..."
3,11-2011,Advertising and Promotions Managers,Management Occupations,"Plan, direct, or coordinate advertising polici..."
4,11-2021,Marketing Managers,Management Occupations,"Plan, direct, or coordinate marketing policies..."

In [5]:
family_code = [soc_code.split('-')[0] for soc_code in job_information_df_2007_2019['SOC Code']]
job_information_df_2007_2019['Family Code'] = family_code
job_information_df_2007_2019 = job_information_df_2007_2019[['Family Code', 'SOC Code','Job Title', 'Job Family', 'Description']]
job_information_df_2007_2019.columns = ['Family Code', 'Job Code','Job Title', 'Job Family', 'Description']

In [6]:
job_information_df_2007_2019.head()

,Family Code,Job Code,Job Title,Job Family,Description
0,00,00-0000,TOTAL AVERAGE,TOTAL AVERAGE,Average of all occupations
1,11,11-1011,Chief Executives,Management Occupations,Determine and formulate policies and provide o...
2,11,11-1021,General and Operations Managers,Management Occupations,"Plan, direct, or coordinate the operations of ..."
3,11,11-2011,Advertising and Promotions Managers,Management Occupations,"Plan, direct, or coordinate advertising polici..."
4,11,11-2021,Marketing Managers,Management Occupations,"Plan, direct, or coordinate marketing policies..."

In [7]:
job_information_df_2007_2019.to_csv("../static/data/csv/jobs.csv", index=False, encoding='utf-8')

### Panel 1

In [25]:
job_information_df_2007 = pd.read_excel("../static/data/xlsx/Job Information.xlsx", sheetname='2007')
job_information_df_2019 = pd.read_excel("../static/data/xlsx/Job Information.xlsx", sheetname='2019')
job_information_df_2007_2019 = pd.read_excel("../static/data/xlsx/Job Information.xlsx", sheetname='2007-2019')

rank_label = pd.read_excel("../static/data/xlsx/Rank Label.xlsx")

In [26]:
job_information_df_2007['Year'] = '2007'
job_information_df_2019['Year'] = '2019'
job_information_df_2007_2019['Year'] = '2007~2019'

In [29]:
job_information_df_2007['Job Automation Index Rank'] = [None] + job_information_df_2007['Job Automation Index'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2007['Job Automation Index Percentile'] = ['Top 50%'] + pd.merge(job_information_df_2007[['Job Automation Index Rank']], rank_label.rename(columns={"Rank": "Job Automation Index Rank"}), on='Job Automation Index Rank', how='left')['Label'].iloc[1:].tolist()

job_information_df_2007['Employment Rank'] = [None] + job_information_df_2007['Employment'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2007['Employment Percentile'] = [None] + pd.merge(job_information_df_2007[['Employment Rank']], rank_label.rename(columns={"Rank": "Employment Rank"}), on='Employment Rank', how='left')['Label'].iloc[1:].tolist()

job_information_df_2007['Annual Wage Rank'] = [None] + job_information_df_2007['Annual Wage'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2007['Annual Wage Percentile'] = ['Top 50%'] + pd.merge(job_information_df_2007[['Annual Wage Rank']], rank_label.rename(columns={"Rank": "Annual Wage Rank"}), on='Annual Wage Rank', how='left')['Label'].iloc[1:].tolist()

In [30]:
job_information_df_2019['Job Automation Index Rank'] = [None] + job_information_df_2019['Job Automation Index'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2019['Job Automation Index Percentile'] = ['Top 50%'] + pd.merge(job_information_df_2019[['Job Automation Index Rank']], rank_label.rename(columns={"Rank": "Job Automation Index Rank"}), on='Job Automation Index Rank', how='left')['Label'].iloc[1:].tolist()

job_information_df_2019['Employment Rank'] = [None] + job_information_df_2019['Employment'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2019['Employment Percentile'] = [None] + pd.merge(job_information_df_2019[['Employment Rank']], rank_label.rename(columns={"Rank": "Employment Rank"}), on='Employment Rank', how='left')['Label'].iloc[1:].tolist()

job_information_df_2019['Annual Wage Rank'] = [None] + job_information_df_2019['Annual Wage'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2019['Annual Wage Percentile'] = ['Top 50%'] + pd.merge(job_information_df_2019[['Annual Wage Rank']], rank_label.rename(columns={"Rank": "Annual Wage Rank"}), on='Annual Wage Rank', how='left')['Label'].iloc[1:].tolist()

In [31]:
job_information_df_2007_2019['Job Automation Index Change'] = job_information_df_2007_2019['Job Automation Index']

job_information_df_2007_2019['Job Automation Index'] = None

job_information_df_2007_2019['Job Automation Index Change Rank'] = [None] + job_information_df_2007_2019['Job Automation Index Change'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2007_2019['Job Automation Index Change Percentile'] = ['Top 50%'] + pd.merge(job_information_df_2007_2019[['Job Automation Index Change Rank']], rank_label.rename(columns={"Rank": "Job Automation Index Change Rank"}), on='Job Automation Index Change Rank', how='left')['Label'].iloc[1:].tolist()

job_information_df_2007_2019['Wage Share Change Rank'] = [None] + job_information_df_2007_2019['Wage Share Change'].iloc[1:].rank(ascending=0, method='first').tolist()
job_information_df_2007_2019['Wage Share Change Percentile']= [None] + pd.merge(job_information_df_2007_2019[['Wage Share Change Rank']], rank_label.rename(columns={"Rank": "Wage Share Change Rank"}), on='Wage Share Change Rank', how='left')['Label'].iloc[1:].tolist()

In [33]:
job_information_df_2007_2019.head()

,SOC Code,Job Title,Job Family,Description,Job Automation Index,Wage Share Change,Year,Job Automation Index Change,Job Automation Index Change Rank,Job Automation Index Change Percentile,Wage Share Change Rank,Wage Share Change Percentile
0,00-0000,TOTAL AVERAGE,TOTAL AVERAGE,Average of all occupations,None,NaN,2007~2019,0.003835,NaN,Top 50%,NaN,None
1,11-1011,Chief Executives,Management Occupations,Determine and formulate policies and provide o...,None,-0.003936,2007~2019,-0.001103,434.0,Bottom 35%,647.0,Bottom 1%
2,11-1021,General and Operations Managers,Management Occupations,"Plan, direct, or coordinate the operations of ...",None,0.003441,2007~2019,0.003039,353.0,Bottom 50%,10.0,Top 5%
3,11-2011,Advertising and Promotions Managers,Management Occupations,"Plan, direct, or coordinate advertising polici...",None,-0.000205,2007~2019,0.000990,401.0,Bottom 40%,495.0,Bottom 25%
4,11-2021,Marketing Managers,Management Occupations,"Plan, direct, or coordinate marketing policies...",None,0.001286,2007~2019,-0.006078,516.0,Bottom 25%,16.0,Top 5%

In [34]:
panel1_df = pd.DataFrame()
panel1_df = panel1_df.append(job_information_df_2007)
panel1_df = panel1_df.append(job_information_df_2019)
panel1_df = panel1_df.append(job_information_df_2007_2019)

In [35]:
panel1_df = panel1_df[['Year','SOC Code','Job Title','Description','Job Automation Index', 'Job Automation Index Rank','Job Automation Index Percentile',
                       'Employment', 'Employment Rank','Employment Percentile', 
                       'Annual Wage', 'Annual Wage Rank', 'Annual Wage Percentile', 
                       'Job Automation Index Change', 'Job Automation Index Change Rank','Job Automation Index Change Percentile',
                       'Wage Share Change', 'Wage Share Change Rank', 'Wage Share Change Percentile',]]

In [36]:
panel1_df.head()

,Year,SOC Code,Job Title,Description,Job Automation Index,Job Automation Index Rank,Job Automation Index Percentile,Employment,Employment Rank,Employment Percentile,Annual Wage,Annual Wage Rank,Annual Wage Percentile,Job Automation Index Change,Job Automation Index Change Rank,Job Automation Index Change Percentile,Wage Share Change,Wage Share Change Rank,Wage Share Change Percentile
0,2007,00-0000,TOTAL AVERAGE,Average of all occupations,0.485689,NaN,Top 50%,124783560.0,NaN,None,40174.603998,NaN,Top 50%,NaN,NaN,NaN,NaN,NaN,NaN
1,2007,11-1011,Chief Executives,Determine and formulate policies and provide o...,0.473873,447.0,Bottom 35%,299160.0,93.0,Top 15%,151370.000000,9.0,Top 5%,NaN,NaN,NaN,NaN,NaN,NaN
2,2007,11-1021,General and Operations Managers,"Plan, direct, or coordinate the operations of ...",0.47246,465.0,Bottom 30%,1655410.0,14.0,Top 5%,103780.000000,24.0,Top 5%,NaN,NaN,NaN,NaN,NaN,NaN
3,2007,11-2011,Advertising and Promotions Managers,"Plan, direct, or coordinate advertising polici...",0.471311,476.0,Bottom 30%,36300.0,394.0,Bottom 40%,91100.000000,38.0,Top 10%,NaN,NaN,NaN,NaN,NaN,NaN
4,2007,11-2021,Marketing Managers,"Plan, direct, or coordinate marketing policies...",0.471814,468.0,Bottom 30%,165240.0,161.0,Top 25%,113400.000000,19.0,Top 5%,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
panel1_df = panel1_df.rename({'SOC Code': 'Job Code'})

In [38]:
panel1_df.to_csv("../static/data/csv/Panel 1.csv", index=False, encoding='utf-8')

## Task-Level Automation

### Panel 2

In [39]:
task_automation_df_2007 = pd.read_excel("../static/data/xlsx/Task-Level Automation.xlsx", sheetname='2007')
task_automation_df_2019 = pd.read_excel("../static/data/xlsx/Task-Level Automation.xlsx", sheetname='2019')
task_automation_df_2007_2019 = pd.read_excel("../static/data/xlsx/Task-Level Automation.xlsx", sheetname='2007-2019')

In [40]:
task_automation_df_2007['Year'] = '2007'
task_automation_df_2019['Year'] = '2019'
task_automation_df_2007_2019['Year'] = '2007~2019'

In [41]:
panel2_df = pd.DataFrame()
panel2_df = panel2_df.append(task_automation_df_2007[['Year','SOC Code','Job Title','Race with the Machine','Race against the Machine','Race ahead of the Machine','Running a Different Race']])
panel2_df = panel2_df.append(task_automation_df_2019[['Year','SOC Code','Job Title','Race with the Machine','Race against the Machine','Race ahead of the Machine','Running a Different Race']])
panel2_df = panel2_df.append(task_automation_df_2007_2019[['Year','SOC Code','Job Title','Race with the Machine','Race against the Machine','Race ahead of the Machine','Running a Different Race']])

In [42]:
job_information_df_2007_2019.head()

,SOC Code,Job Title,Job Family,Description,Job Automation Index,Wage Share Change,Year,Job Automation Index Change,Job Automation Index Change Rank,Job Automation Index Change Percentile,Wage Share Change Rank,Wage Share Change Percentile
0,00-0000,TOTAL AVERAGE,TOTAL AVERAGE,Average of all occupations,None,NaN,2007~2019,0.003835,NaN,Top 50%,NaN,None
1,11-1011,Chief Executives,Management Occupations,Determine and formulate policies and provide o...,None,-0.003936,2007~2019,-0.001103,434.0,Bottom 35%,647.0,Bottom 1%
2,11-1021,General and Operations Managers,Management Occupations,"Plan, direct, or coordinate the operations of ...",None,0.003441,2007~2019,0.003039,353.0,Bottom 50%,10.0,Top 5%
3,11-2011,Advertising and Promotions Managers,Management Occupations,"Plan, direct, or coordinate advertising polici...",None,-0.000205,2007~2019,0.000990,401.0,Bottom 40%,495.0,Bottom 25%
4,11-2021,Marketing Managers,Management Occupations,"Plan, direct, or coordinate marketing policies...",None,0.001286,2007~2019,-0.006078,516.0,Bottom 25%,16.0,Top 5%

In [43]:
panel2_df = panel2_df.merge(job_information_df_2007_2019[['SOC Code','Job Family']], on='SOC Code', how='left')

In [44]:
panel2_df.head()

,Year,SOC Code,Job Title,Race with the Machine,Race against the Machine,Race ahead of the Machine,Running a Different Race,Job Family
0,2007,00-0000,TOTAL AVERAGE,0.101742,0.152735,0.049711,0.181501,TOTAL AVERAGE
1,2007,11-1011,Chief Executives,0.143980,0.100651,0.103554,0.125688,Management Occupations
2,2007,11-1021,General and Operations Managers,0.164564,0.062978,0.071447,0.173470,Management Occupations
3,2007,11-2011,Advertising and Promotions Managers,0.187961,0.100956,0.080247,0.102148,Management Occupations
4,2007,11-2021,Marketing Managers,0.174684,0.082074,0.110365,0.104691,Management Occupations

In [45]:
panel2_df = panel2_df[['Year','SOC Code','Job Title','Job Family', 'Race with the Machine', 'Race against the Machine', 'Race ahead of the Machine', 'Running a Different Race']]

In [46]:
panel2_df = panel2_df.rename(columns={'SOC Code': 'Job Code'})

In [47]:
panel2_df.head()

,Year,Job Code,Job Title,Job Family,Race with the Machine,Race against the Machine,Race ahead of the Machine,Running a Different Race
0,2007,00-0000,TOTAL AVERAGE,TOTAL AVERAGE,0.101742,0.152735,0.049711,0.181501
1,2007,11-1011,Chief Executives,Management Occupations,0.143980,0.100651,0.103554,0.125688
2,2007,11-1021,General and Operations Managers,Management Occupations,0.164564,0.062978,0.071447,0.173470
3,2007,11-2011,Advertising and Promotions Managers,Management Occupations,0.187961,0.100956,0.080247,0.102148
4,2007,11-2021,Marketing Managers,Management Occupations,0.174684,0.082074,0.110365,0.104691

In [48]:
panel2_df.to_csv("../static/data/csv/Panel 2.csv", index=False, encoding='utf-8')

### Panel 4

In [49]:
task_automation_df_2007 = pd.read_excel("../static/data/xlsx/Task-Level Automation.xlsx", sheetname='2007')
task_automation_df_2019 = pd.read_excel("../static/data/xlsx/Task-Level Automation.xlsx", sheetname='2019')
task_automation_df_2007_2019 = pd.read_excel("../static/data/xlsx/Task-Level Automation.xlsx", sheetname='2007-2019')

In [50]:
task_automation_df_2007 = task_automation_df_2007.rename(columns={"SOC Code":"Job Code"})
task_automation_df_2019 = task_automation_df_2019.rename(columns={"SOC Code":"Job Code"})
task_automation_df_2007_2019 = task_automation_df_2007_2019.rename(columns={"SOC Code":"Job Code"})

In [53]:
task_automation_df_2007.to_csv("../static/data/csv/Panel 4 2007.csv", encoding='utf-8')
task_automation_df_2019.to_csv("../static/data/csv/Panel 4 2019.csv", encoding='utf-8')
task_automation_df_2007_2019.to_csv("../static/data/csv/Panel 4 2007~2019.csv", encoding='utf-8')

### Panel 5

In [54]:
task_automation_df_2007 = pd.read_excel("../static/data/xlsx/Task-Level Automation.xlsx", sheetname='2007')
task_automation_df_2019 = pd.read_excel("../static/data/xlsx/Task-Level Automation.xlsx", sheetname='2019')
task_automation_df_2007_2019 = pd.read_excel("../static/data/xlsx/Task-Level Automation.xlsx", sheetname='2007-2019')

In [55]:
task_automation_df_2007 = task_automation_df_2007[['SOC Code','Job Title','Automation Index','Race with the Machine','Race against the Machine','Race ahead of the Machine','Running a Different Race']]
task_automation_df_2019 = task_automation_df_2019[['SOC Code','Job Title','Automation Index','Race with the Machine','Race against the Machine','Race ahead of the Machine','Running a Different Race']]
task_automation_df_2007_2019 = task_automation_df_2007_2019[['SOC Code','Job Title','Automation Index','Race with the Machine','Race against the Machine','Race ahead of the Machine','Running a Different Race']]

In [56]:
task_automation_df_2007 = task_automation_df_2007.rename(columns={"SOC Code":"Job Code"})
task_automation_df_2019 = task_automation_df_2019.rename(columns={"SOC Code":"Job Code"})
task_automation_df_2007_2019 = task_automation_df_2007_2019.rename(columns={"SOC Code":"Job Code"})

In [58]:
task_automation_df_2007.to_csv("../static/data/csv/Panel 5 2007.csv", encoding='utf-8')
task_automation_df_2019.to_csv("../static/data/csv/Panel 5 2019.csv", encoding='utf-8')
task_automation_df_2007_2019.to_csv("../static/data/csv/Panel 5 2007~2019.csv", encoding='utf-8')

## Skill DNA

In [60]:
skill_dna_df_2007 = pd.read_excel("../static/data/xlsx/Skill DNA.xlsx", sheetname='2007', skiprows=[0])
skill_dna_df_2019 = pd.read_excel("../static/data/xlsx/Skill DNA.xlsx", sheetname='2019', skiprows=[0])
skill_dna_df_automation_level = pd.read_excel("../static/data/xlsx/Skill DNA.xlsx", sheetname='Automation Level')

In [61]:
skill_dna_df_automation_level.head()

,ElementID,node,Task,2019_automation,2007_automation,Change between 2007-2019
0,2.A.2.b,Active Learning,Creative and Critical Thinking,0.410292,0.426175,-0.015883
1,1.A.2.c.2,Wrist-Finger Speed,Machine Control,0.546390,0.548566,-0.002176
2,1.A.1.c.2,Number Facility,Information Processing,0.586415,0.576460,0.009955
3,4.C.1.a.2.h,Electronic Mail,Communication,0.487914,0.521616,-0.033703
4,4.C.2.a.1.e,In an Open Vehicle or Equipment,Vehicle and Equipment Operation,0.490551,0.483999,0.006552

In [62]:
skill_dna_df_automation_level.columns = ['Skill Id', 'Skill Name', 'Task', '2019 Automation Level', '2007 Automation Level', 'Change during 2007-2019']

In [63]:
skill_dna_df_automation_level.to_csv("../static/data/csv/Panel 3.csv", index=False)

In [64]:
skill_dna_df_2007 = skill_dna_df_2007.rename(columns={"SOC Code":"Job Code"})
skill_dna_df_2019 = skill_dna_df_2019.rename(columns={"SOC Code":"Job Code"})

In [66]:
skill_dna_df_2007.to_csv("../static/data/csv/Panel 3 Skill Importance 2007.csv", index=False, encoding='utf-8')
skill_dna_df_2019.to_csv("../static/data/csv/Panel 3 Skill Importance 2019.csv", index=False, encoding='utf-8')

## City-Level Automation

### Panel 6

In [67]:
city_level_df_2007 = pd.read_excel("../static/data/xlsx/City-Level Automation.xlsx", sheetname='2007')
city_level_df_2019 = pd.read_excel("../static/data/xlsx/City-Level Automation.xlsx", sheetname='2019')
city_level_df_2007_2019 = pd.read_excel("../static/data/xlsx/City-Level Automation.xlsx", sheetname='2007-2019')

In [68]:
city_level_df_2007.head()

,MSA Code,AREA_NAME,Lat,Long,Employment,Automation Index,Race with the Machine,Communication,Interpersonal Task,Group Task,...,Race ahead of the Machine,Systems Analysis,Creative and Critical Thinking,Running a Different Race,Dynamic Physical Task,Equipment Maintenance,Vehicle and Equipment Operation,Hazardous Task,Conflict Resolution,Management and Supervision
0,11260,"Anchorage, AK",62.212784,-149.678222,477750,0.448733,0.109475,0.055789,0.043115,0.010572,...,0.030899,0.014747,0.016152,0.168963,0.043781,0.014956,0.035740,0.021264,0.033543,0.019678
1,21820,"Fairbanks, AK",64.676044,-146.548159,99500,0.450853,0.107381,0.055108,0.041949,0.010324,...,0.027786,0.012984,0.014802,0.171946,0.048784,0.015468,0.036898,0.023257,0.029488,0.018052
2,11500,"Anniston-Oxford-Jacksonville, AL",33.771706,-85.822513,135470,0.459752,0.091117,0.042566,0.038842,0.009708,...,0.025761,0.011476,0.014285,0.194353,0.048786,0.021097,0.041878,0.032617,0.032034,0.017940
3,12220,"Auburn-Opelika, AL",32.604064,-85.353048,135410,0.478064,0.103435,0.047882,0.044562,0.010992,...,0.028583,0.011589,0.016994,0.191858,0.055723,0.018004,0.034803,0.029596,0.034195,0.019537
4,13820,"Birmingham-Hoover, AL",33.462372,-86.814338,1540270,0.459331,0.107143,0.054810,0.042243,0.010090,...,0.031434,0.014809,0.016625,0.174068,0.042182,0.016656,0.037451,0.025131,0.032835,0.019813

In [69]:
city_level_df_2007 = city_level_df_2007[['MSA Code', 'AREA_NAME', 'Employment','Automation Index', 'Race with the Machine','Race against the Machine','Race ahead of the Machine','Running a Different Race','Lat','Long']]
city_level_df_2019 = city_level_df_2019[['MSA Code', 'AREA_NAME', 'Employment','Automation Index', 'Race with the Machine','Race against the Machine','Race ahead of the Machine','Running a Different Race','Lat','Long']]
city_level_df_2007_2019 = city_level_df_2007_2019[['MSA Code', 'AREA_NAME', 'Employment','Automation Index', 'Race with the Machine','Race against the Machine','Race ahead of the Machine','Running a Different Race','Lat','Long']]

In [70]:
city_level_df_2007 = city_level_df_2007.rename(columns={'MSA Code':'AREA'})
city_level_df_2019 = city_level_df_2019.rename(columns={'MSA Code':'AREA'})
city_level_df_2007_2019 = city_level_df_2007_2019.rename(columns={'MSA Code':'AREA'})

In [71]:
city_level_df_2007.to_csv("../static/data/csv/Panel 6 2007.csv", index=False)
city_level_df_2019.to_csv("../static/data/csv/Panel 6 2019.csv", index=False)
city_level_df_2007_2019.to_csv("../static/data/csv/Panel 6 2007~2019.csv", index=False)

### Panel 7

In [72]:
city_level_df_2007 = pd.read_excel("../static/data/xlsx/City-Level Automation.xlsx", sheetname='2007')
city_level_df_2019 = pd.read_excel("../static/data/xlsx/City-Level Automation.xlsx", sheetname='2019')
city_level_df_2007_2019 = pd.read_excel("../static/data/xlsx/City-Level Automation.xlsx", sheetname='2007-2019')

In [73]:
city_level_df_2007.head()

,MSA Code,AREA_NAME,Lat,Long,Employment,Automation Index,Race with the Machine,Communication,Interpersonal Task,Group Task,...,Race ahead of the Machine,Systems Analysis,Creative and Critical Thinking,Running a Different Race,Dynamic Physical Task,Equipment Maintenance,Vehicle and Equipment Operation,Hazardous Task,Conflict Resolution,Management and Supervision
0,11260,"Anchorage, AK",62.212784,-149.678222,477750,0.448733,0.109475,0.055789,0.043115,0.010572,...,0.030899,0.014747,0.016152,0.168963,0.043781,0.014956,0.035740,0.021264,0.033543,0.019678
1,21820,"Fairbanks, AK",64.676044,-146.548159,99500,0.450853,0.107381,0.055108,0.041949,0.010324,...,0.027786,0.012984,0.014802,0.171946,0.048784,0.015468,0.036898,0.023257,0.029488,0.018052
2,11500,"Anniston-Oxford-Jacksonville, AL",33.771706,-85.822513,135470,0.459752,0.091117,0.042566,0.038842,0.009708,...,0.025761,0.011476,0.014285,0.194353,0.048786,0.021097,0.041878,0.032617,0.032034,0.017940
3,12220,"Auburn-Opelika, AL",32.604064,-85.353048,135410,0.478064,0.103435,0.047882,0.044562,0.010992,...,0.028583,0.011589,0.016994,0.191858,0.055723,0.018004,0.034803,0.029596,0.034195,0.019537
4,13820,"Birmingham-Hoover, AL",33.462372,-86.814338,1540270,0.459331,0.107143,0.054810,0.042243,0.010090,...,0.031434,0.014809,0.016625,0.174068,0.042182,0.016656,0.037451,0.025131,0.032835,0.019813

In [74]:
len(city_level_df_2007.columns)

25

In [75]:
city_level_df_2007['State'] = [area_name.split(', ')[1] for area_name in city_level_df_2007['AREA_NAME'].tolist()]
city_level_df_2019['State'] = [area_name.split(', ')[1] for area_name in city_level_df_2019['AREA_NAME'].tolist()]
city_level_df_2007_2019['State'] = [area_name.split(', ')[1] for area_name in city_level_df_2007_2019['AREA_NAME'].tolist()]

In [76]:
city_level_df_2007['Metropolitan Areas'] = [area_name.split(', ')[0] for area_name in city_level_df_2007['AREA_NAME'].tolist()]
city_level_df_2019['Metropolitan Areas'] = [area_name.split(', ')[0] for area_name in city_level_df_2019['AREA_NAME'].tolist()]
city_level_df_2007_2019['Metropolitan Areas'] = [area_name.split(', ')[0] for area_name in city_level_df_2007_2019['AREA_NAME'].tolist()]

In [77]:
city_level_df_2007.columns

Index([                       u'MSA Code',                       u'AREA_NAME',
                                   u'Lat',                            u'Long',
                            u'Employment',                u'Automation Index',
                 u'Race with the Machine',                   u'Communication',
                    u'Interpersonal Task',                      u'Group Task',
              u'Race against the Machine',         u'Routine Problem Solving',
                u'Information Processing',                 u'Machine Control',
                 u'General Physical Task',       u'Race ahead of the Machine',
                      u'Systems Analysis',  u'Creative and Critical Thinking',
              u'Running a Different Race',           u'Dynamic Physical Task',
                 u'Equipment Maintenance', u'Vehicle and Equipment Operation',
                        u'Hazardous Task',             u'Conflict Resolution',
            u'Management and Supervision',                           u'State',
                    u'Metropolitan Areas'],
      dtype='object')

In [79]:
selected_cols = ['State','Metropolitan Areas',
               'Automation Index', 
                 
               'Race with the Machine', 'Communication', 'Interpersonal Task','Group Task',
               
               'Race against the Machine',
               'Routine Problem Solving', 'Information Processing', 
               'Machine Control', 'General Physical Task',
                 
               'Race ahead of the Machine', 
               'Systems Analysis',
               'Creative and Critical Thinking', 
                 
               'Running a Different Race','Dynamic Physical Task', 
               'Equipment Maintenance',
               'Vehicle and Equipment Operation', 
               'Hazardous Task',
               'Conflict Resolution', 'Management and Supervision']

city_level_df_2007 = city_level_df_2007[selected_cols]
city_level_df_2019 = city_level_df_2019[selected_cols]
city_level_df_2007_2019 = city_level_df_2007_2019[selected_cols]

In [80]:
city_level_df_2007.to_csv("../static/data/csv/Panel 7 2007.csv")
city_level_df_2019.to_csv("../static/data/csv/Panel 7 2019.csv")
city_level_df_2007_2019.to_csv("../static/data/csv/Panel 7 2007~2019.csv")