In [1]:
# -*- coding: utf-8 -*-
import pandas as pd

In [2]:
def table_generation(df):
    lines = []
    lines.append('<table class="table table-bordered sortable" id="dataTable" width="100%" cellspacing="0">\n')
    lines.append('<thead>')
    lines.append('  <tr>\n')

    for i, col in enumerate(df.columns):
        if i==0:
            lines.append('    <th class="sorttable_sorted">{} <span id="sorttable_sortfwdind">&nbsp;â–¾</span> </th>\n'.format(col))
        else:
            lines.append('    <th>{}</th>\n'.format(col))

    lines.append('  </tr>\n')
    lines.append('</thead>\n')

    lines.append('<tfoot>\n')
    lines.append('  <tr>\n')
    for col in df.columns:
        lines.append('    <th>{}</th>\n'.format(col))
    
    lines.append('  </tr>\n')
    lines.append('</tfoot>\n')

    lines.append('<tbody>\n')

    for i, r in df.iterrows():
        lines.append('  <tr>\n')
        for col in df.columns:    
            lines.append('    <td>{}</td>\n'.format(("%.2f" % r[col]) if isinstance(r[col],float) else r[col]))
        lines.append('  </tr>\n')    
    lines.append('</tbody>\n')
    lines.append('</table>')
    
    return ''.join(lines)

In [17]:
year = '2008'
csvpath = '../static/data/csv/Panel 7 '+year+'.csv'
panel_df = pd.read_csv(csvpath, encoding='utf-8', index_col=0)

In [18]:
panel_df.columns

Index([u'State', u'Metropolitan Areas', u'Automation Index',
       u'Race with the Machine', u'Communication', u'Managerial Task',
       u'Clerical Task', u'Equipment Maintenance', u'Race against the Machine',
       u'Information Processing', u'Perceptual Task', u'Equipment Operation',
       u'Operation Monitoring', u'Physical Task', u'Race ahead of the Machine',
       u'Strategic Thinking', u'Running a Different Race',
       u'Dynamic Physical Task', u'Hazardous Task', u'Group Task',
       u'Conflict Resolution', u'Creative Thinking',
       u'Changing the Course of a Race', u'Routine Task'],
      dtype='object')

In [19]:
panel_df = panel_df[['State', 'Metropolitan Areas',"Automation Index","Race with the Machine","Communication","Managerial Task","Clerical Task",
                                                "Equipment Maintenance","Race against the Machine","Information Processing","Perceptual Task",
                                                "Equipment Operation","Operation Monitoring","Physical Task","Race ahead of the Machine",
                                                "Strategic Thinking","Running a Different Race","Dynamic Physical Task","Hazardous Task",
                                                "Group Task","Conflict Resolution","Creative Thinking","Changing the Course of a Race","Routine Task"]]

In [20]:
panel_df.to_csv('../static/data/csv/Panel 7 '+year+'.csv')

In [21]:
panel_df.head()

,State,Metropolitan Areas,Automation Index,Race with the Machine,Communication,Managerial Task,Clerical Task,Equipment Maintenance,Race against the Machine,Information Processing,...,Race ahead of the Machine,Strategic Thinking,Running a Different Race,Dynamic Physical Task,Hazardous Task,Group Task,Conflict Resolution,Creative Thinking,Changing the Course of a Race,Routine Task
0,AK,Anchorage,48.741746,14.684050,4.797894,2.356081,5.657605,1.872470,17.453008,3.878498,...,2.273592,2.273592,11.394602,4.563006,1.714825,1.473803,2.948120,0.694848,2.936493,2.936493
1,AK,Fairbanks,48.922053,14.117661,4.495997,2.164507,5.542383,1.914774,17.945491,3.950802,...,2.049912,2.049912,11.695493,5.106398,1.817640,1.496530,2.651101,0.623824,3.113495,3.113495
2,AL,Anniston-Oxford-Jacksonville,48.605076,13.016132,4.271889,2.157339,4.348668,2.238236,18.985018,3.179652,...,1.801426,1.801426,12.228257,5.060881,2.364164,1.323624,2.908961,0.570627,2.574242,2.574242
3,AL,Auburn-Opelika,48.613007,13.569019,4.730012,2.307471,4.753875,1.777661,17.869717,3.445690,...,1.901155,1.901155,12.606232,5.500687,1.950729,1.425269,3.077061,0.652486,2.666884,2.666884
4,AL,Birmingham-Hoover,48.916497,14.448067,4.632111,2.335070,5.524763,1.956122,18.059896,3.844081,...,2.245583,2.245583,11.146307,4.344607,1.891055,1.355820,2.842491,0.712335,3.016643,3.016643

In [22]:
table = table_generation(panel_df)

In [23]:
f = open( '../visualize/templates/visualize/panel7_'+year+'.html', 'w')
f.write(table)
f.close()