In [1]:
import pandas as pd

In [2]:
def table_generation(df, color_code):
    lines = []
    lines.append('<table class="table table-bordered sortable" id="dataTable" width="100%" cellspacing="0">\n')
    lines.append('<thead>')
    lines.append('  <tr>\n')

    lines.append('    <th></th>\n')
    for i, (col, color) in enumerate(zip(df.columns, color_code)):
        if i==0:
            lines.append('    <th class="sorttable_sorted" bgcolor="{}">{} <span id="sorttable_sortfwdind">&nbsp;â–¾</span> </th>\n'.format(color, col))
        else:
            lines.append('    <th bgcolor="{}">{}</th>\n'.format(color, col))

    lines.append('  </tr>\n')
    lines.append('</thead>\n')

    lines.append('<tfoot>\n')
    lines.append('  <tr>\n')
    
    lines.append('    <th></th>\n')
    for i, (col, color) in enumerate(zip(df.columns, color_code)):
        lines.append('    <th bgcolor="{}">{}</th>\n'.format(color, col))
    
    lines.append('  </tr>\n')
    lines.append('</tfoot>\n')

    lines.append('<tbody>\n')

    for i, r in df.iterrows():
        lines.append('  <tr>\n')
        lines.append('    <td ></td>\n')
        for (col, color) in zip(df.columns, color_code):  
            if isinstance(r[col],float):
                lines.append('    <td bgcolor="{}">{}</td>\n'.format(color, ("%.2f" % (r[col]*100))))
            else:
                lines.append('    <td bgcolor="{}">{}</td>\n'.format(color, r[col]))
        lines.append('  </tr>\n')    
    lines.append('</tbody>\n')
    lines.append('</table>')
    
    return ''.join(lines)

In [19]:
year = '2008~2020'
csvpath = '../static/data/csv/Panel 4 '+year+'.csv'
panel_df = pd.read_csv(csvpath, index_col=0)

In [20]:
"""
panel_df.columns = ['Job Code', 'Job Title', "Automation Index","Race with the Machine","Communication","Managerial Task","Clerical Task",
                                                "Equipment Maintenance","Race against the Machine","Information Processing","Perceptual Task",
                                                "Equipment Operation","Operation Monitoring","Physical Task","Race ahead of the Machine",
                                                "Strategic Thinking","Running a Different Race","Dynamic Physical Task","Hazardous Task",
                                                "Group Task","Conflict Resolution","Creative Thinking","Changing the Course of a Race","Routine Task"]
"""

'\npanel_df.columns = [\'Job Code\', \'Job Title\', "Automation Index","Race with the Machine","Communication","Managerial Task","Clerical Task",\n                                                "Equipment Maintenance","Race against the Machine","Information Processing","Perceptual Task",\n                                                "Equipment Operation","Operation Monitoring","Physical Task","Race ahead of the Machine",\n                                                "Strategic Thinking","Running a Different Race","Dynamic Physical Task","Hazardous Task",\n                                                "Group Task","Conflict Resolution","Creative Thinking","Changing the Course of a Race","Routine Task"]\n'

In [21]:
panel_df = panel_df[['Job Code', 'Job Title', 
                     
               'Race with the Machine','Interpersonal Task','Group Task','Conflict Resolution','Management and Supervision',
               
               'Race against the Machine','Routine Problem Solving','Information Processing','General Physical Task','Dynamic Physical Task',
                 
               'Race ahead of the Machine','Communication','Systems Analysis','Creative and Critical Thinking',
                 
               'Running a Different Race','Equipment Maintenance','Vehicle and Equipment Operation','Machine Control','Hazardous Task']]

            
"""
panel_df.columns = panel_df.columns.tolist()[0:3]+["Automation for "+ col for col in panel_df.columns.tolist()[3:]]
"""
panel_df.to_csv('../static/data/csv/Panel 4 '+year+'.csv', encoding='utf-8')

In [22]:
panel_df.head()

,Job Code,Job Title,Race with the Machine,Interpersonal Task,Group Task,Conflict Resolution,Management and Supervision,Race against the Machine,Routine Problem Solving,Information Processing,...,Dynamic Physical Task,Race ahead of the Machine,Communication,Systems Analysis,Creative and Critical Thinking,Running a Different Race,Equipment Maintenance,Vehicle and Equipment Operation,Machine Control,Hazardous Task
0,00-0000,TOTAL AVERAGE,-0.000111,-0.000847,0.000109,0.000865,-0.000239,0.002285,-0.001315,-0.000085,...,0.002103,-0.001564,0.000888,-0.001956,-0.000496,0.003225,0.000647,0.001173,0.000969,0.000436
1,11-1011,Chief Executives,0.015694,0.006213,0.000310,-0.005190,0.014361,-0.005126,-0.017841,0.012715,...,0.000000,-0.004398,0.002466,-0.003614,-0.003250,-0.007273,-0.006240,-0.001461,0.002012,-0.001584
2,11-1021,General and Operations Managers,0.036897,0.024627,0.003966,-0.009424,0.017728,0.012997,0.003898,0.010291,...,-0.001191,-0.016163,-0.008251,-0.004783,-0.003129,-0.030692,-0.006922,-0.023928,-0.001252,0.001410
3,11-2011,Advertising and Promotions Managers,-0.013935,0.009176,0.002761,-0.005061,-0.020811,-0.032790,-0.003163,-0.022472,...,-0.005232,0.050651,0.031239,0.013461,0.005951,-0.002937,0.007044,-0.005621,-0.002975,-0.001385
4,11-2021,Marketing Managers,0.019946,0.015748,0.005068,0.011024,-0.011894,-0.018705,-0.016031,-0.002673,...,0.000000,-0.009300,-0.013231,-0.001382,0.005313,0.001980,-0.001066,-0.000065,0.003111,0.000000

In [23]:
color_code = ['FFFFFF', 'FFFFFF',
              'BDD7EE','DDEBF7','DDEBF7','DDEBF7','DDEBF7',
              'F8CBAD','FCE4D6','FCE4D6','FCE4D6','FCE4D6',
              'FFE699','FFF2CC','FFF2CC','FFF2CC',
              'C6E0B4','E2EFDA','E2EFDA','E2EFDA','E2EFDA'
              #'C6E0B4','E2EFDA','E2EFDA','E2EFDA','E2EFDA','E2EFDA',
              #'DBDBDB','EDEDED'
             ]

In [24]:
table = table_generation(panel_df, color_code)

In [25]:
f = open( '../visualize/templates/visualize/panel4_'+year+'.html', 'w')
f.write(table)
f.close()