In [1]:
# -*- coding: utf-8 -*-
import pandas as pd

In [2]:
def table_generation(df, color_code):
    lines = []
    lines.append('<table class="table table-bordered sortable" id="dataTable" width="100%" cellspacing="0">\n')
    lines.append('<thead>')
    lines.append('  <tr>\n')

    lines.append('    <th></th>\n')
    for i, (col, color) in enumerate(zip(df.columns, color_code)):
        if i==0:
            lines.append('    <th class="sorttable_sorted" bgcolor="{}">{} <span id="sorttable_sortfwdind">&nbsp;▾</span> </th>\n'.format(color, col))
        else:
            lines.append('    <th bgcolor="{}">{}</th>\n'.format(color, col))

    lines.append('  </tr>\n')
    lines.append('</thead>\n')

    lines.append('<tfoot>\n')
    lines.append('  <tr>\n')
    
    lines.append('    <th></th>\n')
    for i, (col, color) in enumerate(zip(df.columns, color_code)):
        lines.append('    <th bgcolor="{}">{}</th>\n'.format(color, col))
    
    lines.append('  </tr>\n')
    lines.append('</tfoot>\n')

    lines.append('<tbody>\n')

    for i, r in df.iterrows():
        lines.append('  <tr>\n')
        lines.append('    <td ></td>\n')
        for (col, color) in zip(df.columns, color_code):  
            if isinstance(r[col],float):
                lines.append('    <td bgcolor="{}">{}</td>\n'.format(color, ("%.2f" % (r[col]*100))))
            else:
                lines.append('    <td bgcolor="{}">{}</td>\n'.format(color, r[col]))
        lines.append('  </tr>\n')    
    lines.append('</tbody>\n')
    lines.append('</table>')
    
    return ''.join(lines)

In [17]:
year = '2008~2019'
csvpath = '../static/data/csv/Panel 4 '+year+'.csv'
panel_df = pd.read_csv(csvpath, encoding='utf-8', index_col=0)

In [18]:
"""
panel_df.columns = ['Job Code', 'Job Title', "Automation Index","Race with the Machine","Communication","Managerial Task","Clerical Task",
                                                "Equipment Maintenance","Race against the Machine","Information Processing","Perceptual Task",
                                                "Equipment Operation","Operation Monitoring","Physical Task","Race ahead of the Machine",
                                                "Strategic Thinking","Running a Different Race","Dynamic Physical Task","Hazardous Task",
                                                "Group Task","Conflict Resolution","Creative Thinking","Changing the Course of a Race","Routine Task"]
"""

'\npanel_df.columns = [\'Job Code\', \'Job Title\', "Automation Index","Race with the Machine","Communication","Managerial Task","Clerical Task",\n                                                "Equipment Maintenance","Race against the Machine","Information Processing","Perceptual Task",\n                                                "Equipment Operation","Operation Monitoring","Physical Task","Race ahead of the Machine",\n                                                "Strategic Thinking","Running a Different Race","Dynamic Physical Task","Hazardous Task",\n                                                "Group Task","Conflict Resolution","Creative Thinking","Changing the Course of a Race","Routine Task"]\n'

In [19]:
panel_df = panel_df[['Job Code', 'Job Title', 'Automation Index', 'Race with the Machine',
                   'Interpersonal Task', 'Administrative Task and Communication', 'Race against the Machine',
                   'Information Processing', 'Routine Problem Solving',
                   'Vehicle and Equipment Operation', 'Machine Control',
                   'Equipment Maintenance', 'General Physical Task',
                   'Race ahead of the Machine', 'Systems Thinking',
                   'Creative and Critical Thinking', 'Running a Different Race',
                   'Dynamic Physical Task', 'Hazardous and Group Task',
                   'Conflict Resolution', 'Management and Supervision']]
"""
panel_df.columns = panel_df.columns.tolist()[0:3]+["Automation for "+ col for col in panel_df.columns.tolist()[3:]]
"""
panel_df.to_csv('../static/data/csv/Panel 4 '+year+'.csv')

In [20]:
panel_df.head()

,Job Code,Job Title,Automation Index,Race with the Machine,Interpersonal Task,Administrative Task and Communication,Race against the Machine,Information Processing,Routine Problem Solving,Vehicle and Equipment Operation,...,Equipment Maintenance,General Physical Task,Race ahead of the Machine,Systems Thinking,Creative and Critical Thinking,Running a Different Race,Dynamic Physical Task,Hazardous and Group Task,Conflict Resolution,Management and Supervision
0,00-0000,TOTAL AVERAGE,0.006322,0.001960,-0.000051,0.002010,0.002603,0.000592,-0.000356,0.001061,...,-0.000673,1.193769e-03,-0.002009,-0.001328,-0.000681,0.003768,0.002087,-0.000017,0.001347,0.000351
1,11-1011,Chief Executives,0.007055,0.008770,0.006113,0.002656,-0.010654,0.018541,-0.018485,-0.000492,...,-0.007811,0.000000e+00,-0.004010,-0.002071,-0.001939,0.012950,0.000000,-0.001895,-0.003677,0.018522
2,11-1021,General and Operations Managers,0.011908,0.028134,0.031739,-0.003605,-0.024085,0.009611,-0.000197,-0.023695,...,-0.009215,-7.698695e-08,-0.008703,-0.004357,-0.004345,0.016562,-0.000934,0.006788,-0.002642,0.013350
3,11-2011,Advertising and Promotions Managers,0.006692,0.044311,0.006786,0.037525,-0.027471,-0.014471,-0.013702,-0.005543,...,0.013506,-7.261021e-03,0.015201,0.014162,0.001038,-0.025349,0.000000,0.001920,-0.008872,-0.018397
4,11-2021,Marketing Managers,0.001415,-0.006222,0.011428,-0.017651,-0.008867,0.005849,-0.005130,0.000202,...,-0.009789,0.000000e+00,0.009327,0.000066,0.009261,0.007178,0.000000,0.005465,0.010271,-0.008558

In [21]:
color_code = ['FFFFFF', 'FFFFFF',
              'FFFFCC',
              'BDD7EE','DDEBF7','DDEBF7',
              'F8CBAD','FCE4D6','FCE4D6','FCE4D6','FCE4D6','FCE4D6','FCE4D6',
              'FFE699','FFF2CC','FFF2CC',
              'C6E0B4','E2EFDA','E2EFDA','E2EFDA','E2EFDA',
              #'C6E0B4','E2EFDA','E2EFDA','E2EFDA','E2EFDA','E2EFDA',
              #'DBDBDB','EDEDED'
             ]

In [22]:
table = table_generation(panel_df, color_code)

In [23]:
f = open( '../visualize/templates/visualize/panel4_'+year+'.html', 'w')
f.write(table)
f.close()