In [1]:
# -*- coding: utf-8 -*-
import pandas as pd
import json

In [8]:
year='2020'
panel6_df = pd.read_csv("../static/data/csv/Panel 6 {}.csv".format(year))

In [9]:
panel6_df.head()

,AREA,AREA_NAME,Employment,Automation Index,Race with the Machine,Race ahead of the Machine,Changing the Course of the Race,Race against the Machine,Running a Different Race,Lat,Long
0,11260,"Anchorage, AK",140960,0.487970,0.139348,0.101945,0.081415,0.077490,0.087773,62.212784,-149.678222
1,21820,"Fairbanks, AK",21830,0.488832,0.140458,0.089655,0.071753,0.089218,0.097749,64.676044,-146.548159
2,11500,"Anniston-Oxford-Jacksonville, AL",31360,0.492837,0.125410,0.076206,0.072231,0.095043,0.123948,33.771706,-85.822513
3,12220,"Auburn-Opelika, AL",44450,0.488861,0.131071,0.081657,0.067204,0.097927,0.111002,32.604064,-85.353048
4,13820,"Birmingham-Hoover, AL",452200,0.490124,0.132674,0.099671,0.081492,0.076700,0.099586,33.462372,-86.814338

In [10]:
panel6_df.columns

Index([u'AREA', u'AREA_NAME', u'Employment', u'Automation Index',
       u'Race with the Machine', u'Race ahead of the Machine',
       u'Changing the Course of the Race', u'Race against the Machine',
       u'Running a Different Race', u'Lat', u'Long'],
      dtype='object')

In [11]:
task_types = ['Race with the Machine', 'Race ahead of the Machine', 'Changing the Course of the Race',
                                                      'Race against the Machine', 'Running a Different Race'
             ] #, 'Changing the Course of a Race'

In [12]:
import json

for task_type in task_types:
    map_list = []
    for i, r in panel6_df.iterrows():
        map_dict = {}
        map_dict['Location'] = r['AREA_NAME']
        map_dict['year'] = year
        map_dict['area'] = r['AREA']        
        map_dict['Lat'] = r['Lat']    
        map_dict['Lng'] = r['Long']        
        map_dict['ai'] = r['Automation Index']                
        map_dict['task_type'] = task_type
        map_dict['e'] = r['Employment']                
        map_dict['employment'] = r['Employment']        
        map_dict['ai_task_type'] = r[task_type]
        map_list.append(map_dict)
        
    with open('../static/data/map/'+str(year)+'_'+task_type+'.js', 'w') as outfile:    
        outfile.write('tilde.cities = ' + json.dumps(map_list))
        outfile.close()