In [2]:
# -*- coding: utf-8 -*-
import pandas as pd
import json

In [3]:
mst_edges = pd.read_excel("../static/data/xlsx/MST Edges.xlsx")

In [4]:
skill_dna_2008_df = pd.read_excel("../static/data/xlsx/Skill DNA v2.xlsx", sheetname='2008')
skill_dna_2019_df = pd.read_excel("../static/data/xlsx/Skill DNA v2.xlsx", sheetname='2019')
skill_dna_2008_2019_df = pd.read_excel("../static/data/xlsx/Skill DNA v2.xlsx", sheetname='2008-2019')

C:\Users\jh.kim\AppData\Local\conda\conda\envs\jauto\lib\site-packages\pandas\util\_decorators.py:188: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  return func(*args, **kwargs)

In [17]:
skill_dna_name_refer = pd.read_excel("../static/data/xlsx/Skill DNA.xlsx", sheetname='Automation Level')

In [20]:
skill_code_to_name = {r['ElementID']:r['node'] for i,r in skill_dna_name_refer.iterrows()}
skill_code_to_task = {r['ElementID']:r['Task'] for i,r in skill_dna_name_refer.iterrows()}

In [5]:
skill_dna_2019_df.head()

,SOC Code,Job Title,2.A.2.b,1.A.2.c.2,1.A.1.c.2,4.C.1.a.2.h,4.C.2.a.1.e,4.A.4.b.4,4.C.2.c.1.c,4.A.1.b.2,...,2.B.1.d,4.C.2.b.1.f,4.C.1.c.2,2.A.2.a,4.A.3.b.6,4.C.3.d.3,4.C.3.a.2.a,1.A.4.b.3,4.A.4.a.6,1.A.2.a.3
0,00-0000,Total Average,0.002162,0.003214,0.003704,0.003541,0.002069,0.002092,0.002035,0.002711,...,0.002643,0.001597,0.002433,0.002631,0.003180,0.004071,0.002628,0.002524,0.002726,0.003015
1,11-1011,Chief Executives,0.004793,0.000000,0.005168,0.002948,0.000144,0.008065,0.000000,0.000000,...,0.009059,0.001252,0.006486,0.005823,0.000000,0.000000,0.007471,0.000000,0.005116,0.000000
2,11-1021,General and Operations Managers,0.003511,0.000000,0.002670,0.004138,0.000000,0.009747,0.001447,0.001675,...,0.009706,0.000000,0.011191,0.004142,0.000869,0.000000,0.008081,0.000836,0.007613,0.000000
3,11-2011,Advertising and Promotions Managers,0.002179,0.000000,0.006179,0.007048,0.000000,0.001693,0.000000,0.000000,...,0.007489,0.000000,0.007072,0.008068,0.000000,0.000000,0.003709,0.000000,0.011830,0.000000
4,11-2021,Marketing Managers,0.007517,0.000000,0.007677,0.005312,0.000000,0.008446,0.000000,0.000000,...,0.010983,0.000000,0.007677,0.004687,0.000000,0.000000,0.004319,0.000000,0.013657,0.000000

In [6]:
def standardizer(df, col):
    df[col] -= df[col].min()
    df[col] /= df[col].max()
    
    df[col] = (30**df[col]-1)/30
    
    df[col] = [0.5 if value > 0.5 else value for value in df[col]]
    
    #df[col] = df[col]*200
    #df[col] = df[col]+10
    return df

In [7]:
def standardizer_diff(df, col):
    df[col] -= df[col].min()
    df[col] /= df[col].max()
    
    df[col] = (30**df[col]-1)/30
    
    df[col] = [0.6 if value > 0.6 else value for value in df[col]]
    
    #df[col] = df[col]*200
    #df[col] = df[col]+10
    return df

In [8]:
for col in skill_dna_2008_df.columns.tolist()[2:]:
    skill_dna_2008_df = standardizer(skill_dna_2008_df, col)
    skill_dna_2019_df = standardizer(skill_dna_2019_df, col)
    skill_dna_2008_2019_df = standardizer_diff(skill_dna_2008_2019_df, col)

In [9]:
skill_dna_2008_df.head()

,SOC Code,Job Title,2.A.2.b,1.A.2.c.2,1.A.1.c.2,4.C.1.a.2.h,4.C.2.a.1.e,4.A.4.b.4,4.C.2.c.1.c,4.A.1.b.2,...,2.B.1.d,4.C.2.b.1.f,4.C.1.c.2,2.A.2.a,4.A.3.b.6,4.C.3.d.3,4.C.3.a.2.a,1.A.4.b.3,4.A.4.a.6,1.A.2.a.3
0,00-0000,Total Average,0.018164,0.00775,0.009787,0.022691,0.011837,0.019340,0.011838,0.013811,...,0.011884,0.006496,0.015388,0.014745,0.013204,0.010523,0.015489,0.013547,0.006320,0.011416
1,11-1011,Chief Executives,0.020148,0.00000,0.014417,0.030371,0.000235,0.102143,0.000000,0.000000,...,0.091450,0.001981,0.092089,0.042299,0.000000,0.000000,0.077257,0.000000,0.024596,0.000000
2,11-1021,General and Operations Managers,0.000000,0.00000,0.002629,0.039392,0.000000,0.152837,0.007421,0.012785,...,0.062582,0.000000,0.238755,0.010861,0.000000,0.000000,0.183333,0.055545,0.046015,0.000000
3,11-2011,Advertising and Promotions Managers,0.003332,0.00000,0.025291,0.000000,0.000000,0.114084,0.000000,0.000000,...,0.041742,0.000000,0.066876,0.004751,0.000000,0.000000,0.060355,0.000000,0.032174,0.000000
4,11-2021,Marketing Managers,0.000000,0.00000,0.021602,0.101682,0.000000,0.230017,0.000000,0.000000,...,0.035432,0.000000,0.034326,0.011386,0.000000,0.000000,0.046174,0.000000,0.051054,0.000000

# Skill Network Edges

In [10]:
mst_edges.to_csv("../static/data/network_csv/skill_edges.csv", index=None)

# Skill Network Nodes

In [14]:
cols = skill_dna_2008_df.columns.tolist()[2:]

In [29]:
for i, r in skill_dna_2008_df.iterrows():
    skillmap = {}
    skillmap["job_title"] = r['Job Title']
    skillmap["job_code"] = r['SOC Code']  
    
    skill_list = []
    
    for col in cols:
        skill_dict = {"skill_name": skill_code_to_name[col],
                      "skill_code":col,
                      "task_name": skill_code_to_task[col],
                      "automation_2019":skill_dna_2019_df.iloc[i][col],
                      "automation_2008":skill_dna_2008_df.iloc[i][col],                                     
                      "automation_2008_2019":skill_dna_2008_2019_df.iloc[i][col],
                     }
        skill_list.append(skill_dict)  

    skillmap["skill_list"] = skill_list
        
    #with open('../static/data/network/'+r1['Job Code']+'-2019'+'.json', 'w') as outfile:
    with open('../static/data/network/'+skill_dna_2008_df.iloc[i]['SOC Code']+'.json', 'w') as outfile:
        json.dump(skillmap, outfile)

# Task Clusters

In [30]:
import pandas as pd

In [31]:
task_cluster = {}

task_cluster['Race with the Machine'] = ['Interpersonal Task', 'Administrative Task and Communication']

task_cluster['Race against the Machine'] = ['Information Processing', 'Routine Problem Solving',
                                           'Vehicle and Equipment Operation', 'Machine Control',
                                           'Equipment Maintenance', 'General Physical Task']

task_cluster['Race ahead of the Machine'] = ['Systems Thinking', 'Creative and Critical Thinking']

task_cluster['Running a Different Race'] = ['Dynamic Physical Task', 'Hazardous and Group Task',
                                           'Conflict Resolution', 'Management and Supervision']

In [32]:
flatten_task_cluster = []

for task_cluster_nm, tasks in task_cluster.items():
    for task in tasks:
        flatten_task_cluster_dict = {}
        flatten_task_cluster_dict['task_name'] = task
        flatten_task_cluster_dict['task_cluster'] = task_cluster_nm
        flatten_task_cluster.append(flatten_task_cluster_dict)

In [33]:
task_cluster_df = pd.DataFrame(flatten_task_cluster)

In [34]:
task_cluster_df.to_csv("../static/data/network_csv/task_cluster.csv", index=None)