In [1]:
# -*- coding: utf-8 -*-
import pandas as pd
import json

In [12]:
year='2019'
panel6_df = pd.read_csv("../static/data/csv/Panel 6 {}.csv".format(year))

In [13]:
panel6_df.head()

,AREA,AREA_NAME,Employment,Automation Index,Race with the Machine,Race against the Machine,Race ahead of the Machine,Running a Different Race,Lat,Long
0,11260,"Anchorage, AK",162360,0.453472,0.123602,0.147590,0.032602,0.149678,62.212784,-149.678222
1,21820,"Fairbanks, AK",27420,0.460544,0.124254,0.148128,0.032832,0.155329,64.676044,-146.548159
2,11500,"Anniston-Oxford-Jacksonville, AL",36560,0.468018,0.110747,0.168377,0.024806,0.164087,33.771706,-85.822513
3,12220,"Auburn-Opelika, AL",47570,0.470208,0.119128,0.159465,0.027259,0.164357,32.604064,-85.353048
4,13820,"Birmingham-Hoover, AL",498730,0.464720,0.123312,0.156414,0.032506,0.152488,33.462372,-86.814338

In [14]:
panel6_df.columns

Index([u'AREA', u'AREA_NAME', u'Employment', u'Automation Index',
       u'Race with the Machine', u'Race against the Machine',
       u'Race ahead of the Machine', u'Running a Different Race', u'Lat',
       u'Long'],
      dtype='object')

In [15]:
task_types = ['Race with the Machine',
                'Race against the Machine','Race ahead of the Machine',
                'Running a Different Race'] #, 'Changing the Course of a Race'

In [16]:
import json

for task_type in task_types:
    map_list = []
    for i, r in panel6_df.iterrows():
        map_dict = {}
        map_dict['Location'] = r['AREA_NAME']
        map_dict['year'] = year
        map_dict['area'] = r['AREA']        
        map_dict['Lat'] = r['Lat']    
        map_dict['Lng'] = r['Long']        
        map_dict['ai'] = r['Automation Index']                
        map_dict['task_type'] = task_type
        map_dict['e'] = r['Employment']                
        map_dict['employment'] = r['Employment']        
        map_dict['ai_task_type'] = r[task_type]
        map_list.append(map_dict)
        
    with open('../static/data/map/'+str(year)+'_'+task_type+'.js', 'w') as outfile:    
        outfile.write('tilde.cities = ' + json.dumps(map_list))
        outfile.close()