In [1]:
# -*- coding: utf-8 -*-
import pandas as pd

In [2]:
def table_generation(df, color_code):
    lines = []
    lines.append('<table class="table table-bordered sortable" id="dataTable" width="100%" cellspacing="0">\n')
    lines.append('<thead>')
    lines.append('  <tr>\n')

    lines.append('    <th></th>\n')
    for i, (col, color) in enumerate(zip(df.columns, color_code)):
        if i==0:
            lines.append('    <th class="sorttable_sorted" bgcolor="{}">{} <span id="sorttable_sortfwdind">&nbsp;â–¾</span> </th>\n'.format(color, col))
        else:
            lines.append('    <th bgcolor="{}">{}</th>\n'.format(color, col))

    lines.append('  </tr>\n')
    lines.append('</thead>\n')

    lines.append('<tfoot>\n')
    lines.append('  <tr>\n')
    
    lines.append('    <th></th>\n')
    for i, (col, color) in enumerate(zip(df.columns, color_code)):
        lines.append('    <th bgcolor="{}">{}</th>\n'.format(color, col))
    
    lines.append('  </tr>\n')
    lines.append('</tfoot>\n')

    lines.append('<tbody>\n')

    for i, r in df.iterrows():
        lines.append('  <tr>\n')
        lines.append('    <td ></td>\n')
        for (col, color) in zip(df.columns, color_code):    
            if isinstance(r[col],float):
                lines.append('    <td bgcolor="{}">{}</td>\n'.format(color, ("%.2f" % (r[col]*100))))
            else:
                lines.append('    <td bgcolor="{}">{}</td>\n'.format(color, r[col]))
        lines.append('  </tr>\n')    
    lines.append('</tbody>\n')
    lines.append('</table>')
    
    return ''.join(lines)

In [19]:
year = '2020'
csvpath = '../static/data/csv/Panel 7 '+year+'.csv'
panel_df = pd.read_csv(csvpath, index_col=0)

In [20]:
panel_df.columns

Index(['State', 'Metropolitan Areas', 'Race against the Machine',
       'Routine Problem Solving', 'Information Processing',
       'General Physical Task', 'Dynamic Physical Task',
       'Race with the Machine', 'Interpersonal Task', 'Group Task',
       'Conflict Resolution', 'Management and Supervision',
       'Race ahead of the Machine', 'Communication', 'Systems Analysis',
       'Creative and Critical Thinking', 'Running a Different Race',
       'Equipment Maintenance', 'Vehicle and Equipment Operation',
       'Machine Control', 'Hazardous Task'],
      dtype='object')

In [21]:
panel_df = panel_df[['State', 'Metropolitan Areas', #'Automation Index',
               
               'Race against the Machine','Routine Problem Solving','Information Processing','General Physical Task','Dynamic Physical Task',
                     
               'Race with the Machine','Interpersonal Task','Group Task','Conflict Resolution','Management and Supervision',
                 
               'Race ahead of the Machine','Communication','Systems Analysis','Creative and Critical Thinking',
                 
               'Running a Different Race','Equipment Maintenance','Vehicle and Equipment Operation','Machine Control','Hazardous Task']]

In [22]:
panel_df.to_csv('../static/data/csv/Panel 7 '+year+'.csv')

In [23]:
panel_df.head()

,State,Metropolitan Areas,Race against the Machine,Routine Problem Solving,Information Processing,General Physical Task,Dynamic Physical Task,Race with the Machine,Interpersonal Task,Group Task,...,Management and Supervision,Race ahead of the Machine,Communication,Systems Analysis,Creative and Critical Thinking,Running a Different Race,Equipment Maintenance,Vehicle and Equipment Operation,Machine Control,Hazardous Task
0,AK,Anchorage,0.158905,0.045216,0.036199,0.037951,0.039539,0.139348,0.052591,0.014947,...,0.027627,0.101945,0.065309,0.017516,0.019119,0.087773,0.015042,0.033652,0.018366,0.020712
1,AK,Fairbanks,0.160970,0.041454,0.030299,0.043194,0.046023,0.140458,0.054230,0.015458,...,0.027338,0.089655,0.059595,0.014706,0.015353,0.097749,0.016394,0.038312,0.019649,0.023394
2,AL,Anniston-Oxford-Jacksonville,0.167273,0.043942,0.028289,0.048671,0.046372,0.125410,0.050035,0.013914,...,0.022673,0.076206,0.051144,0.011121,0.013942,0.123948,0.024043,0.039246,0.026538,0.034120
3,AL,Auburn-Opelika,0.165130,0.040339,0.026864,0.047395,0.050532,0.131071,0.052232,0.014359,...,0.023696,0.081657,0.053353,0.012303,0.016001,0.111002,0.018253,0.041441,0.022922,0.028387
4,AL,Birmingham-Hoover,0.158193,0.045025,0.036468,0.037649,0.039051,0.132674,0.051591,0.014388,...,0.025455,0.099671,0.064397,0.016563,0.018712,0.099586,0.017595,0.036349,0.021167,0.024474

In [24]:
color_code = ['FFFFFF', 'FFFFFF',
              'F8CBAD','FCE4D6','FCE4D6','FCE4D6','FCE4D6',
              'BDD7EE','DDEBF7','DDEBF7','DDEBF7','DDEBF7',              
              'FFE699','FFF2CC','FFF2CC','FFF2CC',
              'C6E0B4','E2EFDA','E2EFDA','E2EFDA','E2EFDA'
              #'C6E0B4','E2EFDA','E2EFDA','E2EFDA','E2EFDA','E2EFDA',
              #'DBDBDB','EDEDED'
             ]

In [25]:
table = table_generation(panel_df, color_code)

In [26]:
f = open( '../visualize/templates/visualize/panel7_'+year+'.html', 'w')
f.write(table)
f.close()