In [2]:
# -*- coding: utf-8 -*-
import pandas as pd
import json

In [13]:
year='2008'
panel6_df = pd.read_csv("../static/data/csv/Panel 6 {}.csv".format(year))

In [14]:
panel6_df.head()

,AREA,AREA_NAME,Employment,Automation Index,Race with the Machine,Race against the Machine,Race ahead of the Machine,Running a Different Race,Lat,Long
0,11260,"Anchorage, AK",164800,0.487366,0.109197,0.193051,0.034331,0.150787,62.212784,-149.678222
1,21820,"Fairbanks, AK",36520,0.489328,0.105983,0.200713,0.030144,0.152488,64.676044,-146.548159
2,11500,"Anniston-Oxford-Jacksonville, AL",47810,0.486843,0.090820,0.204470,0.028548,0.163005,33.771706,-85.822513
3,12220,"Auburn-Opelika, AL",48830,0.486675,0.099365,0.194866,0.030654,0.161790,32.604064,-85.353048
4,13820,"Birmingham-Hoover, AL",517940,0.489126,0.106253,0.198325,0.034422,0.150126,33.462372,-86.814338

In [15]:
panel6_df.columns

Index([u'AREA', u'AREA_NAME', u'Employment', u'Automation Index',
       u'Race with the Machine', u'Race against the Machine',
       u'Race ahead of the Machine', u'Running a Different Race', u'Lat',
       u'Long'],
      dtype='object')

In [16]:
task_types = ['Race with the Machine',
                'Race against the Machine','Race ahead of the Machine',
                'Running a Different Race'] #, 'Changing the Course of a Race'

In [17]:
import json

for task_type in task_types:
    map_list = []
    for i, r in panel6_df.iterrows():
        map_dict = {}
        map_dict['Location'] = r['AREA_NAME']
        map_dict['year'] = year
        map_dict['area'] = r['AREA']        
        map_dict['Lat'] = r['Lat']    
        map_dict['Lng'] = r['Long']        
        map_dict['ai'] = r['Automation Index']                
        map_dict['task_type'] = task_type
        map_dict['e'] = r['Employment']                
        map_dict['employment'] = r['Employment']        
        map_dict['ai_task_type'] = r[task_type]
        map_list.append(map_dict)
        
    with open('../static/data/map/'+str(year)+'_'+task_type+'.js', 'w') as outfile:    
        outfile.write('tilde.cities = ' + json.dumps(map_list))
        outfile.close()