In [2]:
import pandas as pd

In [3]:
def table_generation(df, color_code):
    lines = []
    lines.append('<table class="table table-bordered sortable" id="dataTable" width="100%" cellspacing="0">\n')
    lines.append('<thead>')
    lines.append('  <tr>\n')

    lines.append('    <th></th>\n')
    for i, (col, color) in enumerate(zip(df.columns, color_code)):
        if i==0:
            lines.append('    <th class="sorttable_sorted" bgcolor="{}">{} <span id="sorttable_sortfwdind">&nbsp;▾</span> </th>\n'.format(color, col))
        else:
            lines.append('    <th bgcolor="{}">{}</th>\n'.format(color, col))

    lines.append('  </tr>\n')
    lines.append('</thead>\n')

    lines.append('<tfoot>\n')
    lines.append('  <tr>\n')
    
    lines.append('    <th></th>\n')
    for i, (col, color) in enumerate(zip(df.columns, color_code)):
        lines.append('    <th bgcolor="{}">{}</th>\n'.format(color, col))
    
    lines.append('  </tr>\n')
    lines.append('</tfoot>\n')

    lines.append('<tbody>\n')

    for i, r in df.iterrows():
        lines.append('  <tr>\n')
        lines.append('    <td ></td>\n')
        for (col, color) in zip(df.columns, color_code):  
            if isinstance(r[col],float):
                lines.append('    <td bgcolor="{}">{}</td>\n'.format(color, ("%.2f" % (r[col]*100))))
            else:
                lines.append('    <td bgcolor="{}">{}</td>\n'.format(color, r[col]))
        lines.append('  </tr>\n')    
    lines.append('</tbody>\n')
    lines.append('</table>')
    
    return ''.join(lines)

In [19]:
year = '2019'
csvpath = '../static/data/csv/Panel 4 '+year+'.csv'
panel_df = pd.read_csv(csvpath, index_col=0)

In [20]:
"""
panel_df.columns = ['Job Code', 'Job Title', "Automation Index","Race with the Machine","Communication","Managerial Task","Clerical Task",
                                                "Equipment Maintenance","Race against the Machine","Information Processing","Perceptual Task",
                                                "Equipment Operation","Operation Monitoring","Physical Task","Race ahead of the Machine",
                                                "Strategic Thinking","Running a Different Race","Dynamic Physical Task","Hazardous Task",
                                                "Group Task","Conflict Resolution","Creative Thinking","Changing the Course of a Race","Routine Task"]
"""

'\npanel_df.columns = [\'Job Code\', \'Job Title\', "Automation Index","Race with the Machine","Communication","Managerial Task","Clerical Task",\n                                                "Equipment Maintenance","Race against the Machine","Information Processing","Perceptual Task",\n                                                "Equipment Operation","Operation Monitoring","Physical Task","Race ahead of the Machine",\n                                                "Strategic Thinking","Running a Different Race","Dynamic Physical Task","Hazardous Task",\n                                                "Group Task","Conflict Resolution","Creative Thinking","Changing the Course of a Race","Routine Task"]\n'

In [21]:
panel_df = panel_df[['Job Code', 'Job Title', 'Race with the Machine', 
               'Communication', 'Interpersonal Task','Group Task',
               'Race against the Machine',
               'Routine Problem Solving', 'Information Processing', 'General Physical Task',  
               'Machine Control', 'Hazardous Task',
               'Race ahead of the Machine', 
               'Systems Analysis',
               'Creative and Critical Thinking', 
               'Running a Different Race','Dynamic Physical Task', 
               'Equipment Maintenance',
               'Vehicle and Equipment Operation', 
               'Conflict Resolution', 'Management and Supervision']]
            
"""
panel_df.columns = panel_df.columns.tolist()[0:3]+["Automation for "+ col for col in panel_df.columns.tolist()[3:]]
"""
panel_df.to_csv('../static/data/csv/Panel 4 '+year+'.csv', encoding='utf-8')

In [22]:
panel_df.head()

,Job Code,Job Title,Race with the Machine,Communication,Interpersonal Task,Group Task,Race against the Machine,Routine Problem Solving,Information Processing,General Physical Task,...,Hazardous Task,Race ahead of the Machine,Systems Analysis,Creative and Critical Thinking,Running a Different Race,Dynamic Physical Task,Equipment Maintenance,Vehicle and Equipment Operation,Conflict Resolution,Management and Supervision
0,00-0000,TOTAL AVERAGE,0.101893,0.057920,0.033494,0.010479,0.185496,0.048551,0.042265,0.036168,...,0.031611,0.047259,0.022046,0.025213,0.154876,0.029319,0.028862,0.043699,0.028561,0.024436
1,11-1011,Chief Executives,0.152969,0.066076,0.066648,0.020246,0.099610,0.036929,0.053853,0.000000,...,0.002074,0.096690,0.050402,0.046288,0.123501,0.000000,0.001932,0.004098,0.040272,0.077198
2,11-1021,General and Operations Managers,0.184906,0.075846,0.078258,0.030802,0.084873,0.024123,0.036771,0.000000,...,0.008958,0.063535,0.036534,0.027001,0.142185,0.002007,0.001068,0.003154,0.042999,0.092956
3,11-2011,Advertising and Promotions Managers,0.231137,0.112609,0.092680,0.025849,0.070423,0.044638,0.025784,0.000000,...,0.000000,0.099659,0.048627,0.051032,0.071083,0.000000,0.011518,0.003259,0.020625,0.035680
4,11-2021,Marketing Managers,0.182269,0.080397,0.077386,0.024485,0.066480,0.021936,0.038279,0.000000,...,0.000000,0.114296,0.057151,0.057145,0.102691,0.000000,0.006299,0.000228,0.026962,0.069201

In [23]:
color_code = ['FFFFFF', 'FFFFFF',
              'BDD7EE','DDEBF7','DDEBF7','DDEBF7',
              'F8CBAD','FCE4D6','FCE4D6','FCE4D6','FCE4D6',
              'FFE699','FFF2CC','FFF2CC',
              'C6E0B4','E2EFDA','E2EFDA','E2EFDA','E2EFDA','E2EFDA','E2EFDA',
              #'C6E0B4','E2EFDA','E2EFDA','E2EFDA','E2EFDA','E2EFDA',
              #'DBDBDB','EDEDED'
             ]

In [24]:
table = table_generation(panel_df, color_code)

In [25]:
f = open( '../visualize/templates/visualize/panel4_'+year+'.html', 'w')
f.write(table)
f.close()