In [102]:
# -*- coding: utf-8 -*-
import pandas as pd
import json

In [103]:
mst_edges = pd.read_excel("../static/data/xlsx/MST Edges.xlsx")

In [104]:
skill_dna_2008_df = pd.read_excel("../static/data/xlsx/Skill DNA v2.xlsx", sheetname='2008')
skill_dna_2019_df = pd.read_excel("../static/data/xlsx/Skill DNA v2.xlsx", sheetname='2019')
skill_dna_2008_2019_df = pd.read_excel("../static/data/xlsx/Skill DNA v2.xlsx", sheetname='2008-2019')

In [105]:
skill_dna_name_refer = pd.read_excel("../static/data/xlsx/Skill DNA.xlsx", sheetname='Automation Level')

In [106]:
skill_code_to_name = {r['ElementID']:r['node'] for i,r in skill_dna_name_refer.iterrows()}
skill_code_to_task = {r['ElementID']:r['Task'] for i,r in skill_dna_name_refer.iterrows()}

In [107]:
skill_dna_2008_2019_df.head()

,SOC Code,Job Title,2.A.2.b,1.A.2.c.2,1.A.1.c.2,4.C.1.a.2.h,4.C.2.a.1.e,4.A.4.b.4,4.C.2.c.1.c,4.A.1.b.2,...,2.B.1.d,4.C.2.b.1.f,4.C.1.c.2,2.A.2.a,4.A.3.b.6,4.C.3.d.3,4.C.3.a.2.a,1.A.4.b.3,4.A.4.a.6,1.A.2.a.3
0,00-0000,Total Average,-0.004449,-0.006703,-0.007260,-0.007273,-0.004149,-0.004161,-0.004047,-0.005161,...,-0.004973,-0.003221,-0.005052,-0.004856,-0.006368,-0.008219,-0.005124,-0.004782,-0.005278,-0.005837
1,11-1011,Chief Executives,-0.007279,0.000000,-0.010133,-0.007605,-0.000192,-0.014407,0.000000,0.000000,...,-0.019146,-0.001779,-0.015626,-0.010801,0.000000,0.000000,-0.015318,0.000000,-0.013239,0.000000
2,11-1021,General and Operations Managers,-0.003511,0.000000,-0.003719,-0.009746,0.000000,-0.017527,-0.002777,-0.003970,...,-0.017782,0.000000,-0.025673,-0.005856,-0.000869,0.000000,-0.020327,-0.007329,-0.020362,0.000000
3,11-2011,Advertising and Promotions Managers,-0.002680,0.000000,-0.013977,-0.007048,0.000000,-0.008417,0.000000,0.000000,...,-0.013694,0.000000,-0.014664,-0.008877,0.000000,0.000000,-0.010470,0.000000,-0.021761,0.000000
4,11-2021,Marketing Managers,-0.007517,0.000000,-0.014577,-0.015368,0.000000,-0.017794,0.000000,0.000000,...,-0.016517,0.000000,-0.012560,-0.006473,0.000000,0.000000,-0.010006,0.000000,-0.027310,0.000000

In [108]:
def standardizer(df, col):
    df[col] -= df[col].min()
    df[col] /= df[col].max()
    
    #df[col] = (30**df[col]-1)/30
    
    #df[col] = [0.5 if value > 0.5 else value for value in df[col]]
    
    #df[col] = df[col]*200
    #df[col] = df[col]+10
    return df

In [109]:
def standardizer_diff(df, col):
    df[col] = df[col]*-1
    df[col] -= df[col].min()
    df[col] /= df[col].max()
    
    #df[col] = (30**df[col]-1)/30
    
    #df[col] = [0.6 if value > 0.6 else value for value in df[col]]
    
    #df[col] = df[col]*200
    #df[col] = df[col]+10
    return df

In [110]:
for col in skill_dna_2008_df.columns.tolist()[2:]:
    skill_dna_2008_df = standardizer(skill_dna_2008_df, col)
    skill_dna_2019_df = standardizer(skill_dna_2019_df, col)
    skill_dna_2008_2019_df = standardizer_diff(skill_dna_2008_2019_df, col)

In [111]:
skill_dna_2008_2019_df.head()

,SOC Code,Job Title,2.A.2.b,1.A.2.c.2,1.A.1.c.2,4.C.1.a.2.h,4.C.2.a.1.e,4.A.4.b.4,4.C.2.c.1.c,4.A.1.b.2,...,2.B.1.d,4.C.2.b.1.f,4.C.1.c.2,2.A.2.a,4.A.3.b.6,4.C.3.d.3,4.C.3.a.2.a,1.A.4.b.3,4.A.4.a.6,1.A.2.a.3
0,00-0000,Total Average,0.157940,0.060654,0.094286,0.164082,0.087529,0.164002,0.088959,0.141305,...,0.094299,0.056997,0.130923,0.126641,0.102244,0.089152,0.158586,0.107773,0.053358,0.099524
1,11-1011,Chief Executives,0.258425,0.000000,0.131592,0.171556,0.004043,0.567857,0.000000,0.000000,...,0.363036,0.031480,0.404991,0.281693,0.000000,0.000000,0.474038,0.000000,0.133849,0.000000
2,11-1021,General and Operations Managers,0.124661,0.000000,0.048296,0.219869,0.000000,0.690813,0.061049,0.108675,...,0.337179,0.000000,0.665379,0.152718,0.013947,0.000000,0.629064,0.165161,0.205855,0.000000
3,11-2011,Advertising and Promotions Managers,0.095136,0.000000,0.181521,0.159007,0.000000,0.331744,0.000000,0.000000,...,0.259656,0.000000,0.380058,0.231519,0.000000,0.000000,0.324011,0.000000,0.220000,0.000000
4,11-2021,Marketing Managers,0.266877,0.000000,0.189311,0.346700,0.000000,0.701337,0.000000,0.000000,...,0.313184,0.000000,0.325519,0.168809,0.000000,0.000000,0.309666,0.000000,0.276108,0.000000

# Skill Network Edges

In [112]:
mst_edges.to_csv("../static/data/network_csv/skill_edges.csv", index=None)

# Skill Network Nodes

In [113]:
cols = skill_dna_2008_df.columns.tolist()[2:]

In [114]:
for i, r in skill_dna_2008_df.iterrows():
    skillmap = {}
    skillmap["job_title"] = r['Job Title']
    skillmap["job_code"] = r['SOC Code']  
    
    skill_list = []
    
    for col in cols:
        skill_dict = {"skill_name": skill_code_to_name[col],
                      "skill_code":col,
                      "task_name": skill_code_to_task[col],
                      "automation_2019":skill_dna_2019_df.iloc[i][col],
                      "automation_2008":skill_dna_2008_df.iloc[i][col],                                     
                      "automation_2008_2019":skill_dna_2008_2019_df.iloc[i][col],
                     }
        skill_list.append(skill_dict)  

    skillmap["skill_list"] = skill_list
        
    #with open('../static/data/network/'+r1['Job Code']+'-2019'+'.json', 'w') as outfile:
    with open('../static/data/network/'+skill_dna_2008_df.iloc[i]['SOC Code']+'.json', 'w') as outfile:
        json.dump(skillmap, outfile)

# Task Clusters

In [115]:
import pandas as pd

In [116]:
task_cluster = {}

task_cluster['Race with the Machine'] = ['Interpersonal Task', 'Administrative Task and Communication']

task_cluster['Race against the Machine'] = ['Information Processing', 'Routine Problem Solving',
                                           'Vehicle and Equipment Operation', 'Machine Control',
                                           'Equipment Maintenance', 'General Physical Task']

task_cluster['Race ahead of the Machine'] = ['Systems Thinking', 'Creative and Critical Thinking']

task_cluster['Running a Different Race'] = ['Dynamic Physical Task', 'Hazardous and Group Task',
                                           'Conflict Resolution', 'Management and Supervision']

In [117]:
flatten_task_cluster = []

for task_cluster_nm, tasks in task_cluster.items():
    for task in tasks:
        flatten_task_cluster_dict = {}
        flatten_task_cluster_dict['task_name'] = task
        flatten_task_cluster_dict['task_cluster'] = task_cluster_nm
        flatten_task_cluster.append(flatten_task_cluster_dict)

In [118]:
task_cluster_df = pd.DataFrame(flatten_task_cluster)

In [119]:
task_cluster_df.to_csv("../static/data/network_csv/task_cluster.csv", index=None)