In [4]:
# -*- coding: utf-8 -*-
import pandas as pd
import json

In [5]:
year='2008~2020'
panel6_df = pd.read_csv("../static/data/csv/Panel 6 {}.csv".format(year))

In [6]:
panel6_df.head()

,AREA,AREA_NAME,Employment,Automation Index,Race with the Machine,Race against the Machine,Race ahead of the Machine,Running a Different Race,Lat,Long
0,11260,"Anchorage, AK",140960,0.001995,0.023568,-0.019828,0.008063,-0.009808,62.212784,-149.678222
1,21820,"Fairbanks, AK",21830,0.001145,0.032490,-0.027438,-0.000012,-0.003894,64.676044,-146.548159
2,11500,"Anniston-Oxford-Jacksonville, AL",31360,0.006098,0.021102,-0.015735,0.003868,-0.003137,33.771706,-85.822513
3,12220,"Auburn-Opelika, AL",44450,0.002810,0.019959,-0.025568,0.003915,0.004504,32.604064,-85.353048
4,13820,"Birmingham-Hoover, AL",452200,0.002095,0.021134,-0.020812,0.008039,-0.006266,33.462372,-86.814338

In [7]:
panel6_df.columns

Index(['AREA', 'AREA_NAME', 'Employment', 'Automation Index',
       'Race with the Machine', 'Race against the Machine',
       'Race ahead of the Machine', 'Running a Different Race', 'Lat', 'Long'],
      dtype='object')

In [8]:
task_types = ['Race with the Machine',
                'Race against the Machine','Race ahead of the Machine',
                'Running a Different Race'] #, 'Changing the Course of a Race'

In [9]:
import json

for task_type in task_types:
    map_list = []
    for i, r in panel6_df.iterrows():
        map_dict = {}
        map_dict['Location'] = r['AREA_NAME']
        map_dict['year'] = year
        map_dict['area'] = r['AREA']        
        map_dict['Lat'] = r['Lat']    
        map_dict['Lng'] = r['Long']        
        map_dict['ai'] = r['Automation Index']                
        map_dict['task_type'] = task_type
        map_dict['e'] = r['Employment']                
        map_dict['employment'] = r['Employment']        
        map_dict['ai_task_type'] = r[task_type]
        map_list.append(map_dict)
        
    with open('../static/data/map/'+str(year)+'_'+task_type+'.js', 'w') as outfile:    
        outfile.write('tilde.cities = ' + json.dumps(map_list))
        outfile.close()