In [25]:
# -*- coding: utf-8 -*-
import pandas as pd
import json

In [26]:
mst_edges = pd.read_excel("../static/data/xlsx/MST Edges.xlsx")

In [27]:
skill_dna_2008_df = pd.read_excel("../static/data/xlsx/Skill DNA v2.xlsx", sheetname='2008')
skill_dna_2019_df = pd.read_excel("../static/data/xlsx/Skill DNA v2.xlsx", sheetname='2019')
skill_dna_2008_2019_df = pd.read_excel("../static/data/xlsx/Skill DNA v2.xlsx", sheetname='2008-2019')

In [28]:
skill_dna_name_refer = pd.read_excel("../static/data/xlsx/Skill DNA.xlsx", sheetname='Automation Level')

In [29]:
skill_code_to_name = {r['ElementID']:r['node'] for i,r in skill_dna_name_refer.iterrows()}
skill_code_to_task = {r['ElementID']:r['Task'] for i,r in skill_dna_name_refer.iterrows()}

In [30]:
skill_dna_2008_2019_df.head()

,SOC Code,Job Title,2.A.2.b,1.A.2.c.2,1.A.1.c.2,4.C.1.a.2.h,4.C.2.a.1.e,4.A.4.b.4,4.C.2.c.1.c,4.A.1.b.2,...,2.B.1.d,4.C.2.b.1.f,4.C.1.c.2,2.A.2.a,4.A.3.b.6,4.C.3.d.3,4.C.3.a.2.a,1.A.4.b.3,4.A.4.a.6,1.A.2.a.3
0,00-0000,Total Average,-0.000125,-0.000275,0.000148,-0.000192,-0.000011,0.000022,0.000023,0.00026,...,0.000313,-0.000026,-0.000185,0.000405,-0.000009,-0.000078,0.000131,0.000266,0.000174,0.000194
1,11-1011,Chief Executives,0.002307,0.000000,0.000204,-0.001708,0.000096,0.001723,0.000000,0.00000,...,-0.001028,0.000726,-0.002655,0.000846,0.000000,0.000000,-0.000375,0.000000,-0.003008,0.000000
2,11-1021,General and Operations Managers,0.003511,0.000000,0.001622,-0.001470,0.000000,0.001967,0.000116,-0.00062,...,0.001629,0.000000,-0.003292,0.002429,0.000869,0.000000,-0.004166,-0.005658,-0.005135,0.000000
3,11-2011,Advertising and Promotions Managers,0.001678,0.000000,-0.001619,0.007048,0.000000,-0.005032,0.000000,0.00000,...,0.001285,0.000000,-0.000521,0.007258,0.000000,0.000000,-0.003053,0.000000,0.001899,0.000000
4,11-2021,Marketing Managers,0.007517,0.000000,0.000776,-0.004744,0.000000,-0.000903,0.000000,0.00000,...,0.005449,0.000000,0.002794,0.002902,0.000000,0.000000,-0.001368,0.000000,0.000003,0.000000

In [31]:
def standardizer(df, col):
    df[col] -= df[col].min()
    df[col] /= df[col].max()
    
    #df[col] = (30**df[col]-1)/30
    
    #df[col] = [0.5 if value > 0.5 else value for value in df[col]]
    
    #df[col] = df[col]*200
    #df[col] = df[col]+10
    return df

In [32]:
def standardizer_diff(df, col):
    df[col] -= df[col].min()
    df[col] /= df[col].max()
    
    df[col] = (50**df[col]-1)/50
    
    #df[col] = [0.6 if value > 0.6 else value for value in df[col]]
    
    #df[col] = df[col]*200
    #df[col] = df[col]+10
    return df

In [33]:
for col in skill_dna_2008_df.columns.tolist()[2:]:
    skill_dna_2008_df = standardizer(skill_dna_2008_df, col)
    skill_dna_2019_df = standardizer(skill_dna_2019_df, col)
    skill_dna_2008_2019_df = standardizer_diff(skill_dna_2008_2019_df, col)

In [34]:
skill_dna_2008_2019_df.head()

,SOC Code,Job Title,2.A.2.b,1.A.2.c.2,1.A.1.c.2,4.C.1.a.2.h,4.C.2.a.1.e,4.A.4.b.4,4.C.2.c.1.c,4.A.1.b.2,...,2.B.1.d,4.C.2.b.1.f,4.C.1.c.2,2.A.2.a,4.A.3.b.6,4.C.3.d.3,4.C.3.a.2.a,1.A.4.b.3,4.A.4.a.6,1.A.2.a.3
0,00-0000,Total Average,0.155094,0.315455,0.290686,0.112535,0.100540,0.095815,0.231591,0.101303,...,0.084015,0.123198,0.140921,0.164031,0.076954,0.073518,0.119879,0.136629,0.056352,0.089136
1,11-1011,Chief Executives,0.215698,0.322679,0.291856,0.088290,0.101778,0.129800,0.230810,0.097099,...,0.071954,0.138399,0.104823,0.172767,0.077009,0.073989,0.113866,0.131065,0.038863,0.086323
2,11-1021,General and Operations Managers,0.253047,0.322679,0.323183,0.091774,0.100662,0.135439,0.234716,0.087662,...,0.097391,0.123705,0.096909,0.207750,0.082485,0.073989,0.076296,0.050003,0.029466,0.086323
3,11-2011,Advertising and Promotions Managers,0.198250,0.322679,0.255731,0.327864,0.100662,0.033918,0.230810,0.097099,...,0.093733,0.123705,0.135456,0.358788,0.077009,0.073989,0.086077,0.131065,0.067921,0.086323
4,11-2021,Marketing Managers,0.425434,0.322679,0.304141,0.052255,0.100662,0.080690,0.230810,0.097099,...,0.146763,0.123705,0.198586,0.219394,0.077009,0.073989,0.102794,0.131065,0.055297,0.086323

# Skill Network Edges

In [35]:
mst_edges.to_csv("../static/data/network_csv/skill_edges.csv", index=None)

# Skill Network Nodes

In [ ]:
cols = skill_dna_2008_df.columns.tolist()[2:]

In [ ]:
for i, r in skill_dna_2008_df.iterrows():
    skillmap = {}
    skillmap["job_title"] = r['Job Title']
    skillmap["job_code"] = r['SOC Code']  
    
    skill_list = []
    
    for col in cols:
        skill_dict = {"skill_name": skill_code_to_name[col],
                      "skill_code":col,
                      "task_name": skill_code_to_task[col],
                      "automation_2019":skill_dna_2019_df.iloc[i][col],
                      "automation_2008":skill_dna_2008_df.iloc[i][col],                                     
                      "automation_2008_2019":skill_dna_2008_2019_df.iloc[i][col],
                     }
        skill_list.append(skill_dict)  

    skillmap["skill_list"] = skill_list
        
    #with open('../static/data/network/'+r1['Job Code']+'-2019'+'.json', 'w') as outfile:
    with open('../static/data/network/'+skill_dna_2008_df.iloc[i]['SOC Code']+'.json', 'w') as outfile:
        json.dump(skillmap, outfile)

# Task Clusters

In [1]:
import pandas as pd

In [2]:
task_cluster = {}

task_cluster['Race with the Machine'] = ['Interpersonal Task', 'Administrative Task and Communication']

task_cluster['Race against the Machine'] = ['Information Processing', 'Routine Problem Solving',
                                           'Vehicle and Equipment Operation', 'Machine Control',
                                           'General Physical Task']

task_cluster['Race ahead of the Machine'] = ['Systems Thinking', 'Creative and Critical Thinking']

task_cluster['Running a Different Race'] = ['Equipment Maintenance', 'Dynamic Physical Task', 'Hazardous and Group Task',
                                           'Conflict Resolution', 'Management and Supervision']

In [3]:
flatten_task_cluster = []

for task_cluster_nm, tasks in task_cluster.items():
    for task in tasks:
        flatten_task_cluster_dict = {}
        flatten_task_cluster_dict['task_name'] = task
        flatten_task_cluster_dict['task_cluster'] = task_cluster_nm
        flatten_task_cluster.append(flatten_task_cluster_dict)

In [4]:
task_cluster_df = pd.DataFrame(flatten_task_cluster)

In [5]:
task_cluster_df.to_csv("../static/data/network_csv/task_cluster.csv", index=None)