In [1]:
# -*- coding: utf-8 -*-
import pandas as pd
import json

In [13]:
year='2008~2020'
panel6_df = pd.read_csv("../static/data/csv/Panel 6 {}.csv".format(year))

In [14]:
panel6_df.head()

,AREA,AREA_NAME,Employment,Automation Index,Race with the Machine,Race ahead of the Machine,Changing the Course of the Race,Race against the Machine,Running a Different Race,Lat,Long
0,11260,"Anchorage, AK",140960,0.038786,0.032225,0.014809,-0.001975,-0.003891,-0.002381,62.212784,-149.678222
1,21820,"Fairbanks, AK",21830,0.037655,0.040430,0.006345,-0.012596,-0.000273,0.003748,64.676044,-146.548159
2,11500,"Anniston-Oxford-Jacksonville, AL",31360,0.032945,0.026705,0.007530,-0.002825,-0.002337,0.003872,33.771706,-85.822513
3,12220,"Auburn-Opelika, AL",44450,0.010652,0.021585,0.004802,-0.014807,-0.007164,0.006236,32.604064,-85.353048
4,13820,"Birmingham-Hoover, AL",452200,0.030324,0.027478,0.012979,-0.005166,-0.004878,-0.000089,33.462372,-86.814338

In [15]:
panel6_df.columns

Index(['AREA', 'AREA_NAME', 'Employment', 'Automation Index',
       'Race with the Machine', 'Race ahead of the Machine',
       'Changing the Course of the Race', 'Race against the Machine',
       'Running a Different Race', 'Lat', 'Long'],
      dtype='object')

In [16]:
task_types = ['Race with the Machine', 'Race ahead of the Machine', 'Changing the Course of the Race',
                                                      'Race against the Machine', 'Running a Different Race'
             ] #, 'Changing the Course of a Race'

In [17]:
import json

for task_type in task_types:
    map_list = []
    for i, r in panel6_df.iterrows():
        map_dict = {}
        map_dict['Location'] = r['AREA_NAME']
        map_dict['year'] = year
        map_dict['area'] = r['AREA']        
        map_dict['Lat'] = r['Lat']    
        map_dict['Lng'] = r['Long']        
        map_dict['ai'] = r['Automation Index']                
        map_dict['task_type'] = task_type
        map_dict['e'] = r['Employment']                
        map_dict['employment'] = r['Employment']        
        map_dict['ai_task_type'] = r[task_type]
        
        map_dict['race_with'] = r['Race with the Machine']
        map_dict['race_ahead'] = r['Race ahead of the Machine']
        map_dict['change'] = r['Changing the Course of the Race']
        map_dict['race_against'] = r['Race against the Machine']
        map_dict['different'] = r['Running a Different Race']
        
        map_list.append(map_dict)
        
    with open('../static/data/map/'+str(year)+'_'+task_type+'.js', 'w') as outfile:    
        outfile.write('tilde.cities = ' + json.dumps(map_list))
        outfile.close()